article {

  a { 
    font-weight: 600;
    border-bottom: 2px dotted $base-accent-color;
  }
  .breadcrumb {
    margin-bottom: em(40);
  }
  .practical {
  }

  .tagline {
    font-weight: 800;
  }

  header {
    margin-bottom: 0;
    h1 {
      margin-bottom: em(5);
    }
  }


  .content {
    float: left;
    @include media($medium-screen) {
      @include span-columns(8);
    }
    margin-top: em(20);
    h2 {
      margin-top: em(20);
      margin-bottom: em(10);
      font-size: $base-font-size * 1.6;
      color: darken($base-accent-color, 20);
    }
    h3 {
      font-size: $base-font-size * 1;
    }


    ol {
      @extend %default-ol;
    }
    ul {
      @extend %default-ul;
    }
  }
  aside {
    float: right;
    display: none;
    img {
      padding: 3px;
      border: 1px solid $medium-gray;
    }
    @include media($medium-screen) {
      display: block;
    }
  }

  table.timetable {
    overflow: hidden;
    margin-top: em(40);
    padding-top: em(20);
    td.hour {
      width: 20%;
      vertical-align: top;
    }
  }
}
