article.contact {
  header {
    margin-bottom: $base-line-height;

    h1 {
      margin-bottom: 0px;
    }
  }

  .content {
    margin-top: 0px;
    margin-bottom: em(20);
  }

  aside {
    display: block;
    float: none;
    @include media($medium-screen) {
      float: right;
    }
  }
}
