article.mission {
  
  header {
    h1 {
      line-height: 1.1;
    }
  }
  h2 {
    @include media($medium-screen) {
      margin-bottom: em(10);
    }
  }

    .content {
      max-width: 37.5rem;
      @include media($medium-screen) {
        @include span-columns(8 of 12);
        margin-top: 0;
        padding: 4.2em;
        padding-left: 0px;
        padding-top: 0px;
        float: left;
      }

      p {
        margin: 0 0 1.6em;
      }
    }
    aside {
      @include media($medium-screen) {
        float: right;
        margin-left: 0;
        @include span-columns(4 of 12);
      }
    }

}

