.publication-item {
  margin-left: em(20);
  margin-right: em(20);
  @include media($medium-screen) {
    @include outer-container;
  }

  header {
    margin-bottom: 0;
    h2 {
      font-size: 1.25em;
      margin-bottom: 0;
      @include media($medium-screen) {
        font-size: 1.953em;
        line-height: 1.2;
      }
    }
  }
}
