article.research-group {

  .breadcrumb {
    margin-bottom: em(40);
  }

  h1 {
    @include media($medium-screen) {
      font-size: 2.411em;
    }
    line-height: 1.1;
  }

  ul {
    @extend %default-ul;
  }

  .practical {
    float: left;
    margin-bottom: 1.25em;
    @include media($medium-screen) {
      @include span-columns(8 of 12);
    }
    p {
      font-size: $base-font-size;
      @include media($medium-screen) {
        font-size: $base-font-size;
      }
    }
  }
  .content {
    float: left;
    margin-top: 0px;
    @include media($medium-screen) {
      @include span-columns(8 of 12);
      padding: 4.2em;
      padding-left: 0px;
    }

    p {
      margin: 0 0 1.6em;
    }

  }
  aside {
    @include span-columns(4 of 12);
    @include omega();
    float: right;
    display: none;

    @include media($portrait-screen) {
      display: block;
    }

    @include media($medium-screen) {
      display: block;
    }
  }
}
