<footer class="footer-2" role="contentinfo">
  <div class="footer-logo">
    <img src="images/logo-dicis-transparent-205x60.png" alt="Logo Image">
  <span class="logo-text">Digital Cinema Studies</span>
  </div>
    <ul>
      <li><a href="/contact.html">Contact</a></li>
      <li><a href="/sitemap.html">Sitemap</a></li>
    </ul>

    <div class="footer-secondary-links">
      <ul>
        <li><a href="javascript:void(0)">&copy; UGent 2014</a></li>
      </ul>

      <ul class="footer-social">
        <li><a href="/disclaimer.html" rel="license">Disclaimer</a></li>
      </ul>
    </div>
</footer>


