<header class="navigation">
  <div class="navigation-wrapper">
    <a href="/" class="logo">
      <img src="images/logo-dicis-black-205x60.jpg" alt="Logo Image">
    </a>
    <a href="" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <div class="nav">
      <ul id="navigation-menu">
        <li class="nav-link"><a href="/mission.html">Mission</a></li>
        <li class="nav-link"><a href="/people.html">People</a></li>
        <li class="nav-link"><a href="/activities.html">Activities</a></li>
        <li class="nav-link"><a href="/research.html">Research</a></li>
        <li class="nav-link"><a href="javascript:void(0)">Publications</a></li>
        <li class="nav-link"><a href="/contact.html">Contact</a></li>
      </ul>
    </div>
  </div>
</header>
