<header class="navigation">
  <div class="navigation-wrapper">
    <a href="/" class="logo">
      <img src="images/logo-dicis-transparent-205x60.png" alt="Logo Image">
    </a>
    <a href="" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <nav class="nav" role="navigation">
      <ul id="navigation-menu">
        <li class="nav-link"><a href="/mission.html">Mission</a></li>
        <li class="nav-link"><a href="/people.html">People</a></li>
        <li class="nav-link"><a href="/activities.html">Activities</a></li>
        <li class="nav-link"><a href="/research.html">Research</a></li>
        <li class="nav-link"><a href="/publications.html">Publications</a></li>
        <li class="nav-link"><a href="/contact.html">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>
