<article class="introduction">
  <header>
    <h1>DICIS Activities</h1>
  </header>
  <p>DICIS will concretize the goals set above by organizing topical open access seminars on particular issues in relation to DH and cinema studies,  initiating regular collaborative publications and facilitating the international mobility of experts.</p><p>The DICIS network wants to keep the organization of the meetings as open, flexible and fluid as possible, leaving the structure of the seminars, the organization, planning, onset and goal open for interpretation by a designated moderator or curator.</p>
</article>

<ul class="activities accordion-tabs">
  <li class="tab-header-and-content">
    <a href="#" class="is-active tab-link">Forthcoming Activities</a>
    <div class="tab-content">
      <div class="activity">
        <img src="/images/digital-fandom-150x150.jpg" />
        <h2><a href="/digital-fandom-conference.html">‘Digital Fandom Conference</a></h2>
        <p class="date">September, Ghent University</p>
        <p>Digitalization, Fan Magazines and Historical Audiences Studies’ Conference</p>
      </div>
      <div class="activity">
        <img src="/images/cinema.jpg" />
        <h2><a href="/digital-cinema-studies-workshop.html">Digital Cinema Studies Workshop</a></h2>
        <p class="date">June 2015, University of Glasgow</p>
      </div>
      <div class="activity">
        <img src="/images/cinema.jpg" />
        <h2><a href="/digital-humanities-in-flanders.html">‘Digital Humanities in Flanders’ Workshop</a></h2>
        <p class="date">18 December 2014, Antwerp University</p>
      </div>
      <div class="activity">
        <img src="/images/h2020-150x37.png" />
        <h2><a href="/horizon-2020-writing-seminar.html">'Horizon 2020' Writing Seminar</a></h2>
        <p class="date">7 November 2014, London British Library</p>
      </div>
    </div>
  </li>
  <li class="tab-header-and-content">
    <a href="#" class="tab-link">Past Activities</a>
    <div class="tab-content">
      <div class="activity">
        <h2><a href="/horizon-2020-working-seminar-ghent-university.html">‘Horizon2020’ Work Seminar</a></h2>
        <p class="date">September 19, Ghent University</p>
      </div>
      <div class="activity">
        <h2><a href="/how-can-digital-history-cinema-matter-more-workshop.html">‘How can digital cinema history matter more?’ Workshop</a></h2>
        <p class="date">June 27, Glasgow School of Art's Digital Design Studio</p>
      </div>
      <div class="activity">
        <h2><a href="/comparative-approaches-to-moviegoing-exhibition-and-reception-workshop.html">Comparative Approaches to moviegoing, Exhibition and Reception’ Workshop</a></h2>
        <p class="date">June 19, Catholic University of Milan</p>
      </div>
      <div class="activity">
        <h2><a href="/launch-and-board-meeting-dicis.html">Launch & Board meeting DICIS</a></h2>
        <p class="date">June 18, Catholic University of Milan</p>
      </div>
    </div>
  </li>
</ul>

<script>
$(document).ready(function () {
  $('.accordion-tabs').each(function(index) {
    $(this).children('li').first().children('a').addClass('is-active').next().addClass('is-open').show();
  });

  $('.accordion-tabs').on('click', 'li > a', function(event) {
    if (!$(this).hasClass('is-active')) {
      event.preventDefault();
      var accordionTabs = $(this).closest('.accordion-tabs');
      accordionTabs.find('.is-open').removeClass('is-open').hide();

      $(this).next().toggleClass('is-open').toggle();
      accordionTabs.find('.is-active').removeClass('is-active');
      $(this).addClass('is-active');
    } else {
      event.preventDefault();
    }
  });
});
</script>
