---
title: "Centre for Cinema Studies (CIMS)"
description: "The Centre for Cinema and Media Studies (CIMS) is connected to Ghent University"
---

<article class="research-group">
  <div class="breadcrumb">
    <a href="/research.html">Research</a>
    <a href="javascript:void(0)">Centre for Cinema and Media Studies</a>
  </div>
  <header>
    <h1>Centre for Cinema and Media Studies</h1>
  </header>
  <aside>
    <img src="/images/logo-cims-300x36.jpg" alt="logo centre for cinema and media studies" />
  </aside>
  <div class="practical">
    <p><i class="fa fa-map-marker left"></i><strong>Ghent University</strong><br />
    Korte Meer 7-11, 9000 Gent</p>
    <p><i class="fa fa-phone left"></i><a href="#">+329264 91 86</a><br />
    <i class="fa fa-phone left"></i><a href="#">+329264 69 92</a><br />
    <i class="fa fa-home left"></i><a href="http://www.cims.ugent.be/">www.cims.ugent.be</a>
    </p>
    <p>
    <i class="fa fa-user left"></i><a href="/daniel-biltereyst.html">Daniël Biltereyst</a> (Professor)<br />
    <i class="fa fa-user left"></i><a href="/lies-van-de-vijver.html">Lies Van de Vijver</a> (Post-doctoral researcher)</p>
  </div>
  <div class="content">
    <p>The Centre for Cinema and Media Studies (CIMS), connected to Ghent University, hosts different lines of research which are defined by a critical perspective and an acknowledgement of the vital role that screen and media culture plays in disseminating tastes, values and ideology in society.</p>
    <p>By investigating production, content and reception, CIMS argues that the use of diverse media - as signifying articulations - is crucial for negotiating meaning. Objects of inquiry involve contemporary phenomena as well as more historically oriented cases. Next to film and television, research projects also concentrate on other media platforms, including print (book, newspapers, ...) and digital media (gaming, social network sites, ...). </p>
    <p>Applying qualitative research methods and often in combination with more quantitative-oriented methods, CIMS has initiated and developed some long-term research activities on film censorship, policy and exhibition; issues of gender and sexuality in relation to media; news coverage of societal topics such as genetically modified food, health issues and suffering or disasters; representation of identity and minorities; celebritization of society and media; ...</p>
  </div>
</article>
