---
title: "CFP: Symposium Movie Theatres in Wartime"
description: "Scholars are hereby invited to sign up for a hands-on symposium on film exhibition and distribution during World War II"
---

<article class="news-item">
  <div class="breadcrumb">
    <a href="/activities.html">Activities</a>
    <a href="javascript:void(0)">CFP: Symposium Movie Theatres in Wartime</a>
  </div>
  <header>
    <h1>CFP: Symposium Movie Theatres in Wartime</h1>
    <h2>Comparative Research on Film Distribution and Exhibition During World War II</h2>
  </header>
  <footer>
    <p>Posted on <time datetime="2019-10-31 09:37">31 Octobre 2019</time></p>
  </footer>
  <div class="content">
    <p>CFP: Symposium Movie Theatres in Wartime</p>
    <p>4-6 June 2020, Amsterdam</p>
    <p>The call for participants can be downloaded <a href="../documents/cfp-symposium-movie-theatres-in-wartime.pdf">here</a>.</p>
    <p>Scholars are hereby invited to sign up for a hands-on symposium on film exhibition and distribution during World War II. The purpose of the symposium is threefold: (1) developing and sharing methodological expertise in compiling, analysing and comparing data on historical film programming; (2) gaining more insight in the transnational patterns of film supply and demand during the war, across belligerent and neutral countries; (3) building and strengthening a network of scholars with a shared interest in the topic. The symposium follows up on the workshop “Film Distribution, Exhibition and Consumption during the Second World War” (Leuven, 2018) by the same organisers.</p>
    <p>The symposium is co-produced by CREATE (University of Amsterdam) and DICIS (Scientific Research Network on Digital Cinema Studies) and hosted by the NIOD Institute for War, Holocaust and Genocide Studies and the University of Amsterdam. It will consist of two main segments: a seminar with brief presentations, and a workshop where participants will work hands-on with the collaboratively collected data. Participants in the symposium are requested to compile, in advance, a data set that consists of film programming data, according to a fixed data model, in order to allow for comparative analysis. Afterwards, all data will be made publicly available in an open access environment.</p>
  </div>
  <aside>
    <img src="/images/marika-rokk.jpg" alt="Marika Rokk" />
  </aside>
</article>