---
title: "CFP: Research Methods in Film Studies: Challenges and Opportunities"
description: "Aiming to explore a wide range of approaches, this conference invites contributions that engage with current methodological challenges and opportunities in Film Studies"
---

<article class="news-item">
  <div class="breadcrumb">
    <a href="/news.html">News</a>
    <a href="javascript:void(0)">CFP: Research Methods in Film Studies: Challenges and Opportunities</a>
  </div>
  <header>
    <h1>CFP: Research Methods in Film Studies: Challenges and Opportunities</h1>
  </header>
  <footer>
    <p>Posted on <time datetime="2019-01-23 09:37">23 Januari 2019</time></p>
  </footer>
  <div class="content">
    <p>CFP: Research Methods in Film Studies: Challenges and Opportunities</p>
    <p>18-19 October 2019, Ghent, Belgium</p>
    <p>Keynote speakers:<br>
    Catherine Grant (Birkbeck, University of London)<br>
    Barbara Flueckiger (Zurich University)</p>
    <p>The academic study of film has involved looking at generic conventions, authorial features, and the use and function of different aspects of film language, including mise-en-scène, narrative, editing and sound. Film Studies has also examined the relationship between film and society, by contemplating issues such as race and gender, the on- and off-screen construction of stardom, the association between cinema, ideology and propaganda, and the way in which films mirror and shape national and transnational identities. The industrial features of film, film policy and legislation, as well as matters of film reception, distribution and exhibition, venues and audiences (cf. the New Cinema History Movement) have also been extensively considered by scholars, within and beyond the discipline.</p>
    <p>Research questions and methodologies from the humanities and social sciences have often been used in conjunction in the analysis of this multitude of topics. The history of Film Studies is thus one of transdisciplinarity. As the discipline moves forward, and its future is called into question – both in relation to debates about the post-cinematic era (Denson and Leyda 2016) and the changing academic context (Fairfax 2017) – methodological considerations have been given greater attention in academic discussions. This is at least partly connected to the rise of the Digital Humanities, which has afforded the study of film with a variety of new digital sources, tools and methods, as well as a growing interest in quantitative data, which allows for new forms of analysis of film texts, industries, audiences and cultures. At the same time, more traditional methods, such as the multiple approaches to textual analysis, the use of interviews and surveys, as well as archival research, retain their important place within Film Studies. The wide variety of methodologies adopted by researchers of film across the globe have meant the discipline is now faced with a series of challenges and opportunities.</p>
    <p>Aiming to explore a wide range of approaches, this conference invites contributions that engage with current methodological challenges and opportunities in Film Studies. We welcome theoretical contributions on methodological issues in Film Studies, papers or workshop sessions on specific methods, as well as research papers paying considerable attention to the methodological framework at stake.</p>
    <p>Abstracts are invited on topics related to research methods in Film Studies, including but not limited to:</p>
    <ul>
    <li>Statistical methods for textual analysis</li>
    <li>Film Studies and big data</li>
    <li>Text mining in Film Studies</li>
    <li>CAQDAS and Film Studies</li>
    <li>Cinema and social network analysis</li>
    <li>Audience research</li>
    <li>Methods in New Cinema History</li>
    <li>Production analysis and film policy research</li>
    <li>Film and video as methodological tools</li>
    <li>Narrative analysis</li>
    <li>Archival research</li>
    <li>Methodological issues in specific schools of film analysis (e.g. feminism, phenomenology, neoformalism, auteurism, post-structuralism, critical theory, cultural studies, political economy ...)</li>
    <li>Neurocinematics and neuroscience of film</li>
    </ul>
    <p>The conference will also host a special panel organized by the ECREA Television Studies section. The section invites paper proposals devoted to new methodologies in the research of television fiction and non-fiction content. The section welcomes submissions that explore comparisons, international approaches and examples of concrete and innovative case studies, in order to shed light on the future of TV Studies in the new digital context.</p>
    <p>Please submit your abstract (max 300 words) along with key references, institutional affiliation and a short bio (max 150 words) or a panel proposal, including a panel presentation (max 300 words) along with minimum 3, maximum 4 individual abstracts.</p>
    <p>Submission deadline: 12 May 2019.</p>
    <p>Proposal acceptance notification: 21 June 2019.</p>
    <p>Please send your abstract/panel proposals to the conference email address:
    <a href="mailto:filmstudiesecrea@gmail.com">filmstudiesecrea@gmail.com</a></p>
    <p>ECREA membership is not required to participate in the conference. The conference fee will not exceed 70 EUR and will include coffee breaks, lunches and receptions.</p>
    <p>The conference takes place in Ghent and is hosted by Ghent University and the University of Antwerp. The conference is organised by the ECREA Film Studies Section in co-operation with DICIS (Digital Cinema Studies network), the Research Center for Visual Poetics at the University of Antwerp, the Centre for Cinema and Media Studies at Ghent University, the Visual and Digital Cultures Research Center at the University of Antwerp, and the Popular Communication division of NeFCA.</p>
    <p>Conference organisers: Gertjan Willems (University of Antwerp/Ghent University), Sergio Villanueva Baselga (Universitat de Barcelona), Mariana Liz (University of Lisbon)</p>
    <p>Conference website: <a href="https://ecreafilmstudies2019.wordpress.com">https://ecreafilmstudies2019.wordpress.com</a></p>
  </div>
  <aside>
    &nbsp;
  </aside>
</article>