---
title: "CINECOS Project (2018-21) launched"
description: "CINECOS is an inter-university HERCULES infrastructure project, which resulted from workshops and networking through DICIS"
---

<article>
  <div class="breadcrumb">
    <a href="/news.html">News</a>
    <a href="javascript:void(0)">CINECOS Project (2018-21) launched</a>
  </div>
  <header>
    <h1>CINECOS Project (2018-21) launched</h1>
  </header>
  <div class="practical">
    <p><i class="fa fa-calendar left"></i><time datetime="2018-11-6">6 November 2018</time><br />
    </p>
  </div>
  <aside>
      &nbsp;
  </aside>
  <div class="content">
    <p>CINECOS is an inter-university HERCULES infrastructure project, which resulted from workshops and networking through DICIS. CINECOS will develop an open access platform for sharing, enriching, analysing and sustaining data on cinema history in Flanders and Belgium from 1896 onwards. Integrating more than a dozen of existing datasets covering key aspects of production, distribution, exhibition, programming, censorship and reception, the CINECOS platform will significantly improve the understanding and further exploration of cinema as a dominant public entertainment industry and as lived popular culture. CINECOS aims at (a) integrating these datasets, (b) enriching them with cinema heritage collections including posters, reviews and photographs as well as digitally-encoded oral histories and (c) making them available as open access, (d) hence facilitating (inter) national data exchange and comparative research. CINECOS will ensure that these valuable research assets are Findable, Accessible, Interoperable and Reusable (FAIR) for future generations of film historians, other researchers and users in Belgium and beyond. CINECOS, which is inspired by the Cinema Context platform (UvA), will provide a robust platform for managing and sustaining this unique dataset and will facilitate data driven exploration and analysis using data visualisation, mapping, text-mining and other digital tools. Drawing on the expertise of the Ghent Centre for Digital Humanities and Platform Digital Humanities in Antwerp, CINECOS will be embedded into the DARIAH Virtual Research Environment Service Infrastructure and the HoMER network. For more information, see <a href="https://www.ugent.be/ps/communicatiewetenschappen/cims/en/research/cinema-ecosystem.htm">https://www.ugent.be/ps/communicatiewetenschappen/cims/en/research/cinema-ecosystem.htm</a></p>
  </div>
</article>
