---
title: "Cinema and Audiences in Australia Research Project (CAARP) Group" 
description: "investigates the significance of Australian cinemas as sites of social and economic activity"
---

<article class="research-group">
  <div class="breadcrumb">
    <a href="/research.html">Research</a>
    <a href="javascript:void(0)">Cinema and Audiences in Australia Research Project Group </a>
  </div>
  <header>
    <h1>Cinema and Audiences in Australia Research Project (CAARP) Group</h1>
  </header>
  <aside>
    <img src="/images/logo-flinders-university-250x92.png" />
  </aside>
  <div class="practical">
    <p><i class="fa fa-map-marker left"></i>
    <strong>Flinders University</strong><br />
    School of Humanities<br />
    GPO Box 2001, Adelaide, South Australia, 5000, Australia
    </p>
    <p><i class="fa fa-phone left"></i><a href="tel:61882013169">+618 8201 3169</a><br />
      <i class="fa fa-phone left"></i><a href="tel:61882013407">+618 8201 3407</a><br />
      <i class="fa fa-chain left"></i><a href="http://caarp.flinders.edu.au/">http://caarp.flinders.edu.au/</a>
    </p>
    <ul>
      <li>Richard Maltby (Matthew Flinders Distinguished Professor of Screen Studies)</li>
      <li>Deb Verhoeven (Professor of Media and Communication, Deakin University)</li>
      <li>Mike Walsh (Associate Professor of Screen and Media, Flinders University)</li>
      <li>Kate Bowles (Senior Lecturer in Media and Communication, University of Wollongong)</li>
      <li>Jill Julius Matthews (Professor of History, Australian National University)</li>
      <li>Colin Arrowsmith (Associate Professor of Geospatial Sciences, Royal Melbourne Institute of Technology)</li>
    </ul>
  </div>
  <div class="content">
    <p>Our research investigates the significance of Australian cinemas as sites of social and economic activity, examining critical periods in the development of the systems of film distribution and exhibition, including the thirty-year period surrounding the introduction of television in Australia.</p>
    <p>Our work combines archival, demographic and spatial data with oral histories to construct a GIS database of cinema venues and their neighbourhoods and generate maps of distribution practices and audience movements in order to analyse the responsiveness of cinemas and their audiences to social and cultural change. The project has been supported by five Discovery grants from the Australian Research Council since its inception in 2005.</p>
  </div>
</article>

