---
title: "A DICIS project: Cine Zoologie. An online digital archive and programming database."
description: "The Cinema Zoologie project makes available online the wonderful archive of Cine Zoologie."
---

<article>
  <div class="breadcrumb">
    <a href="/news.html">News</a>
    <a href="javascript:void(0)">A DICIS project: Cine Zoologie. An online digital archive and programming database.</a>
  </div>
  <header>
    <h1>A DICIS project: Cine Zoologie. An online digital archive and programming database.</h1>
  </header>
  <div class="practical">
    <p><i class="fa fa-calendar left"></i><time datetime="2018-06-27">27 June 2018</time><br />
    </p>
  </div>
  <aside>
      <img src="/images/cine-zoologie.jpg" alt="cine-zoologie" />
  </aside>
  <div class="content">
    <p>The Cinema Zoologie project makes available online the wonderful archive of Cine Zoologie.</p>
    <p>This exceptional first class movie theatre opened in the Antwerp Zoo (Belgium) in 1915. Following the German occupation of the city, the Zoo entered troubled waters. The animal population declined drastically. So did the membership of the Zoo. On the verge of bankruptcy, the director decided to open a movie theatre in the then unused 2400 seat concert hall that was part of the Zoo. Cinema Zoologie became an overnight success. Until the conversion to sound film in the early 1930s, Cinema Zoologie opted for a ciné-concert program, in which films and musical pieces were mingled. The music was performed by a small orchestra. In the late 1920s, the orchestra was first replaced with a phonograph and ultimately with sound film technology. Cinema Zoologie  repeated the same program several days a week. In line with the general membership of the Zoo, Cinema Zoologie attracted a predominantly bourgeois audience. Among other things, this was reflected in the beautifully designed program brochures that were sold to the audience every week.</p>
    <p>A complete set of Cinema Zoologie programs has been preserved as part of the general archive of the Royal Zoological Society of Antwerp, the organisation behind the Antwerp Zoo. The collection starts in 1916 and continues (with the exception of 1925-1929 when no programs were published) until the closing of the theatre in the summer of 1936. For a few years (1921-1925), the program was also published as a separate section in the cinema weeklies Ciné-Revue and Cinemawereld/Kinemawereld. These journals are also part of the Cine Zoologie archive. The Antwerp City Archive (FelixArchief) has recently digitized the entire collection. Next to the weekly programs, the brochures also feature summaries of the principal films and numerous advertisements by local advertisers as well as world-leading brands.</p>
    <p>This unique collection forms the backbone of the programming database developed by media historians Leen Engelen and Roel Vande Winkel (LUCA School of Arts / KU Leuven) since 2016. The database gives an overview of all the films and musical pieces shown/performed in Cinema Zoologie, 1915-1936. Engelen and Vande Winkel recently published a book on the history of Cinema Zoologie for the general readership, <a href="http://www.letterwerk.be/publ/cinezoologie.html">Cine Zoologie. Hoe film de Antwerpse dierentuin heeft gered</a> (Cine Zoologie. How film saved the Antwerp Zoo) (2018. Borgerhout: Letterwerk)</p>
    <p>With the support of the Royal Zoological Society of Antwerp, the entire digital archive and the  database are now made available through online the platform <a href="http://www.expocinezoologie.be">www.expocinezoologie.be</a>.  The platform was developed by Thomas Crombez (<a href="http://www.letterwerk.be/publ/cinezoologie.html">Letterwerk</a>). It is available in Dutch, French and English.</p>
    <p>The site enables users to browse through all the cinema programmes week by week as well as to search for specific dates, films, actors and actresses or production companies. The full text of the brochures is searchable, including the advertisements and additional articles. The site also makes available, for the first time, a collection of over 50 original film posters from the 1920s. Like the program brochures, the posters are designed by some of the finest artists of the city. Because of the exceptional graphic quality of these promotional materials, the site is also a delight for the general public. The online platform is an invaluable source for those interested in film, new cinema history, urban history, history of graphic design and typography.</p> 
  </div>
</article>
