---
title: "Comparative Approaches to moviegoing, Exhibition and Reception’ Workshop"
description: "How, and why, the experience of cinema is changing in the convergence era"
---
<article>
  <div class="breadcrumb">
    <a href="/activities.html">Activities</a>
    <a href="javascript:void(0)">‘Comparative Approaches to moviegoing, Exhibition and Reception’ Workshop</a>
  </div>
  <header>
    <h1>WORKSHOP METHODS (1): Comparative Approaches to moviegoing, Exhibition and Reception’ Workshop</h1>
  </header>
  <aside>
    <img src="/images/homer.jpg" alt="homer poster" />
  </aside>
  <div class="practical">
    <p><i class="fa fa-calendar left"></i><time datetime="2014-06-19">19 juni 2014</time><br />
    <i class="fa fa-map-marker left"></i>Catholic University of Milan</p>
  </div>
  <div class="content">
    <h2>Organization</h2>
    <p>HoMER in cooperation with DICIS</p>
    <h2>Agenda</h2>
    <p>9.15 – 9.45</p>
    <p>Welcome and Opening Remarks by local organizers (Mariagrazia Fanchi, 			Daniela Treveri Gennari, Francesco Pitassio, Pierluigi Ercole) and 				HoMER/DICIS (Daniel Biltereyst and Philippe Meers)</p>
    <p>9.45 – 10.30</p>
    <h3>keynote 1: the conflict of experiences (francesco casetti, yale university)</h3>
  <p>How, and why, the experience of cinema is changing in the convergence era? And to what extent is it still an experience “of cinema”? The talk will answer these questions both through an analysis on some specific situations and through a reshaping of our theoretical tools. First, it will discuss the very notion of “experience” and the idea that the experience of cinema can be “relocated” outside traditional venues. Second, the talk will focus on the cinematic apparatus, and will argue that it increasingly become an “assemblage,” i.e. a more flexible and contingent composite of permutable elements.  Third, the talk will take briefly in account the practices that today are distinctive of the out-of-theatre movie-going. More than attending a spectacle, spectators today deploy a set of practices that are either pre-requisites or determining factors of their own enjoyment—they are engaged in a “performance.” The conclusion is twofold. On the one side the whole picture reveals a persistence of cinematic experience that goes beyond any expectation.  On the other, it implies a deep change in our usual paradigms: concepts like “relocation,” “assemblage,” and “performance” assign relevance to new aspects and imply new methodologies.</p>
  <p>10.45 – 11.30</p>
  <h3>keynote 2 - Elisa Ravazzoli, Institute for Regional Development and Location Management, European Academy of Bolzano (EURAC Research) 
			geographical perspectives in film studies beyond maps and mapping
  </h3>
  <p>This keynote offers the opportunity to think about the different forms of film practices and consumption (film production, distribution, exhibition, consumption) in spatial and geographical terms (social, cultural and economic geographies) and by using spatial tools such as the GIS (geographical information System) and the digital technology (digital mapping and geo-spatial technology) more broadly. It has become very fashionable within the film studies field to study the relations and correlations between the spectators, the cinema/film/movie-going and the space, place, society by exploring the methods pertaining to GIS and spatial technology. However, the way these elements are combined and investigated can hide different aspects of the same subject. By investigating the relations between space and the elements presented above (Cinematic cartography) it is possible to identify at least six areas of investigation: 1) mapping the space of the film, 2) mapping film production and consumption, 3) mapping film locations and place marketing 4) cognitive and emotional mapping, 5) film as a spatial critique, and 6) the significance (meaning) of cinema-going locations in spectators’ experience and life</p>
  <table class="timetable">
    <tr>
      <td class="hour">11.30 – 12.30</td>
      <td>
        <p>discussion and Q&amp;A<br />
        Francesco Casetti, Richard Maltby, Elisa Ravazzoli and Deb Verhoeven<br />
        Q&amp;A – moderator: Judith Thissen</p>
      </td>
    </tr>
    <tr>
      <td class="hour">14.00 – 14.30</td>
      <td>
        <p>launch of homer website<br />
        Charlotte Crofts, Lies Van de Vijver and María A. Vélez-Serna</p>
      </td>
    </tr>
    <tr>
      <td class="hour">15.00 – 16.00</td>
      <td>
        <p>Small group discussion in three working groups<br />
        Palazzo della Canonica, Via Sant’Agnese 2.</p>
        <p>WG1: Cinema and digital humanities.<br />
        moderator: Lies Van de Vijver<br /> 
        rapporteur: Clara Pafort-Overduin</p>
        <p>WG2: Comparative, collaborative research and funding: Horizon 2020<br />
        moderator: Daniela Treveri Gennari<br />
        rapporteur: Pierluigi Ercole</p>
        <p>WG3: The future of HoMER: institution, organization, publishing<br />
        moderator: Daniel Biltereyst<br />
        rapporteur: Philippe Meers</p>
      </td>
    </tr>
    <tr>
      <td class="hour">16.30 – 18.00</td>
      <td>Summaries, discussion and the future of homer</td>
    </tr>
  </table>
</div>
</article>
