---
title: "Conference: Researching Past Cinema Audiences: Archives, Memories and Methods."
description: "CFP for the conference 'Researching Past Cinema Audiences'"
---

<article class="news-item">
  <div class="breadcrumb">
    <a href="/news.html">News</a>
    <a href="javascript:void(0)">CFP for the conference 'Researching Past Cinema Audiences'</a>
  </div>
  <header>
    <h1>CFP for the conference 'Researching Past Cinema Audiences'</h1>
  </header>
  <footer>
    <p>Posted on <time datetime="2014-10-01 15:52">5 September 2017</time></p>
  </footer>
  <div class="content">
    <p>Conference: Researching Past Cinema Audiences: Archives, Memories and Methods."</p>
    <p>Date: 26-28 March 2018,<br>
    Location: Aberystwyth University, UK.<br>
    <strong>Deadline 1 December 2017</strong></p>
    <p><a href="https://www.aber.ac.uk/en/tfts/latest-news/news-article/title-204437-en.html">More information</a></p>
  </div>
  <aside>
    &nbsp;
  </aside>
</article>
