---
title: "Conference: Researching Past Cinema Audiences: Archives, Memories and Methods."
description: "CFP for the conference 'Researching Past Cinema Audiences'"
---

<article class="news-item">
  <div class="breadcrumb">
    <a href="/news.html">News</a>
    <a href="javascript:void(0)">Conference: HoMER@NECS Conference 2018</a>
  </div>
  <header>
    <h1>Conference: HoMER@NECS Conference 2018</h1>
  </header>
  <footer>
    <p>Posted on <time datetime="2017-12-19 15:52">19 December 2017</time></p>
  </footer>
  <div class="content">
    <p>Hosted by VU and UvA, Amsterdam, The Netherlands. Deadline for proposals: 31 January 2018</p>
    <p>Date: 27–29 June 2018,<br>
    Location: Amsterdam.<br>
    <strong>Deadline for proposals: 31 January 2018</strong></p>
    <p><a href="http://homernetwork.org">More information</a></p>
  </div>
  <aside>
    &nbsp;
  </aside>
</article>
