---
title: "Conference panel: Cinema in/and the City: Cinema as Space and Social Experience in Europe (1895-2018)."
description: "Call for papers for the panel ‘Cinema in/and the City: Cinema as Space and Social Experience in Europe (1895-2018)’, organized by Thunnis Van Oort and Åsa Jernudd, at the EAUH Conference 2018, 29 August – 1 September 2018"
---

<article class="news-item">
  <div class="breadcrumb">
    <a href="/news.html">News</a>
    <a href="javascript:void(0)">Conference panel: Cinema in/and the City: Cinema as Space and Social Experience in Europe (1895-2018).</a>
  </div>
  <header>
    <h1>CFP for the conference 'Researching Past Cinema Audiences'</h1>
  </header>
  <footer>
    <p>Posted on <time datetime="2014-10-01 15:52">5 September 2017</time></p>
  </footer>
  <div class="content">
    <p>Call for papers for the panel ‘Cinema in/and the City: Cinema as Space and Social Experience in Europe (1895-2018)’, organized by Thunnis Van Oort and Åsa Jernudd, at the EAUH Conference 2018, 29 August – 1 September 2018.</p>
    <p><a href="https://eauh2018.ccmgs.it/users/index.php?pagename=cms&name=sessiontracks&trackname=cinema-in-and-the-city--cinema-as-space-and-social-experience-in-europe">More information</a></p>
  </div>
  <aside>
    &nbsp;
  </aside>
</article>
