---
title: "Contact"
description: "Digital Cinema Studies is located in Ghent, Korte Meer 7-11, 9000 Ghent (Belgium)"
---

<article class="contact">
  <header>
    <h1>Contact</h1>
  </header>
  <div class="content">
    <p><strong>Contact Ghent University</strong><br />
    <i class="fa fa-map-marker left"></i>Korte Meer 7-11, 9000 Gent</p>
    <p>Daniel Biltereyst<br />
    <i class="fa fa-envelope left"></i><a href="mailto:daniel.biltereyst@ugent.be">Daniel.biltereyst@ugent.be</a></p>
    <p>Lies Van de Vijver<br />
    <i class="fa fa-envelope left"></i><a href="mailto:liesbeth.vandevijver@ugent.be">Liesbeth.vandevijver@ugent.be</a></p>
  </div>
  <aside>
    <%= image_tag "logo-dicis-250x70.jpg" %>
  </aside>
</article>
