---
title: "Daniela Treveri Gennari"
description: "Daniela Treveri Gennari is Reader in Film Studies. She works on post-war Italian cinema" 
---

  <article class="researcher">
    <div class="breadcrumb">
      <a href="/people.html">People</a>
      <a href="javascript:void(0)">Daniela Treveri Gennari</a>
    </div>
    <header>
      <h1>Daniela Treveri Gennari</h1>
    </header>
    <aside>
      <img src="/images/daniela-treveri-gennari.jpg" alt="daniel treveri gennari" />
    </aside>
    <div class="content">
      <h2>Contact</h2>
      <p>
      <i class="fa fa-envelope left"></i> <a href="mailto:dtreveri-gennari@brookes.ac.uk">dtreveri-gennari@brookes.ac.uk</a><br />
      <i class="fa fa-phone left"></i> <a href="01865483460">01865-483460</a><br />
      <i class="fa fa-home left"></i> 
      School of Arts<br />
      Oxford Brookes University<br />
      Headington Campus<br />
      Gipsy Lane, Oxford, OX3 0BP
      </p>
      <h2>Affilation</h2>
      <p><a href="/film-studies-research-unit.html">Film Studies Research Unit</a><i class="fa fa-external-link right"></i></p>
      <h2>Biography</h2>
      <p>Daniela Treveri Gennari is Reader in Film Studies. She works on post-war Italian cinema and her particular interests are audiences and popular cinema as well as the collaboration between Catholics and Left wing intellectuals, and the Americanization of Italian cinema between 1945 and 1960.</p>
      <p>Her publications include, among others, her monograph Post-war Italian Cinema.American Intervention, Vatican Interests (Routledge, New York, 2009), the edited volume (with Daniel Biltereyst) Moralizing cinema: Film, Catholicism and Power (Routledge, New York, forthcoming 2014), the article ‘If you have seen it, you cannot forget!’: Film consumption and memories of cinema-going in 1950s Rome, Historical Journal of Film, Radio and Television (2014).</p>
      <p>Daniela is currently leading the AHRC funded project on Italian Cinema Audiences in collaboration with the Universities of Bristol and Exeter and she has completed the research on spectatorship in post-war Rome as part of her successful British Academy Mid-Career Fellowship. Moreover, her work on audiences in British cinemas has been published in the volume The Phoenix Picturehouse. 100 years of Oxford Cinema Memories (London: Picturehouse Publications, 2013) written with Deborah Allison and Hiu M. Chan.</p>
      <h2>Research</h2>
      <p>Audiences, Popular Italian Cinema, Catholic Cinema, Film Industry, Memories</p>
      <h2>Publications</h2>
      <h3>Books</h3>
      <p>Moralizing cinema: Film Catholicism and Power (eds. by Daniel Biltereyst and Daniela Treveri Gennari) Routledge (New York) forthcoming 2014.</p>
      <p>The Phoenix Picturehouse. 100 years of Oxford Cinema Memories (London: Picturehouse Publications) written with Deborah Allison and Hiu M. Chan, 2013.</p>
      <p>Post-war Italian Cinema. American Intervention, Vatican Interests, Routledge (New York) 2009.</p>
      <h3>Chapters</h3>
      <p>Moralizing cinema while attracting audiences: Catholic film exhibition in post-war Rome. In Moralizing cinema: Film Catholicism and Power (eds. by Daniel Biltereyst and Daniela Treveri Gennari)(New York: Routlege, 2014).</p>
      <p>Repicturing the Myth: American characters in post-war Italian cinema. In Memories of WWII: Redefining the Self and the Nation in Post-War Europe (Berghahn Books, forthcoming 2014)</p>
      <p>Catholicism and Neorealism: Zavattini’s contribution to Universalia-produced Prima Comunione, (Blasetti, 1950). In Religion, Mysticism and Heresy in Italian Culture (Palgrave, 2014).</p>
      <p>Blessed cinema: Catholcism, censorship and film industry in post-war Italy, In Biltereyst, D. and Winkel, V. (ed.) Silencing Cinema (Palgrave, 2013).</p>
      <h3>Journal Articles</h3>
      <p>“If you have seen it, you cannot forget!” Film consumption and memories of cinema-going in 1950s Rome (accepted for publication in The Historical Journal of Film Radio and Television, 2015).</p>
      <p>Memories in context: the social and economic function of cinema in 1950s Rome (written in collaboration with Professor John Sedgwick, forthcoming 2015)</p>
      <p>Treveri-Gennari, Daniela, Catherine O'Rawe &amp; Danielle Hipkins. 'In Search of Italian Cinema Audiences in the 1940s and 1950s: Gender, genre and national identity', Participations, Journal of Audiences and Reception Studies, Volume 8, Issue 2 (November 2011)</p>
      <p>A Regional Charm: Italian Comedy versus Hollywood, October (Spring 2009, No. 128: 51–68)</p>
      <p>Did Neorealism start in church? Catholicism, cinema and the case of Mario Soldati’s Chi è Dio?, New Review of Film and Television Studies, Vol. 8, Number 2, June 2010, pp. 198-217.</p>
    </div>
  </article>


