---
title: "Deb Verhoeven"
description: "Professor Verhoeven is one of Australia’s leading proponents of Digital Humanities research" 
---

  <article class="researcher">
    <div class="breadcrumb">
      <a href="/people.html">People</a>
      <a href="javascript:void(0)">Deb Verhoeven</a>
    </div>
    <header>
      <h1>Deb Verhoeven</h1>
    </header>
    <aside>
      <img src="images/deb-verhoeven.jpg" alt="deb verhoeven" />
    </aside>
    <div class="content">
      <h2>Contact</h2>
      <p>
      <i class="fa fa-envelope left"></i> <a href="deb.verhoeven@deakin.edu.au">deb.verhoeven@deakin.edu.au</a><br />
      </p>
      <p>Professor Verhoeven is one of Australia’s leading proponents of Digital Humanities research. Her work is internationally recognised and evident in her recent appointment as Chair of Digital Humanities 2015.</p>
      <p>Verhoeven’s research addresses the vast amounts of newly available ‘cultural data’ that has enabled unprecedented computational analysis in the humanities and in aprticular in the creative industries. In addition to scholarly publications and media appearances, she has focused on the development of national online research resources such as the Humanities Networked Infrastructure Project (HuNI); the Cinema and Audiences Research Project (CAARP) database; and The Ultimate Gig Guide (TUGG) an online archive of live music information.</p>
      <p>In 2010 this work was recognized with the Australian Teachers of Media Best Tertiary Education Resource Award for bonza: an online film and TV research resource. Verhoeven is a founding executive member of the Australasian Association of the Digital Humanities (aaDH) and the Tasmanian Government’s Digital Futures Advisory Council.</p>
      <h2>Research</h2>
      <p>Digital Humanities, Big Cultural Data, Media Geographies, Creative Industries</p>
      <h2>Publications</h2>
      <h3>Book Chapters</h3>
      <p><strong>2014</strong></p>
      <p>‘Doing the Sheep Good: Facilitating Engagement in Digital Humanities and Creative Arts Research’ in Advancing Digital Humanities: Research, Theory, Methods (eds) Paul Arthur and Katherine Bode, Palgrave Macmillan</p>
      <p>With Mark David Ryan, Ben Goldsmith, Stuart Cunningham, ‘The Australian Screen Producer in Transition’, in Beyond the Bottom-Line: The Producer in Film and Television Studies, (eds) Andrew Spicer, Anthony McKenna and Christopher Meir, Continuum.</p>
      <p>‘Film, Video, DVD and Online Distribution’, in Media and Communication in Australia, 6th edition (eds) Stuart Cunningham and Sue Turnbull, Allen and Unwin, Sydney.</p>
      <p><strong>2013</strong></p>
      <p>With Colin Arrowsmith, ‘Mapping the ill disciplined? Spatial Analyses and Historical Change in the Post-War Film Industry’ in Locating the moving image: new approaches to film and place (eds) Julia Hallam and Les Roberts, Indiana University Press, Bloomington, pp.106-129.</p>
      <p>‘What is a Cinema? Death, Closure and the Database’ (in press), in Watching Films: New Perspectives on Movie-Going, Exhibition and Reception (eds) Albert Moran and Karina Aveyard, Intellect Books, pp. 33-51.</p>
      <p><strong>2011</strong></p>
      <p>‘Film distribution in the diaspora: Temporality, community and national cinema’, in (eds) Richard Maltby et al, Explorations in New Cinema History: Approaches and Case Studies, Wiley-Blackwell, pp. 243-260.</p>
      <p>With Alwyn Davidson and Colin Arrowsmith, ‘A method for the visual representation of historic multivariate point data’, in Advances in Cartography and GIScience, volume 2:  selection from ICC 2011, Springer-Verlag, Berlin, Germany, pp.163-178.</p>
      <p><strong>2010</strong></p>
      <p>‘Italian Cinema in Myrtleford a Wider Context’, Parlato in Italiano: The Heyday of Italian Cinema in Myrtleford in the 1960s (eds) John Taylor and Cynthia Troup, Myrtleford and District Historical Society, Myrtleford, pp. 32-37</p>
      <p><strong>2009</strong></p>
      <p>With Kate Bowles and Colin Arrowsmith, ‘Mapping the movies: reflections on the use of geospatial technologies for historical cinema audience research’ Digital Tools in Media Studies (eds) Michael Ross, Manfred Grauer, Bernd Freisleben, Transcript Verlag, Bielefeld, pp. 69-82</p>
      <h3>Refereed Articles</h3>
      <p><strong>2014</strong></p>
      <p>With Colin Arrowsmith and Alwyn Davidson, ‘Exhibiting the exhibitors: Spatial visualization for heterogeneous cinema venue data’, The Cartographic Journal, Accepted August 5, 2014.</p>
      <p><strong>2013</strong></p>
      <p lang="el">Γεννημένος δυο φορές: η Dionysos Films και η δημιουργία ενός ελληνικού κινηματογραφικού κυκλώματος στην Αυστραλία Journal of Greek Film Studies 1:1, September, <a href="http://filmiconjournal.com">http://filmiconjournal.com</a></p>
      <p><strong>2010</strong></p>
      <p>‘Coming Soon (to a theatre near you): The temporality of global film distribution to Australia’, Media International Australia 136 (August 2010), pp. 146-161</p>
      <p>With Allan Cameron and David Court, ‘Above the bottom line: understanding Australian screen content producers’, Media International Australia 136 (August 2010), pp. 90-102</p>
      <h3>Refereed Conference Papers</h3>
      <p><strong>2014</strong></p>
      <p>With Sue Owen, Anne Horn, Sabina Robertson, ‘Collaboration Success in the Dataverse: Libraries as Digital Humanities Research Partners’, Proceedings of the IATUL Conference, Paper 1, <a href="http://docs.lib.purdue.edu/iatul/2014/openaccess/1">http://docs.lib.purdue.edu/iatul/2014/openaccess/1</a></p>
      <p>With Brian Morris, ‘Second city syndrome : media reportage of urban rankings’, in Evaluation in the Media/La médiatisation de l’évaluation, Julie Bouchard, Étienne Candel, Hélène Cardy, Gustavo Gomez-Mejia Centre national de la recherche scientifique (CNRS), Institut de la communication du CNRS (ISCC), Paris, France</p>
      <p><strong>2012</strong></p>
      <p>‘New Cinema History and the Computational Turn’, Beyond Art, Beyond Humanities, Beyond Technology: A New Creativity”, World Congress of Communication and the Arts Conference Proceedings, University of Minho, Portugal</p>
      <p><strong>2011</strong></p>
      <p>With Colin Arrowsmith, 'Visual methods for showing cinema circuits at varying temporal and spatial scales', in Colin Arrowsmith, Chris Bellman, William Cartwright, Simon Jones and Mark Shortis (ed.) Proceedings of the Geospatial Science Research Symposium, Melbourne, Australia, 12-14 December 2011, pp. 1-15.</p>
      
    </div>
  </article>


