<article class="research-group">
  <div class="breadcrumb">
    <a href="/research.html">Research</a>
    <a href="javascript:void(0)">Department of Film Studies and Audiovisual Culture</a>
  </div>
  <header>
    <h1>Department of Film Studies and Audiovisual Culture</h1>
  </header>
  <div class="practical">
    <p><i class="fa fa-map-marker left"></i>
    <strong>Masaryk University</strong><br />
    Arne Nov&aacute;ka 1<br /> 
    Brno 602 00, Czech Republic</p>
    
    <p><i class="fa fa-phone left"></i><a href="tel:00420549496996">+420 549 49 6996</a><br />
      <i class="fa fa-phone left"></i><a href="tel:00420549491520">+420 549 49 1520</a><br />
      <i class="fa fa-chain left"></i><a href="http://www.phil.muni.cz/wufv">www.phil.muni.cz/wufv</a>
    </p>
    <ul>
      <li>Pavel Skopal (assistant professor)</li>
      <li>Lucie Česálková (assistant professor)</li>
    </ul>
  </div>
  <div class="content">
    <p>This research group is working on three collective research projects: “Cinematic Brno”, “Employees of Brno cinemas and their memories” and “TV programming”, and two individual projects: “History of distribution, exhibition and reception in Brno, 1945-70”, and “Local cinema history in Leipzig, 1945-1970”.</p>
    <p>Specific software was designed for the projects and a vast amount of data collected, including interviews with cinemagoers and employees of cinema. The group is ready to test the software and its compatibility, check the value of the collected data for a global comparison, and work on new prospects which would utilize the previous experiences for designing more effective, user-friendly digital tools for analysing and visualisation of vast amount of information.</p>
  </div>
</article>
