<article class="news-item">
  <div class="breadcrumb">
    <a href="/news.html">News</a>
    <a href="javascript:void(0)">Dicis present at 'Cinema Cultures in Context'</a>
  </div>
  <header>
    <h1>DICIS is present at ‘Cinema Cultures in Context. An international comparative study on cinema spaces, film programming and cinema-going experiences in Belgium and Mexico’</h1>
  </header>
  <footer>
    <p>Posted on <time datetime="2015-03-19 15:52">19 March 2015</time></p>
  </footer>
  <div class="content">
    <p>As part of the FWO-CONACyT International Collaboration Programme a first 5-day workshop on film exhibition, film programming and cinemagoing is planned by DICIS partner <a href="visual-and-digital-cultures-research-center.html">ViDi</a> at the University of Antwerp. For more information: <a href="mailto:philippe.meers@uantwerpen.be">philippe.meers@uantwerpen.be</a></p>
  </div>
  <aside>
    &nbsp;
  </aside>
</article>
