---
title: "DICIS is co-organizing a conference on digitalization, movie magazines and historical audience studies"
description: "The DICIS Network is facilitating a collaborative to organize a conference on movie magazines and the influence of digitalization"
---
<article class="news-item">
  <div class="breadcrumb">
    <a href="/news.html">News</a>
    <a href="javascript:void(0)">DICIS is co-organizing a conference on digitalization, movie magazines and historical audience studies </a>
  </div>
  <header>
    <h1>DICIS is co-organizing a conference on digitalization, movie magazines and historical audience studies with the NoRMMA Network and CIMS</h1>
  </header>
  <footer>
    <p>Posted on <time datetime="2015-03-19 15:52">19 March 2015</time></p>
  </footer>
  <div class="content">
    <p>The DICIS Network is facilitating a collaborative effort of between the research network NoRMMA in Kent and the <a href="centre-for-cinema-and-media-studies.html">Centre for Cinema and Media Studies</a> (CIMS) in Ghent to organize a conference on movie magazines and the influence of digitalization. </p>
    <p>The conference will be organized at Ghent University on the 12th and 13th of November 2015 and will not only invite contributions from film scholars, but widen the possible discussions and presentations towards digital humanities and periodicals studies. The key-note speakers are professor Film Studies Geneviève Sellier (University of Bordeaux) and co-founder of Media History Digital Library - Lantern, Eric Hoyt (University of Wisconsin-Madison).</p>
  </div>
  <aside>
      <img src="/images/turning-the-page-conference-big.jpg" alt="turning the page conference" />
  </aside>
</article>
