<article class="research-group">
  <div class="breadcrumb">
    <a href="/research.html">Research</a>
    <a href="javascript:void(0)">Digital Innovation Lab</a>
  </div>
  <header>
    <h1>Digital Innovation Lab</h1>
  </header>
  <div class="practical">
    <p><i class="fa fa-map-marker left"></i>
    <strong>University of North Carolina at Chapel Hill</strong><br />
    Campus Box #3520<br />
    Chapel Hill, N.C. 27599-3520<br />
    919-962-5165</p>
    <p><i class="fa fa-phone left"></i><a href="tel:919-962-5165">919-962-5165</a>
    </p>
    <ul>
      <li>Robert Allen (Director, Digital Innovation Lab, Professor of American Studies)</li>
      <li>Pam Lach (Manager, Digital Innovation Lab)</li>
    </ul>
  </div>
  <div class="content">
    <p>The Digital Innovation Lab (DIL) engages faculty, graduate students, cultural heritage organizations, and Digital Humanities units at universities around the world in interdisciplinary, trans-domain, collaborative projects applying the methods and materials of Digital Humanities to a range of research, outreach, and teaching issues.</p>
    <p>The UNC Digital Innovation Lab is a project-focused hub for collaborative, interdisciplinary discovery, experimentation, implementation, and assessment in the use of digital technologies to advance the work of the University in the humanities and humanistic social sciences. The work of the Digital Innovation Lab (DIL) ranges across humanities research, focusing on public-facing projects that lower barriers to engagement with DH work.</p>
    <p><a href="http://digitalinnovation.unc.edu">The DIL website</a> chronicles and documents its work. The Lab’s agenda is organized around three interrelated areas of concentration: (1) combining the project-focused organizational model of the laboratory with the social model of the network to stimulate digital humanities work as public goods: digital projects, products, tools, and applications that are of special social and cultural value, can be produced for free public use (or at a minimal marginal cost), are scalable, are reusable and repurposable, and/or serve multiple audiences/end-users within and outside of the University. (2) Facilitating humanistic research and community engagement with large-scale data sources, and, in the process, guiding the humanities’ transformation from enterprises predicated upon data scarcity and remoteness to those that assume data hyper-abundance and ubiquity. And (3) developing, testing, and documenting best-practice models for faculty and graduate student work in public humanities that integrates community engagement, digital technologies, and inter-disciplinary inquiry.</p> 
    </p>Associated with the Department of American Studies, the Lab seeks to collaborate with units across the University and to form project-based partnerships with cultural heritage organizations across North Carolina as well as public-facing Digital Humanities initiatives at other universities around the world.</p>
  </div>
</article>
