<article>
  <div class="breadcrumb">
    <a href="/activities.html">Activities</a>
    <a href="javascript:void(0)">‘Digital Fandom. Digitalization, Fan Magazines and Historical Audiences Studies’ Conference</a>
  </div>
  <header>
    <h1>‘Digital Fandom. Digitalization, Fan Magazines and Historical Audiences Studies’ Conference</h1>
  </header>
  <aside>
    <img src="/images/cinema-spectators-250x188.jpg" />
  </aside>
  <div class="practical">
    <p><i class="fa fa-calendar left"></i>September 2015<br />
    <i class="fa fa-map-marker left"></i>Ghent University</p>
  </div>
  <div class="content">
    <p>description of event</p>
  </div>
</article>
