<article>
  <div class="breadcrumb">
    <a href="/activities.html">Activities</a>
    <a href="javascript:void(0)">Digital Humanities in Flanders Workshop</a>
  </div>
  <header>
    <h1>‘Digital Humanities in Flanders’ Workshop</h1>
  </header>
  <aside>
    <img src="/images/cinema-spectators-250x188.jpg" />
  </aside>
  <div class="practical">
    <p><i class="fa fa-calendar left"></i>18 December 2014<br />
    <i class="fa fa-map-marker left"></i>Antwerp University</p>
  </div>
  <div class="content">
    <p>Bacon ipsum dolor sit amet andouille ribeye pig flank swine, kielbasa landjaeger chicken t-bone jerky. Kielbasa bacon jerky, doner pork loin tail tenderloin corned beef pork chop beef pork chuck tongue. Pork meatloaf frankfurter rump shank ball tip capicola corned beef chicken pancetta meatball spare ribs strip steak flank pork chop. Bacon corned beef boudin ham hock ground round spare ribs salami tenderloin filet mignon leberkas doner kielbasa.</p>
  </div>
</article>
