---
title: "Digital Cinema Studies Workshop"
description: "in June 2015 the HoMER Network organizes its fifth conference 'What is Cinema History?'"
---

<article>
  <div class="breadcrumb">
    <a href="/activities.html">Activities</a>
    <a href="javascript:void(0)">Digital Cinema Studies Workshop</a>
  </div>
  <header>
    <h1>Digital Cinema Studies Workshop</h1>
  </header>
  <div class="practical">
    <p><i class="fa fa-calendar left"></i><time datetime="2015-06-22">22 June 2015</time><br />
    <i class="fa fa-map-marker left"></i>University of Glasgow<br />
    <a href="http://homernetwork.org/call-for-papers-what-is-cinema-history/" rel="external">Call for Papers: What is Cinema History?</a><i class="fa fa-external-link right"></i></p>
  </div>
  <aside>
    <img src="/images/homer-conference-glasgow-2015.jpg" />
  </aside>
  <div class="content">
    <p>Since 2004 the HoMER Network has functioned as an international forum for researchers working in area of the history of exhibition, distribution and reception emphasizing cinema’s imbrication in the fabric of social experience, championing relational and contextual approaches. The HoMER Network supports a series of events and publications, and in June 2015 the HoMER Network organizes its fifth conference “What is Cinema History?”.</p>
    <p>The conference will be preceded by a workshop on Historical Network Analysis organized by the DICIS Network. More information will follow in February 2015.</p>
  </div>
</article>
