---
title: "Digital Humanities in Flanders Workshop"
---

<article>
  <div class="breadcrumb">
    <a href="/activities.html">Activities</a>
    <a href="javascript:void(0)">Digital Humanities in Flanders Workshop</a>
  </div>
  <header>
    <h1>Digital Humanities in Flanders Workshop</h1>
  </header>
  <aside>
    <img src="/images/logo-viaa.jpg" alt="logo viaa" />
  </aside>
  <div class="practical">
    <p><i class="fa fa-calendar left"></i>18 December 2014<br />
    <i class="fa fa-map-marker left"></i>Antwerp University</p>
  </div>
  <div class="content">
    <p>This is a closed meeting for the research centers of the Flemish universities with the <a href="http://www.vrt.be/">public broadcaster</a> and the <a href="http://viaa.be/">VIAA</a> initiative on the possibilities, impact and meanings of the digitalization of the audio-visual archive of the Flemish public broadcaster for ongoing and future Digital Humanities research.</p>
  </div>
</article>
