---
title: "Digital Fandom. Digitalization, Fan Magazines and Historical Audiences Studies’ Conference"
---

<article>
  <div class="breadcrumb">
    <a href="/activities.html">Activities</a>
    <a href="javascript:void(0)">‘Digital Fandom</a>
  </div>
  <header>
    <h1>Digital Fandom</h1>
    <p class="tagline">Digitalization, Fan Magazines and Historical Audiences Studies Conference</p>
  </header>
  <div class="practical">
    <p><i class="fa fa-calendar left"></i>September 2015<br />
    <i class="fa fa-map-marker left"></i>Ghent University<br />
    The Call for Papers is to be expected in February 2015.</p>
  </div>
  <aside>
    <img src="/images/digital-fandom-conference.jpg" alt="digital fandom conference 2015" />
  </aside>
  <div class="content">
    <p>DICIS will co-organize an focused conference with the <a href="http://blogs.kent.ac.uk/normma/">NORMMA Network</a> on the impact of the digitalization of magazine archives and film fan magazine research/film fan research/historical film audience research, and its relationships with other approaches and disciplines.</p>
  </div>
</article>
