---
title: "Film, Photography, Television and Audiovisual Studies"
description: "At the half of 1990s, the Department of Communication Science and Performing Arts of the Catholic University of Milan started to work on audience memories."
---

<article class="research-group">
  <div class="breadcrumb">
    <a href="/research.html">Research</a>
    <a href="javascript:void(0)">Film, Photography, Television and Audiovisual Studies</a>
  </div>
  <header>
    <h1>Film, Photography, Television and Audiovisual Studies</h1>
  </header>
  <div class="practical">
    <p><i class="fa fa-map-marker left"></i>
    <strong>Catholic University of Milan</strong><br />
    Department of Communication and Performing Arts<br />
    Largo Gemelli, 1<br />
    20123 Milano</p>
    <p><i class="fa fa-phone left"></i><a href="tel:00390272342885">+39 0272342885</a><br />
      <i class="fa fa-phone left"></i><a href="tel:00390272342814">+39 0272342814</a><br />
    </p>
    <p>
      <i class="fa fa-user left"></i>Mariagrazia Fanchi (Associate Professor)<br />
      <i class="fa fa-user left"></i>Elena Mosconi Associate Professor (Pavia University)<br />
      <i class="fa fa-user left"></i>Alice Cati (Assistant Professor)<br />
      <i class="fa fa-user left"></i>Francesca Piredda (Assistant Professor)<br />
      <i class="fa fa-user left"></i>Deborah Toschi Assistant Professor (Pavia University)
      </p>
  </div>
  <div class="content">
    <p>At the half of 1990s, the Department of Communication Science and Performing Arts of the Catholic University of Milan started to work on audience memories.</p>
    <p>Two main projects were launched: the first one on movie-going and media experiences of two generations: young people at the beginning of the 1950s and at the beginning of 1990s (both periods implying crucial turns in the national media scene). The second one focused on the role of cinema and television experience in national identity formation.</p>
    <p>In this first stage more than 100 life histories were collected. Afterwards many other researches were conducted with specific attention to the connections between generational identities and media consumption.</p>
    <p>This vast corpus of data represents an important and unique source of knowledge for the history of media audiences in Italy.</p>Our research unit aims at developing a digitalization project of these biographical materials in order to promote the access to these data for Italian and foreign scholars and to encourage, in Italy, research projects in audience history.</p>  
  </div>
</article>
