---
title: "Film, Photography, Television and Audiovisual Studies"
description: "At the half of 1990s, the Department of Communication Science and Performing Arts of the Catholic University of Milan started to work on audience memories."
---

<article class="research-group" itemscope itemtype="http://schema.org/EducationalOrganization">
  <div class="breadcrumb">
    <a href="/research.html">Research</a>
    <a href="javascript:void(0)">Film, Photography, Television and Audiovisual Studies</a>
  </div>
  <header>
    <h1 itemprop="name">Film, Photography, Television and Audiovisual Studies</h1>
  </header>
  <div class="practical">
    <p><i class="fa fa-map-marker left"></i>
    <strong>Catholic University of Milan</strong><br />
    <span itemprop="address">Department of Communication and Performing Arts<br />
    Largo Gemelli, 1<br />
    20123 Milano</span></p>
  <p><i class="fa fa-phone left"></i><a href="tel:00390272342885"><span itemprop="telephone">+39 0272342885</span></a><br />
  <i class="fa fa-phone left"></i><a href="tel:00390272342814"><span itemprop="telephone">+39 0272342814</span></a><br />
    </p>
    <p>
    <i class="fa fa-user left"></i><span itemscope itemtype="http://schema.org/Person"><span itemprop="name">Mariagrazia Fanchi</span> (<span itemprop="jobTitle">Associate Professor</span>)</span><br />
    <i class="fa fa-user left"></i><span itemscope itemtype="http://schema.org/Person"><span itemprop="name">Elena Mosconi</span> <span itemprop="jobTitle">Associate Professor</span> (Pavia University)</span><br />
    <i class="fa fa-user left"></i><span itemscope itemtype="http://schema.org/Person"><span itemprop="name">Alice Cati</span> (<span itemprop="jobTitle">Assistant Professor</span>)</span><br />
    <i class="fa fa-user left"></i><span itemscope itemtype="http://schema.org/Person"><span itemprop="name">Francesca Piredda</span> (<span itemprop="jobTitle">Assistant Professor</span>)</span><br />
    <i class="fa fa-user left"></i><span itemscope itemtype="http://schema.org/Person"><span itemprop="name">Deborah Toschi</span> <span itemprop="jobTitle">Assistant Professor</span> (Pavia University)</span></p>
  </div>
  <div class="content">
    <p itemprop="description">At the half of 1990s, the Department of Communication Science and Performing Arts of the Catholic University of Milan started to work on audience memories.</p>
    <p>Two main projects were launched: the first one on movie-going and media experiences of two generations: young people at the beginning of the 1950s and at the beginning of 1990s (both periods implying crucial turns in the national media scene). The second one focused on the role of cinema and television experience in national identity formation.</p>
    <p>In this first stage more than 100 life histories were collected. Afterwards many other researches were conducted with specific attention to the connections between generational identities and media consumption.</p>
    <p>This vast corpus of data represents an important and unique source of knowledge for the history of media audiences in Italy.Our research unit aims at developing a digitalization project of these biographical materials in order to promote the access to these data for Italian and foreign scholars and to encourage, in Italy, research projects in audience history.</p>  
  </div>
</article>
