---
title: "Film Studies Research Unit"
description: "This research unit – already part of the HoMER Network – has two major funded projects (by the Arts and Humanities Research Council &amp; British Academy Mid"
---

<article class="research-group" itemscope itemtype="http://schema.org/EducationalOrganization">
  <div class="breadcrumb">
    <a href="/research.html">Research</a>
    <a href="javascript:void(0)">Film Studies Research Unit</a>
  </div>
  <header>
    <h1 itemprop="name">Film Studies Research Unit</h1>
  </header>
  <aside>
    <img src="/images/logo-oxford-brookes-university-170x85.png" alt="logo oxford university" />
  </aside>
  <div class="practical">
    <p><i class="fa fa-map-marker left"></i>
    <strong>Oxford Brookes University</strong><br />
    <span itemprop="address">Headington Hill Campus, Oxford</span></p>
    <p><i class="fa fa-phone left"></i><a href="tel:00441865483460"><span itemprop="telephone">+44 1865 483460</span></a><br />
    <i class="fa fa-home left"></i><a href="http://arts.brookes.ac.uk/research/fsru/index.html" rel="external" itemprop="url">http://arts.brookes.ac.uk/research/fsru</a>
    </p>
    <p>
    <i class="fa fa-user left"></i><span itemscope itemtype="http://schema.org/Person"><a href="daniela-treveri-gennari.html"><span itemprop="name">Daniela Treveri Gennari</span>	(<span itemprop="jobTitle">Reader in Film Studies</span>)</a></span><br />
    <i class="fa fa-user left"></i><span itemscope itemtype="http://schema.org/Person"><span itemprop="name">Silvia Dibeltulo</span> (<span itemprop="jobTitle">research assistant</span> Cinema)</span>
    </p>
  </div>
  <div class="content">
    <p itemprop="description">This research unit – already part of the HoMER Network – has two major funded research projects (by the Arts and Humanities Research Council &amp; British Academy Mid-Career Fellowship) which are strongly inspired by the NCH-perspective.</p>
    <p>One is on the historical film culture in Rome, including the construction of large databases on film programming, distribution and exploitation in the Italian capital.</p>
    <p>The other, more recent project is a replica (in terms of methodologies) on a much wider scale with historical cinemagoing research for a large sample of cities and regions in Italy.</p>
  </div>
</article>
