---
title: "Flinders institute for research in the humanities" 
description: "investigates the significance of Australian cinemas as sites of social and economic activity"
---

<article class="research-group" itemscope itemtype="http://schema.org/EducationalOrganization">
  <div class="breadcrumb">
    <a href="/research.html">Research</a>
    <a href="javascript:void(0)">Flinders Institute for Research in the Humanities (FIRtH)</a>
  </div>
  <header>
    <h1 itemprop="name">Flinders Institute for Research in the Humanities (FIRtH)</h1>
  </header>
  <aside>
    <img src="/images/logo-flinders-university-250x92.png" alt="logo flinders institute for research in the humanities" itemprop="logo" />
  </aside>
  <div class="practical">
    <p><i class="fa fa-map-marker left"></i>
    <strong>Flinders University</strong><br />
    School of Humanities<br />
    <span itemprop="address">GPO Box 2001, Adelaide, South Australia, 5000, Australia</span>
    </p>
    <p><i class="fa fa-phone left"></i><a href="tel:61882013169"><span itemprop="telephone">+618 8201 3169</span></a><br />
    <i class="fa fa-phone left"></i><a href="tel:61882013407"><span itemprop="telephone">+618 8201 3407</span></a><br />
      <i class="fa fa-chain left"></i><a href="http://caarp.flinders.edu.au/" rel="external" itemprop="url">http://caarp.flinders.edu.au/</a>
    </p>
    <p>
    <i class="fa fa-user left"></i><span itemscope itemtype="http://schema.org/Person"><a href="/richard-maltby.html"></span itemprop="name">Richard Maltby</a> (Matthew Flinders Distinguished <span itemprop="jobTitle">Professor of Screen Studies</span>)</span><br />
<i class="fa fa-user left"></i><span itemscope itemtype="http://schema.org/Person"><span itemprop="name">Mike Walsh</span> (<span itemprop="jobTitle">Associate Professor</span> of Screen and Media, Flinders University)</span><br />
<i class="fa fa-user left"></i><span itemscope itemtype="http://schema.org/Person"><span itemprop="name">Kate Bowles</span> (<span itemprop="jobTitle">Senior Lecturer in Media and Communication</span>, University of Wollongong)</span><br />
<i class="fa fa-user left"></i><span itemscope itemtype="http://schema.org/Person"><span itemprop="name">Dylan Walker</span> (<span itemprop="jobTitle">Research Associate</span>, Flinders University)</span></p>
  </div>
  <div class="content">
    <p itemprop="description">Our research investigates the significance of Australian cinemas as sites of social and economic activity, examining critical periods in the development of the systems of film distribution and exhibition, including the thirty-year period surrounding the introduction of television in Australia.</p>
    <p>Our work combines archival, demographic and spatial data with oral histories to construct a GIS database of cinema venues and their neighbourhoods and generate maps of distribution practices and audience movements in order to analyse the responsiveness of cinemas and their audiences to social and cultural change. The project has been supported by five Discovery grants from the Australian Research Council since its inception in 2005.</p>
  </div>
</article>

