<article>
  <div class="breadcrumb">
    <a href="/activities.html">Activities</a>
    <a href="javascript:void(0)">Historical Network Research Workshop</a>
  </div>
  <header>
    <h1>Historical Network Research Workshop</h1>
  </header>
  <aside>
    <img src="/images/cinema-spectators-250x188.jpg" />
  </aside>
  <div class="practical">
    <p><i class="fa fa-calendar left"></i>February 2015<br />
    <i class="fa fa-map-marker left"></i>Ghent University</p>
  </div>
  <div class="content">
    <p>The Historical Network Research Conference (HNR) 2014 brings together scholars from all historical disciplines, social scientists, geographers and computer scientists to discuss the emerging field of historical Social Network Analysis. </p>
  </div>
</article>
