<article>
  <div class="breadcrumb">
    <a href="/activities.html">Activities</a>
    <a href="javascript:void(0)">'Horizon 2020' Writing Seminar</a>
  </div>
  <header>
    <h1>'Horizon 2020' Writing Seminar (September 19 2014)</h1>
  </header>
  <aside>
    <img src="/images/cinema-spectators-250x188.jpg" />
  </aside>
  <div class="practical">
    <p><i class="fa fa-calendar left"></i>19 September 2014<br />
    <i class="fa fa-map-marker left"></i>Ghent University</p>
  </div>
  <div class="content">
    <h2>Agenda</h2>
    <table class="timetable">
      <tr>
        <td class="hour">9.30-10.00</td>
        <td>Presentation of Horizon 2020 Call and Europe 2020</td>
      </tr>
      <tr>
        <td class="hour">10.00-11.00</td>
        <td>European Cinema Heritage Partners</td>
      </tr>
      <tr>
        <td class="hour">11.30-13.00</td>
        <td>Refine Idea (Brain Storming) and agree the aims of Project<br />
          How to address Evaluators Questions (Excellence, Impact and Quality and 			     Efficiency of the Implementation)</td>
      </tr>
      <tr>
        <td class="hour">14.00-15.30</td>
        <td>Work packages and Distribution of work<br />
          Industrial partners</td>
      </tr>
      <tr>
        <td class="hour">16.00- 17.00</td>
        <td>
          Plan for Writing the Proposal and Proposal Writing Team<br />
          Schedule September - May<br />
		      A.O.B. and date of next meeting
        </td>
      </tr>
    </table>
    <h2>Attending</h2>
    <ul>
      <li>UGent, Daniel Biltereyst, Lies Van de Vijver, Lennart Soberon</li>
      <li>KUL, Roel Vande Winkel</li>
      <li>UA, Philippe Meers</li>
      <li>Oxford Brookes University, Daniela Treveri Gennari</li>
      <li>Universitat Autonoma de Barcelona, Virginia Luzón</li>
      <li>Utrecht University, Clara Pafort-Overduin</li>
      <li>De Monfort University, Pierluigi Ercole</li>
      <li>Masaryk University Brno, Pavel Skopal</li>
      <li>Cinematek, Kristel Vandenbrande</li>
      <li>EURAC, Farah Fahim</li>
    </ul>
  </div>
</article>
