---
title: "Horizon 2020 Writing Seminar"
---

<article>
  <div class="breadcrumb">
    <a href="/activities.html">Activities</a>
    <a href="javascript:void(0)">'Horizon 2020' Writing Seminar</a>
  </div>
  <header>
    <h1>'Horizon 2020' Writing Seminar</h1>
  </header>
  <aside>
    <img src="/images/h2020.png" />
  </aside>
  <div class="practical">
    <p><i class="fa fa-calendar left"></i>7 November 2014<br />
    <i class="fa fa-map-marker left"></i>London British Library</p>
  </div>
  <div class="content">
    <table class="timetable">
      <thead>
        <tr>
          <th>
            Morning: 10.00-12.30, Chair: Farah Fahim
          </th>
        </tr>
      </thead>
      <tbody>
      <tr>
      <td>1.	Define project objectives and confirm that they correspond to the EC objectives</td>
    </tr>
      <tr>
        <td>2.	Define a work-plan that will deliver the objectives
          <ul>
            <li>Agree the WP structure</li>
            <li>Each WP leader outlines the work they will be responsible for and the tasks involved</li>
            <li>Specify the deliverables</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>3.	Define technical inputs and outputs (Marco Rendina, Tom Wachtel and All)
          <ul>
            <li>Analyze and specify the nature and structure of all the existing (and potential future) 		assets, so as to be able to aggregate and create the metadata.</li>
            <li>Specify an infrastructure/platform to host the aggregated digital assets</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>4.	Unit9 Presentation on Platform and Apps</td>
      </tr>
     </tbody>
   </table> 
   <table class="timetable">
     <theader>
     <tr>
       <th>Afternoon: 13.30-17-00						Chair: Tom Wachtel</th>
     </tr>
     </theader>
     <tbody>
       <tr>
         <td>5.	Define project impact
           <ul>
             <li>Identify the impacts that the EC wants to see</li>
             <li>Specify how the project results will provide these impacts</li>
           </ul>
         </td>
       </tr>
       <tr>
         <td>
           6.	Devise dissemination and exploitation plans
           <ul>
             <li>Ensure that the demonstration/validation can be used to stimulate use (commercial or other) of the project results</li>
             <li>Specify means for researchers and other users (tourist offices, museums, etc.) to 		access and use the information (portal, API's, etc.)</li>
             <li>Specify demonstrators, no more than 3, to validate the whole system (caves or 		boxes, location aware apps, etc.)</li>
           </ul>
         </td>
       </tr>
       <tr>
         <td>
           7.	Specify management methods
           <ul>
             <li>Specify management structure and procedures</li>
             <li>Ensure excellent communication</li>
             <li>Document management</li>
             <li>Ensure strong input and support from stakeholders/users</li>
             <li>Define a risk management policy</li>
             <li>Clarify IPR issues</li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>   
  </div>
</article>
