<article>
  <div class="breadcrumb">
    <a href="/activities.html">Activities</a>
    <a href="javascript:void(0)">How can digital cinema history matter more?’ Workshop</a>
  </div>
  <header>
    <h1>How can digital cinema history matter more?’ Workshop</h1>
  </header>
  <aside>
    <img src="/images/cinema-spectators-250x188.jpg" />
  </aside>
  <div class="practical">
    <p><i class="fa fa-calendar left"></i>27 juni 2014<br />
    <i class="fa fa-map-marker left"></i>Glasgow School of Art's Digital Design Studio</p>
  </div>
  <div class="content">
    <h2>Organization</h2>
    <p>Maria Velez-Serna, University of Glasgow</p>
    <h2>Agenda</h2>
    <p>The Early Cinema in Scotland research project will be hosting a colloquium in Glasgow on 27 June 2014, on the topic of digital history in the context of cinema studies. The idea is to look at a number of case studies of digital outputs from historical research projects as a basis for a discussion that touches on Richard Maltby's question, "How can cinema history matter more?" (Screening the Past 22 [2006]), moving towards a more applied focus on presentation strategies and data structures. We would like to invite you to share your experience and expertise and help us steer a particular stage of our project, as well as contributing to broader discussions towards a peer-reviewed publication.</p>
    <p>
    Already confirmed for the colloquium are the members of the project's international advisory board: Robert C Allen, Karel Dibbets, Richard Maltby, Luke McKernan, and Kevin Rockett, all of whom, as you might know, have substantial trajectories in cinema history research. In part because the main output of our project will be a website, we are hoping to expand this meeting to bring in experts in different aspects of the digital humanities and digital history. In particular, we want to discuss: a) the audiences for digital cinema histories, and the different expectations and points of contact that need to be considered; and b) the presentation of data, narrative and multimedia material in ways that are scholarly sound but also engaging and useful for non-academic users.
    </p>
  </div>
</article>
