---
title: "CFP special issue of The Moving Image on the impact of digital technologies on archival practices and film curatorship"
---

<article>
  <div class="breadcrumb">
    <a href="/news.html">News</a>
    <a href="javascript:void(0)">CFP special issue of The Moving Image on the impact of digital technologies on archival practices and film curatorship</a>
  </div>
  <header>
    <h1>CFP special issue of The Moving Image on the impact of digital technologies on archival practices and film curatorship</h1>
  </header>
  <footer>
    <p>Posted on <time datetime="2016-08-16">16 August 2016</time></p>
  </footer>
  <div class="content">
    <p>There is a <a href="documents/tmi-cfp-final.pdf">CFP</a> for a special issue of The Moving Image on the impact of digital technologies on archival practices and film curatorship, and on digital humanities projects that engage with archival film collections. Guest editors are Grazia Ingravalle, Rick Prelinger and Demetrios Latsis (The Internet Archive). The special issue will be out in the fall of 2017. Abstracts are due on August 31 and completed papers by November 1, 2016.“
    </p>
  </div>
</article>
