---
title: "Digital Cinema Studies" 
description: "Digital Cinema Studies is a scientific research network funded by the Research Foundation Flanders with international expertise on film and cinema studies" 
---
<section class="home">
  <div data-mh="row1" class="hero">
    <div class="hero-inner">
      <div class="hero-copy">
        <h1>Digital Cinema Studies</h1>
        <p>DICIS - Digital Cinema Studies is a scientific research network funded by the Research Foundation Flanders with international expertise on film and cinema studies crossing over to digital humanities to understand the use, contribution and meaning of the digital turn for the field of cinema studies</p>
      </div>
      <form action="/mission.html" method="get">
      <button>Read More</button>
    </form>
    </div>
  </div>
  <div data-mh="row1" class="news">
    <div class="news-inner">
      <h2>News</h2>
      <p><a href="/kickoff-digital-cinema-studies.html">Kick-off Digital Cinema Studies</a><br />
      <span class="date">posted on <time datetime="2014-10-01 15:52">1 October 2014</time></span></p>
      <p>On the 1st of October 2014, Digital Cinema Studies (DICIS) has been officially launched.</p>
    </div>
    <p class="all"><a href="/news.html">read all news</a></p>
  </div>
  <div data-mh="row2" class="activities">
    <h2>Activities</h2>
    <div class="activity">
      <img src="/images/cinema.jpg" />
      <div class="content">
        <p><a href="/digital-humanities-in-flanders.html">‘Digital Humanities in Flanders’ Workshop</a><br />
        18 December 2014, Antwerp University</p>
      </div>
    </div>
    <div class="activity">
      <div class="content">
        <p><a href="/horizon-2020-writing-seminar.html">'Horizon2020' Writing Seminar</a><br />
  7 November 2014, London British Library
        </p>
      </div>
    </div>
    <div class="activity">
      <div class="content">
        <p><a href="/historical-network-research.html">'Historical Network Research’ Workshop</a></strong><br />
      February 2015, Ghent University</p>
      </div>
    </div>
    <div class="activity">
      <div class="content">
        <p><a href="/digital-fandom-conference.html">‘Digital Fandom. Digitalization, Fan Magazines and Historical Audiences Studies’ Conference</a></strong><br />
      September, Ghent University</p>
      </div>
    </div>
  </div>
  <div data-mh="row2" class="partners">
    <h2>Partners</h2>
    <div class="partner">
      <p><a href="/centre-for-cinema-and-media-studies.html">CIMS</a></p>
      <a href="/centre-for-cinema-and-media-studies.html"><img src="images/logo-cims-250x30.jpg" /></a>
    </div>
    <div class="partner">
      <p><a href="/cinema-and-audiences-in-australia-research-project-group.html">CAARP</a></p>
      <a href="/cinema-and-audiences-in-australia-research-project-group.html"><img src="images/logo-flinders-university-250x92.png" /></a>
    </div>
    <div class="partner">
      <p><a href="">DICIS</a></p>
      <img src="images/logo-dicis-200x58.jpg" />
    </div>
    <div class="partner">
      <p><a href="/film-studies-research-unit.html">Film Studies Research Unit</a></p>
      <img src="images/logo-oxford-brookes-university-170x85.png" alt="logo oxford brookes university" />
    </div>
    <div class="partner">
      <p><a href="/spanish-film-analysis-group.html">Spanish Film Analysis Group</a></p>
      <img src="images/logo-universitat-autonoma-barcelona.jpg" alt="logo universitat autonoma de barcelona" />
    </div>
  </div>
</section>
