---
title: "Digital Cinema Studies" 
description: "Digital Cinema Studies is a scientific research network funded by the Research Foundation Flanders with international expertise on film and cinema studies" 
---
<section class="home">
  <div data-mh="row1" class="hero">
    <div class="hero-inner">
      <div class="hero-copy">
        <h1>Digital Cinema Studies</h1>
        <p>DICIS - Digital Cinema Studies is a scientific research network funded by the Research Foundation Flanders with international expertise on film and cinema studies crossing over to digital humanities to understand the use, contribution and meaning of the digital turn for the field of cinema studies</p>
      </div>
      <form action="/mission.html" method="get">
      <button>Read More</button>
    </form>
    </div>
  </div>
  <div data-mh="row1" class="news">
    <div class="news-inner">
      <h2>News</h2>
      <p class="title"><a href="/kickoff-digital-cinema-studies.html">Kick-off Digital Cinema Studies</a><br />
      <span class="date">posted on <time datetime="2014-10-01 15:52">1 October 2014</time></span></p>
      <p>On the 1st of October 2014, Digital Cinema Studies (DICIS) has been officially launched.</p>
    </div>
    <p class="all"><a href="/news.html">read all news</a></p>
  </div>
  <div data-mh="row2" class="activities">
    <h2>Activities</h2>
    <div class="activity">
      <img src="/images/homer-conference-glasgow-2015-150x191.jpg" alt="home conference glasgow 2015" />
      <div class="content">
        <p class="title"><a href="/digital-cinema-studies-workshop.html">Digital Cinema Studies Workshop</a><br />
        <span class="date">June 2015, University of Glasgow</span></p>
        <p>in June 2015 the HoMER Network organizes its fifth conference "What is Cinema History?".</p>
      </div>
    </div>
    <div class="activity">
      <img src="/images/logo-viaa-150x163.jpg" alt="logo viaa" />
      <div class="content">
        <p class="title"><a href="/digital-humanities-in-flanders.html">‘Digital Humanities in Flanders’ Workshop</a><br />
        <span class="date">18 December 2014, Antwerp University</span></p>
        <p>This is a closed meeting for the research centers of the Flemish universities with the public broadcaster and the VIAA initiative</p>
      </div>
    </div>
    <div class="activity">
      <img src="/images/digital-fandom-150x150.jpg" alt="digital fandom conference" />
      <div class="content">
        <p class="title"><a href="/digital-fandom-conference.html">‘Digital Fandom</a></strong><br />
      <span class="date">September 2015, Ghent University</a></p>
      <p>Digitalization, Fan Magazines and Historical Audiences Studies Conference</p>
      </div>
    </div>
  </div>
  <div data-mh="row2" class="partners">
    <h2>Partners</h2>
    <div class="partner">
      <p><a href="/centre-for-cinema-and-media-studies.html">CIMS</a></p>
      <a href="/centre-for-cinema-and-media-studies.html"><img src="images/logo-cims-250x30.jpg" /></a>
    </div>
    <div class="partner">
      <p><a href="/department-of-film-studies-and-audiovisual-culture.html">Department of Film Studies and Audiovisual Culture</a></p>
      <a href="/department-of-film-studies-and-audiovisual-culture.html"><img src="/images/logo-mu-fav-department-of-film.png" /></a>
    </div>
    <div class="partner">
      <p><a href="/flinders-institute-for-research-in-the-humanities.html">FIRthH</a></p>
      <a href="/flinders-institute-for-research-in-the-humainities.html"><img src="images/logo-flinders-university-250x92.png" alt="logo flinders institute for research in the humanities" /></a>
    </div>
    <div class="partner">
      <p><a href="/film-studies-research-unit.html">Film Studies Research Unit</a></p>
      <img src="images/logo-oxford-brookes-university-170x85.png" alt="logo oxford brookes university" />
    </div>
    <div class="partner">
      <p><a href="/spanish-film-analysis-group.html">Spanish Film Analysis Group</a></p>
      <img src="images/logo-universitat-autonoma-barcelona.jpg" alt="logo universitat autonoma de barcelona" />
    </div>
  </div>
</section>
