---
title: "Digital Cinema Studies" 
description: "Digital Cinema Studies is a scientific research network funded by the Research Foundation Flanders with international expertise on film and cinema studies" 
---
<section class="home">
  <div data-mh="row1" class="hero">
    <div class="hero-inner">
      <div class="hero-copy">
        <h1>Digital Cinema Studies</h1>
        <p>DICIS - Digital Cinema Studies is a scientific research network funded by the Research Foundation Flanders with international expertise on film and cinema studies crossing over to digital humanities to understand the use, contribution and meaning of the digital turn for the field of cinema studies</p>
      </div>
      <form action="/mission.html" method="get">
      <button>Read More</button>
    </form>
    </div>
  </div>
  <div data-mh="row1" class="news">
    <div class="news-inner">
      <h2>News</h2>
      <p class="title"><a href="dicis-at-comparative-study-on-cinema-spaces.html">Dicis present at 'Cinema Cultures in Context'</a><br />
      <span class="date">posted on <time datetime="2015-03-19">19 March 2015</time></span></p>
      <p class="title"><a href="dicis-co-organizing-conference-on-digitalization.html">DICIS is co-organizing a conference on digitalization, movie magazines and historical audience studies</a><br />
      <span class="date">posted on <time datetime="2015-03-19 15:52">19 March 2015</time></span></p>
    </div>
    <p class="all"><a href="/news.html">read all news</a></p>
  </div>
  <div data-mh="row2" class="activities">
    <h2>Activities</h2>
    <div class="activity">
      <div class="content">
<<<<<<< HEAD
        <p class="title"><a href="/international-comparative-study-on-cinema-spaces.html">An international comparative study on cinema spaces, film programming and cinema-going experiences in Belgium and Mexico</a><br />
        <span class="date"><time datetime="2015-03-23">23-27 March</time>, University of Antwerp</span></p>
      <p>5-day workshop on film exhibition, film programming and cinemagoing at the University of Antwerp</p>
      </div>
    </div>
    <div class="activity">
      <img src="/images/turning-the-page-conference.jpg" alt="turning the page conference" />
      <div class="content">
        <p class="title"><a href="/turning-the-page-conference.html">Turning The Page</a><br />
        <span class="date"><time datetime="2015-11-12">12-13 November 2015</time>, Ghent University</span></p>
=======
      </div>
    </div>
    <div class="activity">
      <img src="/images/homer-conference-glasgow-2015-150x191.jpg" alt="homer conference glasgow 2015" />
      <div class="content">
        <p class="title"><a href="/digital-cinema-studies-workshop.html">Digital Cinema Studies Workshop</a><br />
        <span class="date">22 June 2015, University of Glasgow</span></p>
        <p>In June 2015 the HoMER Network organizes its fifth conference "What is Cinema History?".</p>
      </div>
    </div>
  </div>
  <div data-mh="row2" class="partners">
    <h2>Partners</h2>
    <div class="partner">
      <p><a href="/centre-for-cinema-and-media-studies.html">CIMS</a></p>
      <a href="/centre-for-cinema-and-media-studies.html"><img src="images/logo-cims-250x30.jpg" alt="logo centre for cinema and media studies" /></a>
    </div>
    <div class="partner">
      <p><a href="/institute-for-media-studies.html">Institute for Media Studies</a></p>
      <a href="/institute-for-media-studies.html"><img src="images/logo-ims-170x170.png" alt="logo institute for media studies" /></a>
    </div>
    <div class="partner">
      <p><a href="/department-of-film-studies-and-audiovisual-culture.html">Department of Film Studies and Audiovisual Culture</a></p>
      <a href="/department-of-film-studies-and-audiovisual-culture.html"><img src="/images/logo-mu-fav-department-of-film.png" alt="logo department of film studies and audiovisual culture" /></a>
    </div>
    <div class="partner">
      <p><a href="/flinders-institute-for-research-in-the-humanities.html">FIRthH</a></p>
      <a href="/flinders-institute-for-research-in-the-humanities.html"><img src="images/logo-flinders-university-250x92.png" alt="logo flinders institute for research in the humanities" /></a>
    </div>
    <div class="partner">
      <p><a href="/film-studies-research-unit.html">Film Studies Research Unit</a></p>
      <img src="images/logo-oxford-brookes-university-170x85.png" alt="logo oxford brookes university" />
    </div>
    <div class="partner">
      <p><a href="/spanish-film-analysis-group.html">Spanish Film Analysis Group</a></p>
      <img src="images/logo-universitat-autonoma-barcelona.jpg" alt="logo universitat autonoma de barcelona" />
    </div>
  </div>
</section>
