---
title: "Digital Cinema Studies" 
---
<section>
  <div data-mh="row1" class="hero">
    <div class="hero-inner">
      <div class="hero-copy">
        <h1>Digital Cinema Studies</h1>
        <p>DICIS - Digital Cinema Studies is a scientific research network funded by the Research Foundation Flanders with international expertise on film and cinema studies crossing over to digital humanities to understand the use, contribution and meaning of the digital turn for the field of cinema studies</p>
      </div>
      <form action="/mission.html" method="get">
      <button>Read More</button>
    </form>
    </div>
  </div>
  <div data-mh="row1" class="news">
    <div class="news-inner">
      <h2>News</h2>
      <p><a href="/kick-off-deconstructing-health-news.html">Kick-off “(De)constructing health news”</a><br />
      <span class="date">posted on <time datetime="2014-10-01 15:52">1 October 2014</time></span></p>
      <p>On the 1st of October 2014, Health, Media &amp; Society has been officially launched.</p>
    </div>
    <p class="all"><a href="/news.html">read all news</a></p>
  </div>
  <div data-mh="row2" class="activities">
    <h2>Activities</h2>
    <div class="activity">
      <img src="/images/cinema.jpg" />
      <div class="content">
        <p><strong>'Horizon2020' Writing Seminar</strong><br />
  7 November 2014, London British Library
        </p>
      </div>
    </div>
    <div class="activity">
      <img src="/images/cinema.jpg" />
      <div class="content">
        <p><strong>‘Digital Humanities in Flanders’ Workshop</strong><br />
        18 December 2014, Antwerp University</p>
      </div>
    </div>
    <div class="activity">
      <img src="/images/cinema.jpg" />
      <div class="content">
        <p><strong>'Historical Network Research’ Workshop</strong><br />
      February 2015, Ghent University</p>
      </div>
    </div>
  </div>
  <div data-mh="row2" class="partners">
    <h2>Partners</h2>
    <div class="partner">
      <p><a href="#">DICIS</a></p>
      <img src="images/logo-dicis-200x58.jpg" />
    </div>
    <div class="partner">
      <p><a href="#">DICIS</a></p>
      <img src="images/logo-dicis-200x58.jpg" />
    </div>
    <div class="partner">
      <p><a href="">DICIS</a></p>
      <img src="images/logo-dicis-200x58.jpg" />
    </div>
  </div>
</section>
