---
title: "Institute for Media Studies"
description: "The Institute for Media Studies and the subgroup Film Studies in particular, has expertise on research in film, film cultures and film exhibition."
---

<article class="research-group" itemscope itemtype="http://schema.org/EducationalOrganization">
  <div class="breadcrumb">
    <a href="/research.html">Research</a>
    <a href="javascript:void(0)">Institute for Media Studies</a>
  </div>
  <header>
    <h1 itemprop="name">Institute for Media Studies</h1>
  </header>
  <aside>
    <img src="/images/logo-ims-300x300.png" alt="logo institute for media studies" itemprop="logo" />
  </aside>
  <div class="practical">
    <p><i class="fa fa-map-marker left"></i><strong>Katholieke Universiteit Leuven</strong><br />
    <span itemprop="address">Parkstraat 56 / bus 3603, 3000 Leuven</span></p>
      <p>
      <i class="fa fa-phone left"></i><a href="tel:3216323220"><span itemprop="telephone">+3216323220</span></a><br />
      <i class="fa fa-home left"></i><a href="http://soc.kuleuven.be/web/home/4/8/eng" rel="external" itemprop="url">http://soc.kuleuven.be/web/home/4/8/eng</a>
    </p>
    <p>
    <i class="fa fa-user left"></i><span itemscope itemtype="http://schema.org/Person"><span itemprop="name">Roel Vande Winkel</span> (<span class="jobTitle">Professor</span>)</span><br />
    <i class="fa fa-user left"></i><span itemscope itemtype="http://schema.org/Person"><span itemprop="name">Leen Engelen</span> (<span itemprop="jobTitle">Professor</span>)</span>
    </p>    
  </div>
  <div class="content">
    <p itemprop="description">The Institute for Media Studies and the subgroup Film Studies in particular, has expertise on research in film, film cultures and film exhibition.</p>
    <p>Within the research center IMS is especially focused on the film distribution, exhibition and consumption in occupied regions during the First and the Second World War.</p>
    <p>This research expertise lend itself very well to international comparative research into (past or present) occupied regions.</p>
  </div>
</article>
