---
title: "Institute for Media Studies"
description: "The Institute for Media Studies and the subgroup Film Studies in particular, has expertise on research in film, film cultures and film exhibition."
---

<article class="research-group">
  <div class="breadcrumb">
    <a href="/research.html">Research</a>
    <a href="javascript:void(0)">Institute for Media Studies</a>
  </div>
  <header>
    <h1>Institute for Media Studies</h1>
  </header>
  <div class="practical">
    <p><i class="fa fa-map-marker left"></i><strong>Katholieke Universiteit Leuven</strong><br />
      Parkstraat 56 / bus 3603, 3000 Leuven</p>
      <p>
      <i class="fa fa-phone left"></i><a href="tel:3216323220">+3216323220</a><br />
      <i class="fa fa-home left"></i><a href="http://soc.kuleuven.be/web/home/4/8/eng">http://soc.kuleuven.be/web/home/4/8/eng</a>
    </p>
    <p>
      <i class="fa fa-user left"></i>Roel Vande Winkel (Professor)<br />
      <i class="fa fa-user left"></i>Leen Engelen (Professor)
    </p>    
  </div>
  <div class="content">
    <p>The Institute for Media Studies and the subgroup Film Studies in particular, has expertise on research in film, film cultures and film exhibition.</p>
    <p>Within the research center IMS is especially focused on the film distribution, exhibition and consumption in occupied regions during the First and the Second World War.</p>
    <p>This research expertise lend itself very well to international comparative research into (past or present) occupied regions.</p>
  </div>
</article>
