---
title: "An international comparative study on cinema spaces, film programming and cinema-going experiences in Belgium and Mexico"
description: "a first 5-day workshop on film exhibition, film programming and cinemagoing at the University of Antwerp"
---

<article>
  <div class="breadcrumb">
    <a href="/activities.html">Activities</a>
    <a href="javascript:void(0)">An international comparative study on cinema spaces, film programming and cinema-going experiences in Belgium and Mexico</a>
  </div>
  <header>
    <h1>An international comparative study on cinema spaces, film programming and cinema-going experiences in Belgium and Mexico</h1>
  </header>
  <div class="practical">
    <p><i class="fa fa-calendar left"></i><time datetime="2015-03-23">23-27 March 2015</time><br />
    <i class="fa fa-map-marker left"></i>University of Antwerp<br />
    <i class="fa fa-envelope"></i> <a href="mailto:philippe.meers@uantwerpen.be">philippe.meers@uantwerpen.be</a></p>
  </div>
  <aside>
    &nbsp;
  </aside>
  <div class="content">
    <p>As part of the FWO-CONACyT International Collaboration Programme a first 5-day workshop on film exhibition, film programming and cinemagoing is planned by DICIS partner <a href="visual-and-digital-cultures-research-center.html">ViDi</a> at the University of Antwerp.</p>

  </div>
</article>
