---
title: Public Lecture Jef Klenotic on space and place in communication and media-history
description: "this talk will focus upon how digital methods might alter/inform our historical understanding of communication technologies"
---

<article>
  <div class="breadcrumb">
    <a href="/activities.html">Activities</a>
    <a href="javascipt:void(0)">Public Lecture Jef Klenotic on space and place in communication and media-history</a>
  </div>
  <header>
    <h1>Public Lecture Jef Klenotic on space and place in communication and media-history</h1>
  </header>
  <div class="practical">
    <p><i class="fa fa-calendar left"></i><time datetime="2017-03-14">14 March 2017 10-12 am</time><br>
    <i class="fa fa-map-marker left"></i>Ghent<br>
    <a href="http://www.mappingmovies.com">http://www.mappingmovies.com</a><i class="fa fa-external-link right"></i><br>
    <a href="http://manchester.unh.edu/faculty/klenotic">http://manchester.unh.edu/faculty/klenotic</a><i class="fa fa-external-link right"></i></p>
  </div>
  <aside>
    &nbsp;&nbsp;
  </aside>
  <div class="content">
    <p>Public lecture by Prof. Jeff Klenotic (U of New Hampshire) on space and place in communication and media history. As part of the broad consideration of spatial history, this talk will focus upon how digital methods might alter/inform our historical understanding of communication technologies and culture.
    For more information, contact <a href="mailto:daniel.biltereyst@ugent.be" class="underline">daniel.biltereyst@ugent.be</a> or <a href="mailto:lennart.soberon@ugent.be" class="underline">Lennart.soberon@ugent.be</a></p>
  </div>
</article>
