---
title: Jeff Klenotic on GIS and cinema studies
description: One-day workshop by Prof. Jeff Klenotic (U of New Hampshire) on the use of GIS for cinema and film studies
---

<article>
  <div class="breadcrumb">
    <a href="/activities.html">Activities</a>
    <a href="javascipt:void(0)">Workshop Methods (6): Jeff Klenotic on GIS and cinema studies</a>
  </div>
  <header>
    <h1>Workshop Methods (6): Jeff Klenotic on GIS and cinema studies</h1>
  </header>
  <div class="practical">
    <p>
    <i class="fa fa-calendar left"></i><time datetime="2017-03-15">15 March 9.30 a.m - 5 p.m</time><br>
    <i class="fa fa-map-marker left"></i>Ghent, Korte Meer 11, V1<br>
    <a href="http://www.mappingmovies.com">http://www.mappingmovies.com</a><i class="fa fa-external-link right"></i><br>
    <a href="http://manchester.unh.edu/faculty/klenotic">http://manchester.unh.edu/faculty/klenotic</a><i class="fa fa-external-link right"></i></p>
  </div>
  <aside>
    <%= image_tag "deep-mapping.jpg" %>
  </aside>
  <div class="content">
    <p>One-day workshop by Prof. Jeff Klenotic (U of New Hampshire) on the use of GIS for cinema and film studies. The first session (morning) gives a review of a variety of GIS tools, whereas the second, hands-on session (afternoon) will be devoted to allowing workshop participants to explore these tools using their own data.</p>
    <p>For more information, contact <a href="mailto:daniel.biltereyst@ugent.be">daniel.biltereyst@ugent.be</a> or <a href="mailto:Lennart.soberon@ugent.be">Lennart.soberon@ugent.be</a></p>
 
  </div>
</article>
