---
title: John Sedgwick on comparative film programming analysis
description: workshop by John Sedgwick, on doing film programming analysis from a comparative perspective
---

<article>
  <div class="breadcrumb">
    <a href="/activities.html">Activities</a>
    <a href="javascipt:void(0)">Workshop Methods (7): John Sedgwick on comparative film programming analysis</a>
  </div>
  <header>
    <h1>Workshop Methods (7): John Sedgwick on comparative film programming analysis</h1>
  </header>
  <div class="practical">
    <p>
    <i class="fa fa-calendar left"></i><time datetime="2017-06-1">1 June 9.30 a.m - 5 p.m</time><br>
    <i class="fa fa-map-marker left"></i>Ghent, Korte Meer 11, V2</p>
  </div>
  <aside>
    <%= image_tag "dicis-comparative.png" %>
  </aside>
  <div class="content">
    <p>One-day workshop by Prof. John Sedgwick (U of Portsmouth), one of the leading historical film economists, on doing film programming analysis from a comparative perspective. This methodological workshop is part of the Cultura de la Pantalla project, which focuses on cinema spaces, film programming and cinemagoing experiences in Belgium and Mexico.</p>
    <p>For more information, contact <a href="mailto:daniel.biltereyst@ugent.be">daniel.biltereyst@ugent.be</a> or <a href="mailto:Lennart.soberon@ugent.be">Lennart.soberon@ugent.be</a></p>
 
  </div>
</article>
