<article class="news-item">
  <div class="breadcrumb">
    <a href="/news.html">News</a>
    <a href="javascript:void(0)">Kick-off Digital Cinema Studies</a>
  </div>
  <header>
    <h1>Kick-off Digital Cinema Studies</h1>
  </header>
  <footer>
    <p>Posted on <time datetime="2014-10-01">1 October 2014</time></p>
  </footer>
  <div class="content">
    <p>DICIS - Digital Cinema Studies is a scientific research network funded by the Research Foundation Flanders with international expertise on film and cinema studies crossing over to digital humanities to understand the use, contribution and meaning of the digital turn for the field of cinema studies.</p>
  </div>
  <aside>
    <img src='/images/cinema-spectators-250x188.jpg' alt="cinema spectators" />
  </aside>
</article>

