---
title: "Kinomatics: the industrial geometry of motion pictures"
description: "Kinomatics contributes specialised capabilities in data visualisation (in particular geo-spatial visualisation) and analytics."
---

<article class="research-group">
  <div class="breadcrumb">
    <a href="/research.html">Research</a>
    <a href="javascript:void(0)">Kinomatics: the industrial geometry of motion pictures</a>
  </div>
  <header>
    <h1>Kinomatics: the industrial geometry of motion pictures</h1>
  </header>
  <aside>
    <img src="/images/logo-cims-300x36.jpg" />
  </aside>
  <div class="practical">
    <p><i class="fa fa-map-marker left"></i>
    Centre for Memory, Imagination and Invention<br />
    Deakin University<br />
    221 Burwood Highway<br />
    Burwood, VIC 3125 Australia</p>
    </p>
    <ul>
      <li><a href="/deb-verhoeven.html">Deb Verhoeven</a>	(Deputy Director, Centre for Memory, Imagination and Invention (CMII) Deakin University)</li>
      <li>Colin Arrowsmith (Associate Professor RMIT University)</li>
      <li>Bronwyn Coate	(Research Fellow CMII)</li>
      <li>Alwyn Davidson (Research Assistant CMII)</li>
      <li>Ben Eltham (Research Fellow CMII)</li>
    </ul>
  </div>
  <div class="content">
    <p>Kinomatics contributes specialised capabilities in data visualisation (in particular geo-spatial visualisation) and analytics.</p>
    <p>The major research topic of Kinomatics is to foster and investigate:</p>
    <ul>
      <li>the understanding the global flow of culture – in particular in the film and industry;</li>
      <li>the computational turn in cinema research;</li>
      <li>innovative approaches to digital research methodologies;</li>
      <li>big cultural data research.</li>
   </ul> 
  </div>
</article>
