---
title: "Kinomatics: the industrial geometry of motion pictures"
description: "Kinomatics contributes specialised capabilities in data visualisation (in particular geo-spatial visualisation) and analytics."
---

<article class="research-group" itemscope itemtype="http://schema.org/EducationalOrganization">
  <div class="breadcrumb">
    <a href="/research.html">Research</a>
    <a href="javascript:void(0)">Kinomatics: the industrial geometry of motion pictures</a>
  </div>
  <header>
    <h1 itemprop="name">Kinomatics: the industrial geometry of motion pictures</h1>
  </header>
  <aside>
    &nbsp;
  </aside>
  <div class="practical">
    <p><i class="fa fa-map-marker left"></i>
    Centre for Memory, Imagination and Invention<br />
    <span itemprop="address">Deakin University<br />
    221 Burwood Highway<br />
    Burwood, VIC 3125 Australia</span></p>
    <p>
      <i class="fa fa-user left"></i><a href="/deb-verhoeven.html">Deb Verhoeven</a>	(Deputy Director, Centre for Memory, Imagination and Invention (CMII) Deakin University)<br />
      <i class="fa fa-user left"></i><span itemscope itemtype="http://schema.org/Person"><span itemprop="name">Colin Arrowsmith</span> (<span itemprop="jobTitle">Associate Professor</span> RMIT University)</span><br />
      <i class="fa fa-user left"></i><span itemscope itemtype="http://schema.org/Person"><span itemprop="name">Bronwyn Coate</span>	(<span itemprop="jobTitle">Research Fellow</span> CMII)</span><br />
      <i class="fa fa-user left"></i><span itemscope itemtype="http://schema.org/Person"><span itemprop="name">Alwyn Davidson</span> (<span itemprop="jobTitle">Research Assistant</span> CMII)</span><br />
      <i class="fa fa-user left"></i><span itemscope itemtype="http://schema.org/Person"><span itemprop="name">Ben Eltham</span> (<span itemprop="jobTitle">Research Fellow</span> CMII)</span></p>
  </div>
  <div class="content">
    <p itemprop="description">Kinomatics contributes specialised capabilities in data visualisation (in particular geo-spatial visualisation) and analytics.</p>
    <p>The major research topic of Kinomatics is to foster and investigate:</p>
    <ul>
      <li>the understanding the global flow of culture – in particular in the film and industry;</li>
      <li>the computational turn in cinema research;</li>
      <li>innovative approaches to digital research methodologies;</li>
      <li>big cultural data research.</li>
   </ul> 
  </div>
</article>
