---
title: "Kinomatics: The Industrial Geometry of Motion Pictures"
description: "Kinomatics contributes specialised capabilities in data visualisation (in particular geo-spatial visualisation) and analytics."
---

<article class="research-group">
  <div class="breadcrumb">
    <a href="/research.html">Research</a>
    <a href="javascript:void(0)">Kinomatics: The Industrial Geometry of Motion Pictures</a>
  </div>
  <header>
    <h1>Kinomatics: The Industrial Geometry of Motion Pictures</h1>
  </header>
  <div class="practical">
    <p><i class="fa fa-map-marker left"></i>
    <strong>Deakin University</strong><br />
    Centre for Memory, Imagination and Invention<br />
    221 Burwood Highway<br /> 
    Burwood, VIC 3125 Australia</p> 
    <p><i class="fa fa-phone left"></i><a href="tel:61392517655">+613 9251 7655</a><br />
    </p>
    <ul>
      <li>Deb Verhoeven		Deputy Director, Centre for Memory, Imagination and Invention</li>
      <li>Colin Arrowsmith (Associate Professor)</li>
      <li>Bronwyn Coate (Research Fellow)</li>
      <li>Alwyn Davidson (Research Fellow)</li>
      <li>Ben Eltham (Research Fellow)</li>
    </ul>
  </div>
  <div class="content">
    <p>Kinomatics contributes specialised capabilities in data visualisation (in particular geo-spatial visualisation) and analytics.</p>
    <p>The major research topic of Kinomatics is to foster and investigate:</p>
    <ul>
      <li>the understanding the global flow of culture – in particular in the film and industry;</li>
      <li>the computational turn in cinema research;</li>
      <li>innovative approaches to digital research methodologies;</li>
      <li>big cultural data research.</li>
    </ul>
  </div>
</article>
