---
title: "Launch and Board Meeting DICIS"
description: "Daniel and Philippe will give a short welcome note explaining the base of the project, the goals and outline of future activities."
---

<article>
  <div class="breadcrumb">
    <a href="/activities.html">Activities</a>
    <a href="javascript:void(0)">Launch and Board Meeting DICIS</a>
  </div>
  <header>
    <h1>Launch and Board Meeting DICIS</h1>
  </header>
  <aside>
    <img src="/images/logo-dicis-250x70.jpg" alt="logo dicis" />
  </aside>
  <div class="practical">
    <p><i class="fa fa-calendar left"></i><time datetime="06-18">June 18</time><br />
    <i class="fa fa-map-marker left"></i>Catholic University of Milan</p>
  </div>
  <div class="content">
    <h2>Agenda</h2>
    <h3>Introduction</h3>
    <p>10’: Daniel and Philippe will give a short welcome note explaining the base of the project, the goals and outline of future activities.</p>
    <h3>Open discussion & brainstorm</h3>
    <p>50’: Furthermore, we would like to give the floor to an open discussion on these (and more) possible topics. We would like to invite to think about</p>
     <ol>
       <li>Local examples of research cross-overs between digital humanities and cinema and/or film studies</li>
       <li>Possibilities for the DICIS website</li>
       <li>Ontological  and practical connections with HoMER</li>
     </ol>
     <h2>Attending</h2>
     <p>DICIS board members: Daniël Biltereyst, Lies Van de Vijver, Philippe Meers, Leen Engelen, Roel Vande Winkel, Judith Thissen, Clara Pafort-Overduin, Richard Maltby, Deb Verhoeven, Mike Walsh, Colin Arrowsmith, Bronwyn Coate, Alwyn Davidson, Daniela Treveri Gennari, Pierluigi Ercole, Pavel Skopal, Lucie Česálková, Mariagrazie Fanchi, Virginia Luzón &amp; Quim Puig</p>
  </div>
</article>
