---
title: "Leen Engelen"
description: "Leen Engelen is film - and media historian specialising in Belgian cinema, the history of cinema cultures, colonial cinema and historical representation." 
---

  <article class="researcher">
    <div class="breadcrumb">
      <a href="/people.html">People</a>
      <a href="javascript:void(0)">Leen Engelen</a>
    </div>
    <header>
      <h1>Leen Engelen</h1>
    </header>
    <aside>
    <img src="images/leen-engelen.jpg" alt="leen engelen" />
    </aside>
    <div class="content">
    <h2>Contact</h2>
    <p>
    <i class="fa fa-envelope left"></i> <a href="mailto:leen.engelen@soc.kuleuven.be">leen.engelen@soc.kuleuven.be</a><br />
    </p>
    <h2>Affiliation</h2>
    <p><a href="institute-for-media-studies.html" rel="external">Institute For Media Studies</a><i class="fa fa-external-link right"></i></p>
    <h2>Biography</h2>
      <p>Leen Engelen is a film - and media historian specialising in Belgian cinema, the history of cinema-going and cinema cultures, colonial cinema and historical representation.</p>
      <p>She  got awarded a PhD in Social Sciences from the Leuven University in 2005 with a thesis on the representation of the First World War in Belgian fiction films from the interwar period.</p>
      <p>She is currently a lecturer in film history, theory and analysis at LUCA School of Arts in Genk and Brussels. As a researcher, she is connected to the Institute for Media Studies (Leuven University) and coordinator of Re-Visionary ǀ Research Group for Image, Archive &amp; Society (LUCA School of Arts).</p>
      <p>Leen has published widely on film history and visual culture in several national and international academic journals and is editor of several books. She is also secretary general of the International Association for Media and History (www.iamhist.org) and a member of DICIS.</p>
      <h2>Research</h2>
      <p>history of film and visual culture, history of cinema cultures, history of cinema-going, historical representation.</p>
      <h2>Publications</h2>
      <p><a href="https://lirias.kuleuven.be/cv?u=U0031996" rel="external">https://lirias.kuleuven.be/cv?u=U0031996</a><i class="fa fa-external-link right"></i></p>
    </div>
  </article>


