---
title: "Lies Van de Vijver"
description: "Lies Van de Vijver is visiting professor Film Historiography (Antwerp University) and researcher at the Centre for Cinema and Media Studies (Ghent University)." 
---

  <article class="researcher">
    <div class="breadcrumb">
      <a href="/people.html">People</a>
      <a href="javascript:void(0)">Lies Van de Vijver</a>
    </div>
    <header>
      <h1>Lies Van de Vijver</h1>
    </header>
    <aside>
    <img src="images/lies-van-de-vijver.jpg" alt="lies van de vijver" />
    </aside>
    <div class="content">
      <h2>Contact</h2>
      <p>
      <i class="fa fa-envelope left"></i> <a href="mailto:liesbeth.vandevijver@ugent.be">liesbeth.vandevijver@ugent.be</a><br />
      <i class="fa fa-phone left"></i> <a href="tel:32092649186">+32 (0)9 264 91 86</a><br />
      <i class="fa fa-home left"></i>
      Ghent University<br />
      Department of Communication Science<br />
      Korte Meer 11, 9000 Ghent (Belgium) 
      </p>
      <p>Lies Van de Vijver is a visiting professor Film Historiography (Antwerp University) and a post-doctoral researcher at the Centre for Cinema and Media Studies (Ghent University).</p>
      <p>She is working on various research projects on the history of screen culture, film programming and cinema experience in Flanders. She is coordinator of the <a href="http://homernetwork.org/">HoMER Network</a> (History of Moviegoing, Exhibition and Reception) and the DICIS Network (Digital Cinema Studies).</p>
      <p>She frequently co-organizes conferences on media history research and she published in several international journals and readers on the history of screen culture in Ghent and Flanders.</p>
      <p>She is currently working on contemporary cinemagoing habits in a post-moviegoing era and the sociality and eventfulness of cinema culture today.</p>
      <p>
      <h2>Research</h2>
      <ul>
        <li>Audience Research</li>
        <li>New Cinema History</li>
        <li>Contemporary cinema cultures</li>
      </ul>
      <h2>Publications</h2>
      <p><a href="https://biblio.ugent.be/person/001999130388">Ghent University Academic Bibliography</a><i class="fa fa-external-link right"></i></p>
    </div>
  </article>


