---
title: "Mariagrazia Fanchi"
description: "Mariagrazia Fanchi is associate professor of Cultural history of audiovisual media since 2005" 
---

  <article class="researcher">
    <div class="breadcrumb">
      <a href="/people.html">People</a>
      <a href="javascript:void(0)">Mariagrazia Fanchi</a>
    </div>
    <header>
      <h1>Mariagrazia Fanchi</h1>
    </header>
    <aside>
      <img src="/images/mariagrazia-fanchi.jpg" alt="mariagrazia fanchi" />
    </aside>
    <div class="content">
      <p>Mariagrazia Fanchi is associate professor of Cultural history of audiovisual media since 2005. She graduated in Philosophy in 1993, and took her Ph.D. on Sociology and Methodology of Social Research at Catholic University (UCSC)  in 1998. She was professor at the UCSC  and visiting professor at the Università della Svizzera Italiana in Lugano, and the Università Lateranense in Rome.</p>
      <p>Since 2009, she has been director of the Master of Audio-visual Production for cinema and digital media (2009-2013) and since 2012, she coordinates the <a href="http://imacsite.net">International Program of Cinematographic and Audio-visual Studies</a> (IMACS).</p>
      <p>She is a member of the scientific committee of national and international reviews: Comunicazioni Sociali, CINEMA&amp;CIE, and Italianist-Cinema; and of the series: Italiana (Donzelli Editore) and Cinegie (Mimesis). Between the years 2002 and 2004, she has been the Italian Researchers’ representative in the Consulta Universitaria del Cinema (http://consultacinema.org/), and from 2009 to 2013 she was the Associate Professors’ representative in the same Council.</p>
      <p>She is member of the Teaching Body of the PhD program in Discipline Umanistiche. Tradizione e Contemporaneità of Catholic University. She coordinated many research studies, both for public and private buyers, focusing on the role played by cinema and television in the identity building process. Among her volumes: “L’audience” (Laterza, 2014); “Spettatore” (Il Castoro, 2005), “Identità mediatiche. Televisione e cinema nelle storie di vita di due generazioni di spettatori” (Franco Angeli 2002).  Also, she edited some monographic issues of “Bianco e Nero” (2004), “CINEMA&Cie” (2004), and “Comunicazioni Sociali” (2002; 2007; 2008;2014), as well as some essays and collective volumes devoted to the history of the audience in Italy, and the new forms of filmic experience.
      <h2>Research</h2>
      <ul>
        <li>Audience studies</li>
        <li>Gender studies</li>
        <li>History of audience</li>
        <li>Creative industries</li>
        <li>Participatory and convergence culture.</li>
      </ul>
      <h2>Publications</h2>
      <h3>Monographs</h3>
      <p>L’audience, Laterza, Roma, 2014 (ISBN: 978-88-581-0869-7)</p>
      <p>(con A. Bourlot), Il pubblico della Sala della Comunità, Torino, Effatà, 2006 Spettatore, Milano, Il Castoro, 2005</p>
      <p>(con A. Bourlot), La Sala della Comunità. Proposta culturale e intervento sul territorio, Torino, Effatà, 2004.</p>
      <p>Identità mediatiche. Televisione e cinema nelle storie di vita di due generazioni di spettatori, Milano, Franco Angeli, 2002.</p>
      <h3>Edition</h3>
      <p>(with Rosanna Maule and Alice Cati) En-gendered creativity, «Comunicazione Sociali», forthcoming.</p>
 
      <p>(with N. Vittadini) Incipit digitale. L’avvio della televisione digitale terrestre in Italia tra discorsi, prodotti e consumi, «Comunicazioni Sociali», n. 1, gennaio-aprile 2008.</p>
 
      <p>(with L. Cardone), Genere e generi. Figure femminili nell’immaginario cinematografico e culturale italiano, «Comunicazioni Sociali», n. 2, 2007.</p>

      <p>(with F. Casetti) Terre incognite. Lo spettatore italiano e le nuove forme dell’esperienza di visione del film, Roma, Carocci, 2006.</p>

      <p>(with F. Casetti), La sensibilità meccanica. Cinema e tecnologia in Italia, «Bianco e Nero», n. 549,  2004.</p>

      <p>(with F. Casetti), Transitions, "CINEMA &amp;Cie", n. 5, 2004.</p>

      <p>(con E. Mosconi) Spettatori. Forme di consumo e pubblici del cinema in Italia. 1930-1960, Venezia, Marsilio, 2002.</p>

      <p>La famiglia in televisione. La famiglia con la televisione. Le nuove forme del consumo televisivo in  famiglia, Roma, VQPT-Nuova Eri, 2001.</p>

      <p>(with A. Sainati), Al cinema. Spettatore, spettatori, pubblico, «Comunicazioni Sociali», n. 2, 2001.</p>
      <h3>Book Chapters</h3> 
      <p>"La donna del giorno". L’Università Cattolica, le donne e le professioni della comunicazione in Italia negli anni Sessanta, in R. Carpani, L. Peja, L. Aimo (eds.), Scena madre. Donne personaggi e interpreti della realtà, studi per Annamaria Cascetta, Vita e Pensiero, Milano 2014, pp. 483-489</p>

      <p>"Une femme est une femme”. Media e cultura femminile fra dibattito teorico e dati di ricerca, in Cesarina Casanova-Vincenzo Lagioia (eds.), Genere e storia: Percorsi, Bononia University Press, 2014, pp. 289-297</p>

      <p>Cinema Natives. Il cinema nelle pratiche e nell’immaginario degli spettatori con meno di 14 anni, in L. Cardone – S. Lischi (eds.), Sguardi differenti. Studi di cinema in onore di Lorenzo Cuccu, ETS, Pisa, 2014</p>

      <p>Pastore di anime. Monde Catholique et médias des années Cinquante aux années Soixante, in A. Bertolli, A. Mariani, M. Panelli (eds.), Il cinema si impara? Can we learn cinema?, Film Forum, Udine, 2013, pp. 59-65.</p>

      <p>(with Sara Sampietro) Con gli occhiali rosa. Il femminile nella televisione digitale italiana, in Veronica Innocenti, Marta Perrotta (eds.) Factual, Reality, Make Over. Lo spettacolo della trasformazione nella televisione contemporanea, Bulzoni Editore, Roma, 2013, pp. 85-99.</p>

      <p>(with Veronica Pravadelli) La Feminist Film Theory e gli studi di genere, in Emiliana De Blasio, Dario E. Viganò (eds.), I Film Studies, Carocci Editore, Roma, 2013, pp. 41-54</p>

      <p>Creatività convergente. L’arte in Italia fra istanze top-down e bottom-up, in F. Casetti (ed.), L’arte al tempo dei media. Profili e tendenze della scena artistica italiana, Milano, Postmedia, 2012, pp. 129-145</p>

      <p>Cinema-Grand Master. Il film e la sua esperienza nell’epoca della convergenza, in F. Zecca (ed.), Il cinema della convergenza. Industria, racconto, pubblico, Mimesis-Cinergie, Udine-Milano, 2012, pp. 193-204.</p>

      <p>A ben vedere. Cinema e media in «Primavera. Rivista per giovinette», in Lucia Cardone, Sara Filippelli (eds.), Cinema e scritture femminili. Letterate italiane fra la pagina e lo schermo, Iacobelli Editore, Roma-Padova, 2011, pp. 166-179.</p>

      <p>(with Federica Villa), Sapere sociale, cinema e produzione di nuovi immaginari, in P. Bertetto (ed.), Storia del cinema italiano, Venezia, Marsilio Editore, 2011, pp. 433-444.</p>

      <p>(with Francesco Pitassio)Genealogie e famiglie allargate. I generi cinematografici nel cinema italiano degli anni Trenta, in A. Faccioli (ed.), Schermi di Regime. Cinema italiano degli anni Trenta: la produzione e i generi,Venezia, Marsilio, 2010, pp. 12-31.</p>

      <p>"Tra donne sole". Cinema, Cultural Consumption and the Female Condition in Post-war Italy, in I. Schenk, M. Tröhler, Y. Zimmermann (eds.), Film-Kino-Zuschauer: Filmrezeption. Film-Cinema-Spectator: Film Reception, Marburg, Schüren, 2010, pp. 305-318.</p>

      <p>Il vecchio e il nuovo. Il DVD e l’ambivalenza della comunicazione in epoca digitale, in L. Quaresima, V. Re (eds), Play the Movie. Il DVD e le nuove forme dell’esperienza audiovisiva, Torino, Kaplan, 2010, pp. 16-31.</p>

      <p>Le forme della comunicazione mediale, in D.E. Viganò (ed), Dizionario della Comunicazione,  Roma, Carocci, 2009, pp. 179-193</p>

      <p>Accoppiamenti giudiziosi. Gli studi culturali e il problema della periodizzazione, in E. Biasin, R. Menarini, F. Zecca (eds), Le età del cinema. The ages of cinema, Atti del XIV Convegno Internazionali di Studi sul Cinema di Udine, Udine, Ed. Forum, 2008, pp. 55-62</p>

      <p>Das italienische Filmpublikum der 1960er Jahre, in T. Koebner, I. Schenk (eds), Das goldene Zeitalter des italienischen Films, München, edition text+Kritik, 2008, pp. 50-63.</p>

      <p>L’esperienza della visione e Il cinema italiano nei contesti di visione, in F. Casetti – S. Salvemini (eds), E’ tutto un altro film. Più coraggio e più idee per il cinema italiano, Milano, EGEA, 2007, pp. 85-124.</p>

      <p>Metamorfosi, divinazioni e presagi. Un percorso attraverso le forme emergenti della visione filmica, in F. Casetti, M. Fanchi (eds), Terre incognite. Lo spettatore italiano e le nuove forme dell’esperienza di visione del film, Roma, Carocci, 2006, pp. 103-118.</p>

      <p>I generi. Identità, trasformazioni e pratiche di consumo, in O. Caldiron (ed), Storia del cinema italiano. Vol. V 1934-1939, Venezia, Marsilio Editore, 2006, pp. 277-293.</p>

      <p>Il pubblico e le sale, in O. Caldiron (ed), Storia del cinema italiano. Vol. V 1934-1939, Venezia, Marsilio Editore, 2006, pp. 176-182.</p>

      <p>Eutanasia della serie. Distribuzione, presenze e incassi dei tre episodi di Matrix, in G. Pescatore (ed), Matrix. Uno studio di caso, Bologna, Hybris, 2006, pp. 161-172.</p>

      <p>Non censurare, ma educare! L’esercizio cinematografico cattolico e il suo progetto culturale e sociale, in R. Eugeni, D.E. Viganò (eds), Attraverso lo schermo. Cinema e cultura cattolica in Italia (vol. 2), Roma, EDS. Ente dello Spettacolo, 2006, pp. 103-113.</p>

      <p>Pubblici. Le molteplici identità dello spettatore cinematografico fra gli anni Trenta e gli anni Sessanta, in R. Eugeni, D.E. Viganò (eds), Attraverso lo schermo. Cinema e cultura cattolica in Italia (vol. 2), Roma, EDS. Ente dello Spettacolo, 2006, pp. 115-127.</p>

      <p>(with A. Bourlot) La Sala della Comunità. Pubblico e politica culturale del mondo cattolico, in R. Eugeni, D.E. Viganò (eds), Attraverso lo schermo. Cinema e cultura cattolica in Italia (vol. 3),  Roma, EDS. Ente dello Spettacolo, 2006, pp. 113-130</p>


      <p>Il film ideale in relazione al soggetto, ovvero agli spettatori a cui il film è destinato, in D.E. Viganò (ed), Pio XII e il cinema, Roma, Ente dello Spettacolo Editore, 2005, pp. 65-78.</p>

      <p>Memorie, generazioni e consumi culturali. Le storie di vita di quattro generazioni, in P. Aroldi, F. Colombo (eds), Le età della tv. Indagine su quattro generazioni di spettatori italiani, Milano, Vita e Pensiero, 2003, pp. 207-245</p>

      <p>(with E. Mosconi) Introduzione. Concetti, chiavi di lettura e prospettive di ricerca, in M. Fanchi, E. Mosconi (eds), Spettatori. Forme di consumo e pubblici del cinema in Italia. 1930-1960, Venezia, Marsilio Editore, 2002, pp. 7-20.</p>

      <p>(with F. Casetti) Le funzioni sociali del cinema e dei media. Dati statistici, ricerche sull’audience e storie di consumo, in M. Fanchi, E. Mosconi (eds), Spettatori. Forme di consumo e pubblici del cinema in Italia. 1930-1960, Venezia, Marsilio Editore, 2002, pp. 135-171.</p>

      <p>Le tappe del dibattito e i principali contributi teorici e di ricerca, in M. Fanchi, E. Mosconi (eds), Spettatori. Forme di consumo e pubblici del cinema in Italia. 1930-1960, Venezia, Marsilio Editore, 2002, pp. 265-277.</p>

      <p>Lo spettatore cinematografico, in F. Colombo, R. Eugeni (eds), Teorie, tecniche di analisi, case history, Roma, Carocci, 2001, pp. 191-212.</p>

      <p>Introduzione, in M. Fanchi (ed), La famiglia in televisione. La famiglia con la televisione, Roma, VQPT-Nuova Eri, 2001, pp. 9-12.</p>

      <p>Qualche passo indietro. Le ricerche pregresse, in M. Fanchi (ed), La famiglia in televisione. La famiglia con la televisione, Roma, VQPT-Nuova Eri, 2001, pp. 15-19.</p>

      <p>La famiglia con la televisione, in M. Fanchi (ed), La famiglia in televisione. La famiglia con la televisione, Roma, VQPT-Nuova Eri, 2001, pp. 51-97.</p>

      <p>Un ininterrotto dialogo con il pubblico, in L. Di Francesco (ed), Lo sguardo eclettico. Il cinema di Mario Monicelli, Venezia, Marsilio Editore, 2001, pp. 198-214.</p>

      <p>(with F. Casetti) Media e pluralità familiare. Il contributo della comunicazione televisiva alla rappresentazione sociale della pluralità familiare, in P.P. Donati (ed), Identità e varietà dell’essere famiglia. Il fenomeno della pluralizzazione. VII rapporto CISF sulla famiglia, Milano, Ed. San Paolo, 2001, pp. 277-308.</p>


      <p>La trasformazione del consumo e dei film come risorsa sociale, in G. De Vincenti (ed), Storia del cinema italiano. Vol. X, 1960-1964, Venezia, Marsilio Editore, 2001, pp. 314-327.</p>

      <p>La programmazione della SSR - Idée Suisse: la rappresentazione della vita pubblica della nazione, in Quaderni dell'Istituto Testi e Media, n.1, 2001, pp. 29-45.</p>

      <p>(with F. Casetti) Médias e espace social. Les modes d’utilisation du cinéma et de la télévision dans les années cinquante et aujourd’hui, in J.P. Bertin-Maghit, B. Fleury-Vilatte (eds), Les istitutions de l’image, Paris, Editions de d’Ecole des Hautes Etudies en Sciences Sociales, 2001, pp. 61-65.</p>

      <p>La rappresentazione televisiva dell’unità familiare. Stili di enunciazione e strategie di valorizzazione, in V. Cigoli (ed), Il vello d’oro. Ricerche sul valore famiglia, Milano, Ed. San Paolo, 2000, pp. 185-243.</p>
 
      <p>(with C. Gozzoli) Riconoscimento e processi di ricontestualizzazione dei valori televisivi in ambito familiare, in V. Cigoli (ed), Il vello d’oro. Ricerche sul valore famiglia, Milano, Ed. San Paolo, 2000, pp. 245-304.</p>

      <p>Tra cerimonia e rito. Un’analisi dei rituali di interazione in Sorgo Rosso di Zhang Yimou, in B. De Marchi (ed), Huang Tu Di. Terra Gialla. Materiali per l’intelligenza del cinema delle tre Cine, Milano, EuresisEdizioni, 1999, 147-168.</p>

      <p>(with F. Casetti), Televisione e vita familiare: una rete di discorsi, in F. Casetti (ed), L'ospite fisso. Televisione e mass media nelle famiglie italiane, Milano, Ed. San Paolo, 1995, pp. 97-129.</p>

      <p>(with R. Perego), Generi televisivi e strategie di interpretazione dei testi, in F. Casetti (ed), L'ospite fisso. Televisione e mass media nelle famiglie italiane, Milano, Ed. San Paolo, 1995, pp. 131-153.</p>
      <h3>Articles</h3> 
      <p>Trans-(medial) gender. Il dibattito sul femminile e sul maschile nei Media Studies, in “Imago. Studi di Cinema e Media”, III, 6, 2012, pp. 141-152.</p>
 
      <p>Il filo tenace dell’esperienza cinematografica. La sala, la memoria, la comunità, in “Bianco e Nero”, n. 574, 2012, pp. 51-53</p>

      <p>(with Lucia Cardone) Che genere di schermo? Incroci fra storia del cinema e gender studies in Italia,  in The Italianist, 31, 2011, pp. 293-303.</p>

      <p>Iperboli, crasi e neologismi. Per un’onomastica (e una teoria) del “nuovo” spettatore, in Cinergie.  Il cinema e le altre arti», 19, 2010, pp. 58-59</p>

      <p>Memory Reloaded. Il cinema e le nuove pratiche sociali della memoria, in L. Gandini, D. Cecchin, M. Gentilini (eds), Memorie riflesse. Lo schermo fra vero e falso, «Quaderni di archivio trentino», 26, 2010, pp. 60-68.</p>

      <p>La rivoluzione conservatrice. I limiti della prima stagione della Dtt, in M. Fanchi, N. Vittadini (eds), Incipit digitale. L’avvio della televisione digitale terrestre in Italia fra discorsi, prodotti e consumi, «Comunicazioni Sociali», n. 1, 2008, pp. 7-12</p>

      <p>(with L. Cardone), Note, in «Comunicazioni Sociali», n. 2, 2007, pp. 155-161.</p>

      <p>Cornici di visione, esperienze del film, spettatori. Coordinate per uno studio dei nuovi spazi della fruizione filmica, in «Territorio», 41, 2007, pp. 11-12.</p>

      <p>Un genere di storia. Alcune considerazioni su storia di genere e storiografia del cinema, in «La valle dell’Eden», 19, 2007, pp. 183-193.</p>

      <p>Immagini cinematografiche e pratiche sociali della memoria, in «Comunicazioni Sociali», n. 3, settembre-dicembre 2005, pp. 489-496</p>

      <p>Ethics and Etiquette of the new forms of film spectatorship, in "CINEMA&Cie", n.5, 2004, pp. 52-61.</p>

      <p>(with F. Casetti) Introduction, in «CINEMA&Cie», n. 5, 2004, pp. 7-9.</p>

      <p>(with F. Casetti) Cinephilia/Telephilia, in «Framework», vol. 45, n. 5, 2004, pp. 38-41.</p>
      <p>Note per uno studio dei luoghi della visione filmica, in «Comunicazioni Sociali», 1, gennaio-aprile 2004, pp. 116-121.</p>

      <p>Cornici di visione. Sinestesie e natura iperbolica delle forme della neospettatorialità cinematografica, in «Bianco e Nero», 549, 2004, pp. 187-197</p>


      <p>(with A. Bourlot - C. Valmachino - N. Vittadini) La qualità televisiva: rilettura critica del dibattito, in «IKON», 44-45, 2002, pp. 91-161.</p>


      <p>Dallo spettatore implicito all’audience. Breve excursus attraverso gli studi sull’audience cinematografica, in «Comunicazioni Sociali», n. 2, 2001, pp. 121-130.</p>

      <p>Identità nazionale, memoria e mass media, in «Comunicazioni Sociali», n. 3, 1999, pp. 315- 328.</p>

      <p>Programmi televisivi e valori, in «Aggiornamenti Sociali», n. 4, 1998, pp. 319-326.</p>

      <p>Mass media e identità: un modello di analisi, in C. Giaccardi (ed), Percorsi di identità, "Comunicazioni Sociali", n. 4, 1997, pp. 664-684.</p>

      <p>(with R. Lietti) Il ruolo del cinema nella formazione dell'identità italiana negli anni '50, in F. Anania (ed), La pedagogia dei media nel secondo dopoguerra, «Memoria e Ricerca. Rivista di storia contemporanea», n. 10, 1997, pp. 9-33.</p>

      <p>(with P. Aroldi) Valori sociali e programmi televisivi, in «Famiglia Oggi», n. 10, 1996, pp 49-71.</p>

      <p>(with F. Casetti - C. Galimberti), Comunicazione sociale, televisione e famiglia, in E. Scabini, P.P. Donati (eds), Nuovo lessico familiare, Milano, Vita e Pensiero, 1995, pp. 221-244.</p>

      <p>Tra storia e memoria. Indagine intorno al Kolossal attraverso le "storie di vita", in F. Villa (ed), Cinema e cultura popolare nell'Italia anni '50, "Comunicazioni Sociali", nn. 2-3, 1995, pp. 296-311.</p>

      <p>(with F. Casetti), Temporalità televisiva e transizioni familiari, in E. Scabini, P.P. Donati (eds), Tempo e transizioni familiari, Milano, Vita e Pensiero, 1994, pp. 139-161</p>
      <h3>Reviews</h3>
      <p>G. Koch, V. Pantenburg, S. Rothöhler (ed.), Screen Dynamics. Mapping the Borders of Cinema (österreichisches Filmmuseum/Synema Publikationen, Vienna, 2012, pp. 184)in Cinéma&amp;CIE, vol.. XIII, n. 20, Spring 2013, p. 164-166.</p>

      <h3>Entries-Lemma</h3>
      <p>Lo spettatore, il pubblico e i pubblici: per una fenomenologia sociale dell’italiano che guarda, in U. Volli (ed.), La cultura italiana. IX volume: Musica, spettacolo, fotografia, design, Novara, UTET, 2009, pp. 430-439.</p>

      <p>Lo spettatore e le nuove pratiche della visione, in T. Gregory (ed.), Treccani-XXI secolo, Roma, Istituto della Enciclopedia Italiana, 2009, pp. 569-575.</p>

      <p>Lo spettatore cinematografico - La sala - Il cinema digitale, Atlante della Comunicazione, Milano, Hoepli Editore, 2005</p>
      
      <h2>Contact</h2>
      <p>
      <i class="fa fa-envelope left"></i> <a href="mailto:mariagrazia.fanchi@unicatt.it">mariagrazia.fanchi@unicatt.it</a><br />
      <i class="fa fa-phone left"></i> <a href="tel:00390272342867">+39 0272342867</a><br />
      </p>
    </div>
  </article>


