---
title: "Mission"
description: "DICIS stimulates international comparative research by looking into compatibility, comparability and open access of databases on international film historical research."
---

<article class="mission">
  <header>
    <h1>Mission</h1>
  </header>
  <div class="content">
    <p>The digital turn within film and cinema studies has contributed to the creation of international big data on film(historic) research into film as a text and film as a consumable good (production, distribution and exploitation). As a result international expertise on film and cinema studies crosses over to digital humanities to understand the use, contribution and meaning of digital tools for the discipline.</p>
    <p>The DICIS network is not a network concerning research into digital cinema. DICIS is a scientific research network concerning questions of how digital technologies facilitate and deepen film and cinema studies and how they can bring forward new research questions.</p>
    <p>At the crossroads of cinema studies and digital humanities, DICIS’ main goal is to gather expertise on re-purposable and generative digital discovery tools to fortify the methodology and conceptual base of the digital turn. DICIS stimulates international comparative research by looking into compatibility, comparability and open access of databases on international film-historic research. The network wants to (1) strengthen existing scientific research collaborations within a core unit of the HoMER network working on digital tools and questions, (2) expand the network to similar  research centers, and (3) increase the expertise concerning (historical/longitudinal) big cinema data.</p>
    <p>DICIS is funded by the Belgian-Flemish Scientific Research Council (FWO-Vlaanderen) as a Scientific Research Network (WOG) grant, and it aims at strengthening international scientific networks. The project runs for five years (2014-18) and has a working budget per year. This grant supports researchers with the coordination of scientific research networks. A Scientific Research Network is granted funds to increase the interaction between the various research bodies, promote interdisciplinarity, multidisciplinarity and transdisciplinarity, facilitate joint publications, function as origin for mandates, projects and Visiting Postdoctoral Fellowships, jointly organize workshops, symposia, seminaries and conferences and exchange researchers, scientific data and/or information (more information, see <a href="http://www.fwo.be/en/fellowships-funding/international-contacts/scientific-research-network-(wog)/">FWO</a>).</p>
  </div>
<aside>
  <%= image_tag "logo-dicis-250x70.jpg"  %>
</aside>
</article>

