---
title: "New Approaches to Silent Film Historiography: Technology, Spectatorship and the Archive "
description: ""
---

<article>
  <div class="breadcrumb">
    <a href="/news.html">News</a>
    <a href="javascript:void(0)">New Approaches to Silent Film Historiography: Technology, Spectatorship and the Archive </a>
  </div>
  <header>
    <h1>New Approaches to Silent Film Historiography: Technology, Spectatorship and the Archive </h1>
  </header>
  <div class="practical">
    <p><i class="fa fa-calendar left"></i><time datetime="2018-05-25">18th - 19th September 2018</time><br />
    <i class="fa fa-map-marker left">University of Leeds</i><br />
    </p>
    <p>Keynote speakers: Lawrence Napper (King’s College London)<br>
    Kieron Webb (British Film Institute)</p>
  </div>
  <aside>
    &nbsp;
  </aside>
  <div class="content">
    <p>In the years following the death of silent cinema and the rise of the talkies in the early 1930s, there was a supreme lack of interest in silent film preservation and restoration. Due largely to this lack of care, the Library of Congress estimates that about 75% of all silent films are now lost forever. Many of the silent films that managed to survive in archives and private collections are incomplete or suffered significant damage and decay. More recently, high quality digital restoration technology has allowed archives and independent silent film restorers to repair substantial filmic damage which photochemical techniques could not.</p>
    <p>This conference will analyse the impact of recent technological and institutional developments on the study, experience, and restoration of silent films and discuss sustainable ways forward.</p>
    <p>Potential topics could include, but are not limited to:</p>
    <ul>
      <li>New narrative or technical analyses of specific silent film restorations (case studies)</li>
      <li>Silent film restoration ethics (e.g. preserving silent filmmakers’ artistic intent)</li>
      <li>Digitisation, curatorship and reliability of historical evidence</li>
      <li>Silent film experiences, digital archive accessibility and film scholarship</li>
      <li>Silent cinema journalistic writing (past and/or present)</li>
      <li>Theatrical presentation and distribution of silent cinema (past and/or present)</li>
      <li>Home cinema, the internet and silent cinema audiences</li>
      <li>Silent film and sustainable analogue and digital preservation</li>
      <li>Silent film copyright</li>
    </ul>
    <p>We welcome abstract submissions from postgraduate researchers, film scholars, film preservationists, and curators. Please send 200 to 300-word abstracts to <a href="silentfilmhist@gmail.com">silentfilmhist@gmail.com</a> by <strong>10th of August 2018</strong>.</p>
    <p><strong>The conference will be free to attend</strong>. A limited number of travel bursaries will be available for postgraduate students.</p>
  </div>
</article>
