<section class="news">
  <h1>DICIS NEWS</h1>
  <article class="news-item">
    <header>
      <h2><a href="#">‘Horizon2020’ Writing Seminar</a></h2>
    </header>
    <aside>
      <img src="/images/cinema.jpg" />
    </aside>
    <footer>
      <p>Posted on <time datetime="2014-10-01 15:52">1 Octobre 2014</time></p>
    </footer>
    <div class="content">
      <p>Bacon ipsum dolor sit amet porchetta meatloaf fatback chuck ground round corned beef ham shoulder capicola tongue rump spare ribs prosciutto leberkas ham hock.</p>
    </div>
  </article>
  <article class="news-item">
    <header>
      <h2><a href="#">‘Horizon2020’ Writing Seminar</a></h2>
    </header>
    <aside>
      <img src="/images/cinema.jpg" />
    </aside>
    <footer>
      <p>Posted on <time datetime="2014-10-01 15:52">1 Octobre 2014</time></p>
    </footer>
    <div class="content">
      <p>Bacon ipsum dolor sit amet porchetta meatloaf fatback chuck ground round corned beef ham shoulder capicola tongue rump spare ribs prosciutto leberkas ham hock.</p>
    </div>
  </article>
  <article class="news-item">
    <header>
      <h2><a href="#">‘Horizon2020’ Writing Seminar</a></h2>
    </header>
    <aside>
      <img src="/images/cinema.jpg" />
    </aside>
    <footer>
      <p>Posted on <time datetime="2014-10-01 15:52">1 Octobre 2014</time></p>
    </footer>
    <div class="content">
      <p>Bacon ipsum dolor sit amet porchetta meatloaf fatback chuck ground round corned beef ham shoulder capicola tongue rump spare ribs prosciutto leberkas ham hock.</p>
    </div>
  </article>
</section>
