---
title: "Dicis News"
description: "Dicis keeps you informed on current activities in the field of digital cinema studies"
---
<section class="news">
  <h1>DICIS NEWS</h1>
  <article class="news-item">
    <header>
      <h2><a href="/conference_homer_at_necs.html">Conference: HoMER@NECS Conference 2018</a></h2>
    </header>
    <aside>
      &nbsp;
    </aside>
    <footer>
      <p>Posted on <time datetime="2017-12-19">19 December 2017</time></p>
    </footer>
    <div class="content">
      <p>Hosted by VU and UvA, Amsterdam, The Netherlands. Deadline for proposals: 31 January 2018</p>
    </div>
  </article>
  <article class="news-item">
    <header>
      <h2><a href="special_issue_of_memory_studies.html">Publications: Special issue of Memory Studies on cinema-going and memory (Januari 2017).</a></h2>
    </header>
    <aside>
      &nbsp;
    </aside>
    <footer>
      <p>Posted on <time datetime="2017-09-05">5 September 2017</time></p>
    </footer>
    <div class="content">
      <p>Annette Kuhn, Daniel Biltereyst and Philippe Meers edited a special issue of Memory Studies on historical experiences of cinema-going, film experiences and reception.</p>
    </div>
  </article>
  <article class="news-item">
    <header>
      <h2><a href="symposium_european_performing_arts_dataverse.html">Symposium: European Performing Arts Dataverse.</a></h2>
    </header>
    <aside>
      &nbsp;
    </aside>
    <footer>
      <p>Posted on <time datetime="2017-09-05">5 September 2017</time></p>
    </footer>
    <div class="content">
      <p>Information on the Symposium ‘European Performing Arts Dataverse’, organized by CREATE and Cultures of Spectacles, to be held on the 9th of November, 2018, Amsterdam.</p>
    </div>
  </article>
  <article class="news-item">
    <header>
      <h2><a href="conference_panel_in_and_the_city.html">Conference panel: Cinema in/and the City: Cinema as Space and Social Experience in Europe (1895-2018).</a></h2>
    </header>
    <aside>
      &nbsp;
    </aside>
    <footer>
      <p>Posted on <time datetime="2017-09-05">5 September 2017</time></p>
    </footer>
    <div class="content">
      <p>Call for papers for the panel ‘Cinema in/and the City: Cinema as Space and Social Experience in Europe (1895-2018)’</p>
    </div>
  </article>
  <article class="news-item">
    <header>
      <h2><a href="conference_researching_past_cinema_audiences.html">CFP for the conference 'Researching Past Cinema Audiences'</a></h2>
    </header>
    <aside>
      &nbsp;
    </aside>
    <footer>
      <p>Posted on <time datetime="2017-09-05">5 September 2017</time></p>
    </footer>
    <div class="content">
      <p>Conference: Researching Past Cinema Audiences: Archives, Memories and Methods."</p>
    </div>
  </article>
  <article class="news-item">
    <header>
      <h2><a href="impact-digital-technologies-on-archival-practices-and-film-curatorship.html">CFP special issue of The Moving Image on the impact of digital technologies on archival practices and film curatorship</a></h2>
    </header>
    <aside>
      &nbsp;
    </aside>
    <footer>
      <p>Posted on <time datetime="2016-08-16">16 August 2016</time></p>
    </footer>
    <div class="content">
      <p>CFP special issue of The Moving Image on the impact of digital technologies on archival practices and film curatorship</p>
    </div>
  </article>
  <article class="news-item">
    <header>
      <h2><a href="/news-workshop-datalinkage-sharing.html">Workshop Data Linkage &amp; Sharing</a></h2>
    </header>
    <aside>
      <img src="/images/homer-conference-glasgow-2015-150x191.jpg" alt="homer conference glasgow 2015" />
    </aside>
    <footer>
      <p>Posted on <time datetime="2015-05-06">6 May 2015</time></p>
    </footer>
    <div class="content">
      <p>DICIS is organizing a workshop at the Fifth HoMER Conference.</p>
    </div>
  </article>
  <article class="news-item">
    <header>
     <h2><a href="/dicis-co-organizing-conference-on-digitalization.html">DICIS is co-organizing a conference on digitalization, movie magazines and historical audience studies with the NoRMMA Network and CIMS</a></h2>
    </header>
    <aside>
      <img src="/images/turning-the-page-conference.jpg" alt="turning the page conference" />
    </aside>
    <footer>
      <p>Posted on <time datetime="2015-03-19 15:52">19 March 2015</time></p>
    </footer>
    <div class="content">
      <p>The DICIS Network is facilitating a collaborative to organize a conference on movie magazines and the influence of digitalization. </p>
    </div>
  </article>
</section>
