<section class="news">
  <h1>DICIS NEWS</h1>
  <article class="news-item">
    <header>
      <h2><a href="/kickoff-digital-cinema-studies.html">Kick-off Digital Cinema Studies</a></h2>
    </header>
    <aside>
      <img src="/images/cinema.jpg" />
    </aside>
    <footer>
      <p>Posted on <time datetime="2014-10-01 15:52">18 June 2014</time></p>
    </footer>
    <div class="content">
      <p>On the 18the of June 2014, Digital Cinema Studies (DICIS) has been officially launched.</p>
    </div>
  </article>
</section>
