---
title: "Dicis News"
description: "Dicis keeps you informed on current activities in the field of digital cinema studies"
---
<section class="news">
  <h1>DICIS NEWS</h1>
  <article class="news-item">
    <header>
      <h2><a href="/dicis-at-comparative-study-on-cinema-spaces.html">DICIS is present at ‘Cinema Cultures in Context. An international comparative study on cinema spaces, film programming and cinema-going experiences in Belgium and Mexico’</a></h2>
    </header>
    <aside>
      &nbsp;
    </aside>
    <footer>
      <p>Posted on <time datetime="2015-03-19 15:52">19 March 2015</time></p>
    </footer>
    <div class="content">
      <p>As part of the FWO-CONACyT International Collaboration Programme a first 5-day workshop on film exhibition, film programming and cinemagoing is planned </p>
    </div>
  </article>
  <article class="news-item">
    <header>
     <h2><a href="/dicis-co-organizing-conference-on-digitalization.html">DICIS is co-organizing a conference on digitalization, movie magazines and historical audience studies with the NoRMMA Network and CIMS</a></h2>
    </header>
    <aside>
      <img src="/images/turning-the-page-conference.jpg" alt="turning the page conference" />
    </aside>
    <footer>
      <p>Posted on <time datetime="2015-03-19 15:52">19 March 2015</time></p>
    </footer>
    <div class="content">
      <p>The DICIS Network is facilitating a collaborative to organize a conference on movie magazines and the influence of digitalization. </p>
    </div>
  </article>
</section>
