---
title: "Pavel Skopal"
description: "Pavel Skopal is Assistant Professor at the Department of Film Studies and Audiovisual Culture, Masaryk University, Brno, Czech Republic" 
---

  <article class="researcher">
    <div class="breadcrumb">
      <a href="/people.html">People</a>
      <a href="javascript:void(0)">Pavel Skopal</a>
    </div>
    <header>
      <h1>Pavel Skopal</h1>
    </header>
    <aside>
    <img src="images/pavel-skopal.jpg" alt="pavel skopal" />
    </aside>
    <div class="content">
      <p>Pavel Skopal is Assistant Professor at the Department of Film Studies and Audiovisual Culture, Masaryk University, Brno, Czech Republic.</p> 
      <p>Between 2010 and 2012 he stayed at the Hochschule für Film und Fernsehen “Konrad Wolf” in Potsdam, Germany (a research on post-WWII East German cinema industry and cinema culture supported by Humboldt Foundation). </p>
      <p>His recent research projects have been focused on local cinema culture (“History of distribution, exhibition and reception in Brno, 1945-70”, and “Local cinema history in Leipzig, 1945-1970”), culture transfer, or cinema co-productions.</p>
      <p>Recently he has published a book based on a comparative research on cinema distribution and exhibition in Czechoslovakia, Poland and GDR in the period 1945-1970 (The Cinema culture of the Northern Triangle. Movies, Cinemas, and Cinema-goers in the Czech Lands, East Germany and Poland, 1945-1970. Brno: Host, 2014), and co-edited a book comparing East German and Czech film industry in the 1950s: In the Service of the State (co-editor Lars Karl, London-New York: Berghahn Books, will be published in 2015).</p>
      <h2>Research</h2>
      <p>history of distribution; cinema reception; socialist cinema; co-productions; transnational cinema</p>
      <h2>Publications</h2>
      <h3>Books</h3>
      <p>Skopal, P. (2014): Filmová kultura severního trojúhelníku. Filmy, kina a diváci českých zemí, NDR a Polska 1945-1970. Brno: Host.</p>
      <p>Skopal, P., ed. (2012): Naplánovaná kinematografie. Český filmový průmysl 1945 až 1960. Praha: Academia.</p>
      <p>Skopal, P., ed. (2005): Kinematografie a město, Studie z dějin lokální filmové kultury. Brno: Masarykova univerzita.</p>
      <h3>Articles and book chapters (selection)</h3>
      <p>Kriegsgeschichten von Liebenden und Nationen. Internationale Romanzen in drei Co-Produktionen der späten 1950er-Jahre. In Lars Karl - Dietmar Müller - Katharina Siebert (eds.), Der lange Weg nach Hause. Konstruktionen von Heimat im europäischen Spielfilm. Berlin: Metropol, 2014, pp. 154-168</p>
      <p>Reisende in Sachen Genre - von Barrandov nach Babelsberg und zurück. Zur bedeutung von tschechischen Regisseuren für die Genrefilmproduktion der DEFA in den 1960er und 1970er Jahren. In Michael Wedel, Barton Byg, Andy Räder, Skyler Arndt-Bryggs, Evan Torner (eds.), DEFA international: Grenzüberschreitende Filmbeziehungen vor und nach dem Mauerbau. Wiesbaden: Springer VS 2013, pp. 249-266.</p>
      <p>The (Restored) Practice of DEFA Co-productions with the “Normalized” Czechoslovak Film Studio in the 1970s. Images. The International Journal of European Film, Performing Arts and Audiovisual Communication, 2013, Vol. 22/XIII, Winter, pp. 189-199.</p>
      <p>The Cinematic Shapes of the Socialist Modernity Program: Ideological and Economic Parameters of Cinema Distribution in the Czech Lands, 1948-1970. In: Daniel Biltereyst – Richard Maltby – Philippe Meers (eds.), Cinema, Audiences and Modernity. New Perspectives on European Cinema History. London – New York: Routledge 2012, pp. 81-98 </p>
      <p>“It is not enough we have lost the war – now we have to watch it!” Cinemagoers’ attitudes in the Soviet occupation zone of Germany (a case study from Leipzig). Participations. Journal of Audience and Reception Studies, 2011, Vol. 8, Issue 2, pp. 497-521.</p>
      <p>Do you deserve to see the DVD trailer? Fans, franchise familiars, and the rhetoric of the Star Wars DVD trailers. In: Andrzej Gwóźdź (ed.), Film als Baustelle. Das Kino und seine Paratexte. Marburg: Schüren, 2009. pp. 147-162. Marburger Schriften zur Medienforschung 10.</p>
      <p>"The Adventure Continues on DVD" - Franchise Movies As Home Video. Convergence. The Journal of Research into New Media Technology. Special Issue "Consumption and Use of DVDs", 2007, Vol. 13, Issue 2, pp. 185-198.</p>
      <p>DVD marketing in the U.S. of Working Titles British romantic comedies: Framing reception and strategies of cultural appropriation. Jump Cut, Issue 48, Winter 2006.</p>

      <h2>Contact</h2>
      <p>
      <i class="fa fa-envelope left"></i> <a href="mailto:skopal@phil.muni.cz">skopal@phil.muni.cz</a><br />
      <i class="fa fa-phone left"></i><a href="tel:00420549496996">(+420) 549 49 6996</a><br />
      <i class="fa fa-home left"></i>  
      Masaryk University<br />
     Faculty of Arts<br />
     Department of Film Studies and Audiovisual Culture<br />
     Arne Nováka 1<br />
     Brno 602 00, Czech Republic
      </p>
    </div>
  </article>


