---
title: "People"
description: "The research centre is led by prof. Jeroen Huisman and employs seven researchers and has several affiliate members."
---

<article class="people">
<header>
  <h1>People</h1>
</header>
  <p>The DICIS Network is coordinated by Ghent University and unites three Flemish Universities and eight international research centers.</p>
</article>
<div class="members">
  <div class="member">
    <a href="/daniel-biltereyst.html"><img src="images/daniel-biltereyst.png" alt="daniël biltereyst" /></a>
    <h5><a href="/daniel-biltereyst.html">Daniel Biltereyst</a></h5>
    <p>Professor</p>
  </div>
  <div class="member">
    <a href="/piet-bracke.html"><img src="images/lies-van-de-vijver.jpg" alt="lies van de vijver" /></a>
    <h5><a href="/lies-van-de-vijver.html">Lies Van de Vijver</a></h5>
    <p>Post-doctoral researcher</p>
  </div>
  <div class="member">
    <a href="/thierry-christiaens.html"><img src="images/thierry-christiaens.jpg" alt="thierry christiaens" /></a>
    <h5><a href="/thierry-christiaens.html">Philippe Meers</a></h5>
    <p>Professor</p>
  </div>
  <div class="member">
    <a href="jana-declercq.html"><img src="images/roel-vande-winkel.jpg" alt="roel vande winkel" /></a>
    <h5><a href="/roel-vande-winkel.html">Roel Vande Winkel</a></h5>
    <p>Professor</p>
  </div>
  <div class="member">
    <a href="/leen-engelen.html"><img src="images/leen-engelen.jpg" alt="leen engelen" /></a>
    <h5><a href="/leen-engelen.html">Leen Engelen</a></h5>
    <p>Professor</p>
  </div>
  <div class="member">
    <a href="violetta-jitomirskaya.html"><img src="images/violetta-jitomirskaya.jpg" alt="violetta jitomirskaya" /></a>
    <h5><a href="/violetta-jitomirskaya.html">Clara Pafort-Overduin</a></h5>
    <p>Assistant Professor</p>
  </div>
  <div class="member">
    <a href="/karin-raeymaeckers.html"><img src="images/karin_raeymaeckers.png" alt="karin raeymaeckers" /></a>
    <h5><a href="/karin-raeymaeckers.html">Robert C. Allen</a></h5>
    <p>Professor</p>
  </div>
  <div class="member">
    <a href="richard-maltby.html"><img src="images/richard-maltby.jpg"  alt="richard maltby"/></a>
    <h5><a href="/richard-maltby.html">Richard Maltby</a></h5>
    <p>Professor</p>
  </div>
  <div class="member">
    <a href="sarah-van-den-bogaert.html"><img src="images/deb-verhoeven.jpg" alt="deb verhoeven" /></a>
    <h5><a href="/deb-verhoeven.html">Deb Verhoeven</a></h5>
    <p>Professor</p>
  </div>
  <div class="member">
    <a href="/sarah-van-leuven.html"><img src="images/daniela-treveri-gennari.jpg" alt="daniela treveri gennari" /></a>
    <h5><a href="/daniela-treveri-gennari.html">Daniela Treveri Gennari</a></h5>
    <p>Reader</p>
  </div>
  <div class="member">
    <a href="/pavel-skopal.html"><img src="images/pavel-skopal.jpg" alt="sarah van leuven" /></a>
    <h5><a href="/pavel-skopal.html">Pavel Skopal</a></h5>
    <p>Assistant Professor</p>
  </div>
  <div class="member">
    <a href="/mariagrazia-fanchi.html"><img src="images/mariagrazia-fanchi.jpg" alt="mariagrazia fanchi" /></a>
    <h5><a href="/mariagrazia-fanchi.html">Mariagrazia Fanchi</a></h5>
    <p>Associate Professor</p>
  </div>
  <div class="member">
    <a href="/virginia-luzon.html"><img src="images/virginia-luzon.jpg" alt="virginia luzon" /></a>
    <h5><a href="/virginia-luzon.html">Virginia Luzón</a></h5>
    <p>Associate Professor</p>
  </div>
</div>


