---
title: "People"
description: "The research centre is led by prof. Jeroen Huisman and employs seven researchers and has several affiliate members."
---

<article class="people">
<header>
  <h1>People</h1>
</header>
  <p>The DICIS Network is coordinated by Ghent University and unites three Flemish Universities and eight international research centers.</p>
</article>
<div class="members">
  <% data.members.each do |member| %>
    <%= partial "member", locals: { member: member } %>
  <% end %>
</div>


