---
title: "Pierluigi Ercole"
description: "Pierluigi Ercole is a Lecturer in Cinema and Television History at De Montfort University (Leicester, UK)." 
---

  <article class="researcher" role="article" itemscope itemtype="http://schema.org/Person">
    <nav class="breadcrumb" role="navigation">
      <a href="/people.html">People</a>
      <a href="javascript:void(0)">Pierluigi Ercole</a>
    </nav>
    <header>
      <h1 itemprop="name">Pierluigi Ercole</h1>
    </header>
    <aside>
      <img src="images/pierluigi-ercole.jpg" alt="pierluigi ercole" itemprop="image" />
    </aside>
    <div class="content">
      <h2>Contact</h2>
      <p>
      <i class="fa fa-envelope left"></i> <a href="mailto:pier.ercole@dmu.ac.uk" itemprop="email">pier.ercole@dmu.ac.uk</a><br />
    </span>
      </p>
      <h2>Affilation</h2>
      <p itemprop="address">Cinema and Television History Research Centre</p>
      <h2>Biography</h2>
      <p>Pierluigi Ercole is a Lecturer in Cinema and Television History at De Montfort University (Leicester, UK). Much of his research is grounded in audience and reception studies, transnational cinema and the diaspora and his work focuses, in particular, on Italian cinema, cinema-going in Italy and Britain, Anglo-Italian film culture and the distribution and reception Italian films in the UK and Ireland.</p> 

      <h2>Publications</h2>
      <p>"Screening Fascism in the Free State", Historical Journal of Film, Radio and Television (Philip M. Taylor Routledge-IAMHIST Prize for best article, 2014); </p>
      <p>"The Greatest Film of the Fascist Era", Alphaville: Journal of Film and Screen Media (2013, special issue on “Reframing Cinema Histories” co-edited with Gwenda Young). </p>

      <p>"Pictures from Italy": Italian Silent Films in Britain, 1907-1915’, in G. Bertellini ed., Italian Silent Cinema: A Reader (London: John Libbey Publishing, 2013). pp. 295-304.</p>
      <p>"Little Italy On the Brink": The Italian Diaspora and the Distribution of War Films in London 1914-1918, in R. Maltby, D. Biltereyst, P. Meers, eds., Cinema, Audiences and Modernity: New Perspectives on European Cinema History (London, New York: Routledge, 2011). pp. 154-165.</p>
      <p>"Migrant People Moving Images: Italian Immigration, London’s Little Italy and the Role of Cinema in the Early Twentieth Century", in Monica Boria, Linda Risso, eds., Laboratorio di nuova ricerca. Investigating Gender, Translation and Culture in Italian Studies (Leicester: Trobadour, 2007) pp. 21-32.</p>

  </article>


