---
title: "Publications"
description: "This Scientific Research Network is granted funds to facilitate joint publications"
---
<article>
  <header>
    <h1>Publications</h1>
  </header>
  <p>This Scientific Research Network is granted funds to increase the interaction between the various research bodies, promote interdisciplinarity, multidisciplinarity and transdisciplinarity, jointly organize workshops, seminaries and conferences and exchange researchers, scientific data and/or information but also to facilitate joint publications.</p>
</article>
<article class="publication-item">
  <p>Publications coming soon!</p>
</div>
