---
title: "Public Lecture (3): Mattias Frey on 'Film Criticism in the Digital Age: Past, Present and Possible Futures'"
description: "Public lecture by Dr Mattias Frey on how digital technologies have had profound effects on both the film and publishing industries"
---

<article>
  <div class="breadcrumb">
    <a href="/activities.html">Activities</a>
    <a href="javascript:void(0)">Public Lecture (3): Mattias Frey</a>
  </div>
  <header>
    <h1>Public Lecture (3): Mattias Frey on 'Film Criticism in the Digital Age: Past, Present and Possible Futures'</h1>
  </header>
  <div class="practical">
    <p><i class="fa fa-calendar left"></i><time datetime="2017-10-31">31 October 2017, 2.30 – 5 p.m.</time><br />
    <i class="fa fa-map-marker left"></i>Ghent, Film-Plateau, Paddenhoek<br />
    Cinema Context: <a href="http://www.cinemacontext.nl">http://www.cinemacontext.nl</a><br>
    Institute for Media Studies: <a href="http://soc.kuleuven.be/web/home/4/8/eng">http://soc.kuleuven.be/web/home/4/8/eng</a>
    </p>
  </div>
  <aside>
    &nbsp;
  </aside>
  <div class="content">
    <p>Public lecture by Dr Mattias Frey (University of Kent, UK) on how digital technologies have had profound effects on both the film and publishing industries, effects that have been experienced by many critics as a form of crisis and a prompt for existential discussion. This talk first outlines the terms of this debate and charts the changes that film criticism has faced in the twenty-first century, before contextualising the current “digital revolution” with historical iterations of perceived crisis among critics. Finally, the presentation will examine examples of good (and bad) practice in contemporary digital film criticism.</p>
    <p><a href="https://www.kent.ac.uk/arts/staff-profiles/film/frey.html">Dr. Mattias Frey</a> is Reader in Film at the University of Kent (UK). He is an editor of the journal Film Studies and is the author or editor of six books, including <a href="http://nl.aup.nl/books/9789089647177-the-permanent-crisis-of-film-criticism.html">The Permanent Crisis of Film Criticism</a> (2015) and <a href="https://www.amazon.co.uk/Film-Criticism-Digital-Mattias-Frey/dp/0813570727">Film Criticism in the Digital Age</a> (coedited with Cecilia Sayad, 2015).</p>
  </div>
</article>
