<article class="introduction">
  <header>
    <h1>DICIS Research</h1>
  </header>
  <p>DICIS - Digital Cinema Studies is a scientific research network funded by the Research Foundation Flanders with international expertise on film and cinema studies crossing over to digital humanities to understand the use, contribution and meaning of the digital turn for the field of cinema studies.</p>
</article>

<ul class="accordion-tabs">
  <li class="tab-header-and-content">
    <a href="#" class="is-active tab-link">Belgian Partners</a>
    <div class="tab-content">
      <div class="partner">
        <img src="/images/logo-cims-250x30.jpg" />
        <h2><a href="/centre-for-cinema-and-media-studies.html">Centre for Cinema and Media Studies (CIMS)</a></h2>
        <p>The Centre for Cinema and Media Studies (CIMS), connected to Ghent University, hosts different lines of research which are defined by a critical perspective and an acknowledgement of the vital role that screen and media culture plays in disseminating tastes, values and ideology in society.</p>
      </div>
      <div class="partner">
        <h2><a href="/visual-and-digital-cultures-research-center.html">Visual and Digital Cultures Research Center (ViDi) </a></h2>
        <p>The Visual and Digital Cultures Research Center (ViDi) focuses on fundamental and applied research of culture and communication processes and issues</p>
      </div>
      <div class="partner">
        <h2><a href="/institute-for-media-studies.html">Institute for Media Studies</a></h2>
        <p>The Institute for Media Studies and the subgroup Film Studies in particular, has expertise on research in film, film cultures and film exhibition. </p>
      </div>
    </div>
  </li>
  <li class="tab-header-and-content">
    <a href="#" class="tab-link">International Partners</a>
    <div class="tab-content">
      <div class="partner">
        <h2><a href="/utrecht-media-history-group.html">Utrecht Media History Group</a></h2>
        <p>Our group will contribute its expertise in 1) the construction of large (online) databases concerning film distribution and exhibition and 2) the quantitative and qualitative analysis of large  datasets to uncover economic and cultural patterns in film distribution and exhibition. </p>
      </div>
      <div class="partner">
        <h2><a href="/digital-innovation-lab.html">Digital Innovation Lab</a></h2>
        <p>The Digital Innovation Lab (DIL) engages faculty, graduate students, cultural heritage organizations, and Digital Humanities units at universities around the world in interdisciplinary, trans-domain, collaborative projects applying the methods and materials of Digital Humanities to a range of research, outreach, and teaching issues.  </p>
      </div>
      <div class="partner">
        <img src="/images/logo-flinders-university-250x92.png" alt="logo flinders university" />
        <h2><a href="/flinders-institute-for-research-in-the-humanities.html">Flinders Institute for Research in the Humanities (FIRtH)</a></h2>
        <p>Our research investigates the significance of Australian cinemas as sites of social and economic activity, examining critical periods in the development of the systems of film distribution and exhibition, including the thirty-year period surrounding the introduction of television in Australia</p>
      </div>
      <div class="partner">
        <h2><a href="/kinomatics-the-industrial-geometry-of-motion-pictures.html">Kinomatics: the industrial geometry of motion pictures</a></h2>
        <p>Kinomatics contributes specialised capabilities in data visualisation (in particular geo-spatial visualisation) and analytics.  </p>
      </div>
      <div class="partner">
        <img src="/images/logo-oxford-brookes-university-170x85.png" alt="logo oxford brookes university" />
        <h2><a href="/film-studies-research-unit.html">Film Studies Research Unit</a></h2>
        <p>This research unit – already part of the HoMER Network – has two major funded research projects (by the Arts and Humanities Research Council &amp; British Academy Mid-Career Fellowship) which are strongly inspired by the NCH-perspective</p>
      </div>
      <div class="partner">
        <h2><a href="/department-of-film-studies-and-audiovisual-culture.html">Department of Film Studies and Audiovisual Culture</a></h2>
        <p>This research group is working on three collective research projects: “Cinematic Brno”, “Employees of Brno cinemas and their memories” and “TV programming”, and two individual projects: “History of distribution, exhibition and reception in Brno, 1945-70”, and “Local cinema history in Leipzig, 1945-1970”.</p>
      </div>
      <div class="partner">
        <h2><a href="/film-photography-television-and-audiovisual-studies.html">Film, Photography, Television and Audiovisual Studies </a></h2>
        <p>At the half of 1990s, the Department of Communication Science and Performing Arts of the Catholic University of Milan started to work on audience memories.</p>
      </div>
      <div class="partner">
        <img src="/images/logo-universitat-autonoma-barcelona.jpg" alt="logo universitat autonoma de barcelona" />
        <h2><a href="/spanish-film-analysis-group.html">Spanish Film Analysis Group</a></h2>
        <p>This research unit focuses upon the social history of Spanish cinema, more in particular the formation and appropriation of culture and national identity.</p>
      </div>
    </div>
  </li>
</ul>

<script>
$(document).ready(function () {
  $('.accordion-tabs').each(function(index) {
    $(this).children('li').first().children('a').addClass('is-active').next().addClass('is-open').show();
  });

  $('.accordion-tabs').on('click', 'li > a', function(event) {
    if (!$(this).hasClass('is-active')) {
      event.preventDefault();
      var accordionTabs = $(this).closest('.accordion-tabs');
      accordionTabs.find('.is-open').removeClass('is-open').hide();

      $(this).next().toggleClass('is-open').toggle();
      accordionTabs.find('.is-active').removeClass('is-active');
      $(this).addClass('is-active');
    } else {
      event.preventDefault();
    }
  });
});
</script>

