---
title: "Conference: Rethinking the Attractions-Narrative Dialectics: New Approaches to Early Cinema"
description: "This conference seeks to both critically reflect on the continued use of the concepts of attraction and narrative in our accounts of early cinema and to pursue new avenues for exploring this period"
---

<article>
  <div class="breadcrumb">
    <a href="/activities.html">Activities</a>
    <a href="javascript:void(0)">Rethinking the Attractions-Narrative Dialectics: New Approaches to Early Cinema</a>
  </div>
  <header>
    <h1>Conference: Rethinking the Attractions-Narrative Dialectics: New Approaches to Early Cinema</h1>
  </header>
  <div class="practical">
    <p><i class="fa fa-calendar left"></i><time datetime="2015-09-14">November 9-10, 2018</time><br />
    <i class="fa fa-map-marker left"></i>Ghent University, Ghent, Belgium<br />
    <a href="http://earlycinemaconference.com/">http://earlycinemaconference.com/</a><i class="fa fa-external-link right"></i>
    </p>
  </div>
  <aside>
    <%= image_tag "logo-conference.png" %>
  </aside>
  <div class="content">
    <p>Confirmed keynotes:</p>
    <ul>
      <li>Professor André Gaudreault</li>
      <li>Professor Charlie Keil</li>
    </ul>
    <p>Since the 1980s and the introduction of the notion of the cinema of attractions by André Gaudreault and Tom Gunning, the dialectics of attraction and narrative has organized much of our understanding of early cinema. The proponents of cinema of attractions have argued that the period lasting for a decade until about 1905 was dominated by exhibitionist cinema (as opposed to the voyeuristic narrative one) which solicits the attention of the spectator either by its own status as a technical novelty, or by aligning itself with the modes of representation of the performing arts rather than those of dramatic illusion. Characterized by preference of display over the construction of diegesis, of temporal punctuality over chronological development, and of direct address to the spectator over effacement of its rhetoric potential, cinema of attractions demonstrates that the future of cinema need not have been in the pursuit of narrative form.</p>
    <p>Taking that lesson to heart, scholars such as Charlie Keil who investigated the ensuing period in detail saw the transitional era (c.1907 – 1913) not as one in which narrative naturally found its place in film but as a period in which through a painstaking method of trial and error filmmakers and film audiences alike learned how to make and comprehend narrative films through deployment and interpretation of a range of stylistic devices (editing, framing, camera movement, mise-en-scène, lecturing, etc.).</p>
    <p>When precisely one period ends and the other begins has also been a matter of extensive debate. In a number of scholarly contributions over the years Charles Musser (1991, 1994, 2006) has argued that numerous films from the cinema of attractions period such as passion plays and fight films are primarily concerned with conveying stories. More generally, for Musser, narrative film became the dominant far earlier than the cinema of attractions proposal would allow for.</p>
    <p>The dialectics of attraction and narrative is undoubtedly an illuminating way to think about this period. But it has come at a price of subduing other potentially elucidating perspectives. For instance, new cinema history has both downplayed and taken for granted the categories of fiction and non-fiction which it inherited from traditional film history – the idea that the dichotomy between fiction and non-fiction was exemplified by Méliès’ trick-films and the Lumière brothers’ actualities. One only needs to look at the categorization of various genres in Richard Abel’s Encyclopedia of Early Cinema to see that film content remains the primary way of distinguishing fiction from non-fiction genres. But this miscategorises numerous films. Consider contemporary reports which regularly cite films we regard to be fictions as instances of canned theatre, effectively actualities of theatrical performances. Whereas for Uncle Tom’s Cabin (1903) it was said that “Edison, the inventor of the moving picture machines, suggested to Mr. Brady the advisability of having films made of this mammoth production” (Grand Forks Daily Herald, December 20, 1903, 5), La lune à un mètre (1898) was described as “a life motion picture reproduction of a celebrated French spectacular piece” (Philadelphia Inquirer, September 4, 1899, 10). Conversely, early train films appear to explicitly ask of audiences to espouse specific imaginative attitudes that the philosophers of art agree to be constitutive of fiction. Haverstraw Tunnel (1897), for instance, is described as follows: “In all previous instances the audience has sat passive and witnessed scenes in motion, but in the latest example the position is, so to speak, reversed, and the spectator becomes part and parcel of the picture, for, by the exercise of the very slightest imagination, he can fancy himself perched upon the cow-catcher of an American locomotive tearing along at the rate of sixty miles per hour, with the landscape simply leaping towards him” (Biograph Bulletins, 36). In other words, the fiction/non-fiction pair or the varying imaginative mode of engagement with films presents at least one form of approaching early cinema neglected by the emphasis on the narrative-attraction dialectics.</p>
    <p>Other attempts at shifting the emphasis away from the narrative-attraction pair or at least complicating the relationship have also been made. Joshua Yumibe (2012) has, for instance, emphasized the sensuous aspect of colour in early cinema. Jennifer Lynn Peterson (2013) has written about the dreamlike qualities of travelogues during the period. The relation of early cinema to science has also garnered increasing attention (Scott Curtis 2015, Oliver Gaycken 2015). Perhaps most innovatively, Charles Musser (2006) has proposed the cinema of contemplation and the cinema of discernment as alternative models in which the spectator is absorbed by the film and actively evaluates the work, respectively.</p>
    <p>There has also never been as much primary material available as today thanks to digitalization. Whereas earlier scholars were faced with a relative dearth of materials scattered around various archives, nowadays projects such as Media History Digital Library allow access to millions of easily searchable documents. Given that what made the study of early cinema a significant subfield in film studies in the first place was the increased availability of films from the period starting with the FIAF conference in Brighton in 1978 (Wanda Strauven 2006), perhaps the sheer amount of materials available to us now can usher in a similar reconceptualization of early film history.</p>
    <p>This conference seeks to both critically reflect on the continued use of the concepts of attraction and narrative in our accounts of early cinema and to pursue new avenues for exploring this period. Theoretical, historical, computational, and methodological proposals are all welcome. Topics may include but are by no means limited to:</p>
    <ul>
      <li>Critical analysis of the cinema of attractions</li>
      <li>What is the minimum to call something a narrative film?</li>
      <li>Is attraction/narrative an objective feature of the film text? A phenomenon of reception? Combination thereof? Something else?</li>
      <li>What constitutes the “dominant” in a given historical period (number of films produced, aesthetic value, income generated, reception)?</li>
      <li>What does it mean for audiences to construe something as attraction as opposed to narrative? What counts as proof?</li>
      <li>Contributions to the Musser-Gunning debate (importance of catalogues, reception, etc.)</li>
      <li>Early cinema genres and their relationship to contemporary categorizations</li>
      <li>Films that eschew standard categorizations</li>
      <li>What constitutes a fiction film in early cinema? What constitutes a non-fiction film?</li>
      <li>How does the Méliès/Lumière dichotomy relate to fiction/non-fiction distinction?</li>
      <li>What is the relationship between fiction/non-fiction and attraction/narrative?</li>
      <li>The importance of fiction/non-fiction categories for early cinema</li>
      <li>The importance of imagination for the engagement with early cinema (what were people supposed to believe? What were they fooled into believing? What were they supposed to make-believe? What could they not but disbelieve?)</li>
      <li>The importance of the categories of truth and falsehood for early cinema (fake newsreels, reconstructions, etc.)</li>
      <li>Cinema of contemplation</li>
      <li>Cinema of discernment</li>
      <li>The sensuous aspect of early cinema</li>
      <li>Early cinema’s dreamlike quality</li>
      <li>Early cinema and the scientific attitude</li>
      <li>Various forms of hybridity in early cinema (fiction/non-fiction, intermediality with legitimate theatre, magic theatre, vaudeville, etc.)</li>
      <li>What constitutes the filmic text in early cinema? (The images alone? Together with lecturing and other sound accompaniments? The program?, etc.)</li>
      <li>How has the growing digitalization of materials changed our understanding of early cinema (What is the influence of the increased availability of materials for the quality of generalizations about the period? What new research questions does computational processing of big data afford?)</li>
      <li>New cinema history approaches to the study of early cinema(s), with issues of exhibition, distribution, audience’s experiences of film and cinema, etc.</li>
      <li>The broader economic and business context of early cinema</li>
          <li>Early cinema outside of Europe and America</li>
    </ul>
    <p>Please send proposals (title, up to 300-word abstract, up to 5 references, affiliation, contact details, and a short bio) to Mario Slugan (<a href="mailto:mario.slugan@ugent.be">mario.slugan@ugent.be</a>) by Friday, April 27, 2018. The notifications of acceptance will be sent out by Friday, June 1, 2018.</p>
    <p>Due to secured support, there will be no conference fees and a limited travel fund for postgraduate students and early career researchers whose papers are accepted will be made available (two bursaries in the maximum amount of €500 each).</p>
    <p>Authors whose papers are selected will also be invited to contribute a chapter for an edited peer-reviewed volume the publication of which is currently under discussion with an international academic publisher.</p>
    <p>Conference organized by Mario Slugan and Daniël Biltereyst, and sponsored by DICIS (Digital Cinema Studies) and European Union’s Horizon 2020 research and innovation programme under the Marie Skłodowska-Curie grant agreement No 746619.</p>
  </div>
</article>
