---
title: "Richard Maltby"
description: "Richard Maltby is Professor of Screen Studies and Executive Dean of the Faculty of Education, Humanities and Law at Flinders University, South Australia." 
---

  <article class="researcher">
    <div class="breadcrumb">
      <a href="/people.html">People</a>
      <a href="javascript:void(0)">Richard Maltby</a>
    </div>
    <header>
      <h1>Richard Maltby</h1>
    </header>
    <aside>
    <img src="images/richard-maltby.jpg" alt="richard maltby" />
    </aside>
    <div class="content">
      <h2>Contact</h2>
      <p>
      <i class="fa fa-envelope left"></i> <a href="mailto:richard.maltby@flinders.edu.au">richard.maltby@flinders.edu.au</a>
      </p>
      <h2>Affiliation</h2>
      <p><a href="flinders-institute-for-research-in-the-humanities.html">Flinders Institute for Research in the Humanities</a><i class="fa fa-external-link right"></i></p>
      <h2>Biography</h2>
      <p>Richard Maltby is the Matthew Flinders Distinguished Professor of Screen Studies and Executive Dean of the Faculty of Education, Humanities and Law at Flinders University, South Australia.</p>
      <p>His publications include Hollywood Cinema: Second Edition (Blackwell's, 2003, Hua Xia Press: Beijing, 2007), “Film Europe” and “Film America”: Cinema, Commerce and Cultural Exchange, 1925-1939, which won the Prix Jean Mitry for cinema history in 2000, and seven edited books on the history of movie audiences and exhibition history, the most recent being Explorations in New Cinema History: Approaches and Case Studies (Wiley-Blackwell, 2011) and Cinema, Audiences and Modernity: New Perspectives on European Cinema History, Routledge, 2012). He is Series Editor of Exeter Studies in Film History, and the author of over 50 articles and essays. His writings on cinema have been published in Germany, France, Japan, Sweden, the US and the UK, and translated into Chinese, Czech, Italian, Polish, Spanish, and Slovenian.</p>
      <p>Richard is a Fellow of the Australian Academy of the Humanities, and has been the lead investigator on three Australian Research Council Discovery projects examining the political history of the American film industry, the structure of the distribution and exhibition industry in Australia and the history of Australian cinema audiences.</p>
      <h2>Research</h2>
      <p>Cinema, history, audiences, exhibition, distribution</p>
      <h2>Publications</h2>
      <h3>Authored books</h3>
      <p>Hollywood Cinema, Second Edition, 696 + xv pages, 123 illus. 39 charts/diagrams.  Blackwell Publishing, Malden Ma and Oxford, 2003; Chinese translation published by Hua Xia Press: Beijing, 2007</p>
      <p>Editor and author of chapters on the Media, Dreams for Sale: Popular Culture in the Twentieth Century, 256 pages, 418 illus., 117 charts/diagrams.  Harrap, London, 1989.  Published in the United States as Passing Parade: Popular Culture in the Twentieth Century, Oxford University Press, New York, 1989.  Reprinted 1990.  Published as Cultura y Modernidad, Aguilar, Madrid, 1991, and as Drommen om det Gode Liv, Aschebourg, Goteborg, 1993.  Also published by E.B. International in Canada and Australia, 1989, Heibon-Sha in Japan, 1992, Bertelsmann in France, Sweden and Germany, 1992 3, Grange Books, Edinburgh, 1994, France-Loisirs, 1995.</p>
      <p>Harmless Entertainment: Hollywood and the Ideology of Consensus, viii + 417 pages, Scarecrow Press, Metuchen, New Jersey and London, 1983</p>
      <h3>Edited books</h3>
      <p>Editor, with Daniel Biltereyst and Philippe Meers, Explorations in New Cinema History: Approaches and Case Studies, Wiley-Blackwell, Malden, MA, 2011, xii + 335 pp.</p>
      <p>Editor, with Daniel Biltereyst and Philippe Meers, Cinema, Audiences and Modernity: New Perspectives on European Cinema History, Routledge, London, 2011, xiv + 212 pp.</p>
      <p>Editor, with Robert Allen and, Melvyn Stokes Going to the Movies: Hollywood and the Social Experience of Cinema, xv + 480 pages, 39 illus. University of Exeter Press, 2007.</p>
      <p>Editor, with Melvyn Stokes, Hollywood Abroad: Audiences and Cultural Exchange, vii + 164 pages, British Film Institute, London, 2004</p>
      <p>Editor, with Melvyn Stokes, Hollywood Spectatorship: Changing Perceptions of Cinema Audiences, vii + 168 pages, British Film Institute, London, 2001</p>
      <p>Editor with Andrew Higson, “Film Europe” and “Film America”: Cinema, Commerce and Cultural Exchange, 1925-1939, x + 406 pages, University of Exeter Press, 1999</p>
      <p>Editor, with Melvyn Stokes, Identifying Hollywood's Audiences: Cultural Identity and the Movies, v + 209 pages, British Film Institute, London, 1999</p>
      <p>Editor, with Melvyn Stokes, American Movie Audiences: From the Turn of the Century to the Early Sound Era, vi + 186 pages, British Film Institute, London, 1999</p>
      <p>Editor, The Beginnings of Cinema in England, Volume 1: 1890-1896, by John Barnes, xvii + 294 pages, University of Exeter Press, 1998</p>
      <p>Editor, The Beginnings of Cinema in England, Volume 5: 1900, by John Barnes, xxxii + 329 pages, 123 illus. University of Exeter Press, 1997</p>
      <h3>Contributions to books</h3>
      <p>With Dylan Walker and Mike Walsh, “Digital Methods in New Cinema History,” in Repurposing the Digital Humanities: Research, Methods, Theories, eds Paul Arthur and Katherine Bode, Palgrave MacMillan, Basingstoke, pp. 95-112</p>
      <p>“The Production Code and the Mythologies of ‘Pre-Code’ Hollywood,” in The Classical Hollywood Reader, ed. Steve Neale (London: Routledge , 2012), pp. 237-248</p>
      <p>“‘As Close to Real Life As Hollywood Ever Gets’: Headline Pictures, Topical Movies, Editorial Cinema, and Studio Realism in the 1930s,” in The Wiley-Blackwell History of American Film, eds Cynthia Lucia, Roy Grundmann and Art Simon (Malden, MA: Wiley-Blackwell, 2011), pp. 46-111.</p>
      <p>“New Cinema Histories,” in Explorations in New Cinema History: Approaches and Case Studies, eds Richard Maltby, Daniel Biltereyst and Philippe Meers, Wiley-Blackwell, Malden, MA, 2011, pp. 3-40.</p>
      <p>With Daniel Biltereyst and Philippe Meers, “Cinema, Audiences and Modernity: An Introduction,” in Cinema, Audiences and Modernity: New Perspectives on European Cinema History, eds Daniel Biltereyst, Richard Maltby and Philippe Meers, Routledge, London, 2011, pp. 1-16.</p>
      <p>With Melvyn Stokes, “Introduction,” in Going to the Movies: The Social Experience of Hollywood Cinema, University of Exeter Press, 2007, pp. 1-22.</p>
      <p>“Why Boys Go Wrong: Gangsters, Hoodlums and the Natural History of Delinquent Careers,” in Mob Culture: The American Gangster Film, eds Lee Grieveson, Esther Sonnett and Peter Stanfield, Rutgers University Press, New Brunswick, NJ, 2005, pp. 41-66.</p>
      <p>“It Happened One Night: Comedy And The Restoration Of Order,” in Film Analysis, eds Jeffrey Geiger and R.L. Rutsky, WW. Norton, New York, 2005, pp. 216-37.</p>
      <p>Introduction: “The Americanization of the World,” in Hollywood Abroad: Audiences and Cultural Exchange, eds Richard Maltby and Melvyn Stokes , British Film Institute, London, 2004, 1-20.</p>
      <p>“The Spectacle of Criminality,” in Violence and American Cinema, ed. J. David Slocum, Routledge, New York, 2001, pp. 117-52</p>
      <p>“Cinema, politica e cultura popolare a Hollywood nel dopoguerra, 1945-1960,” in Storia del cinema mondiale, Volume secondo: Gli Stati Uniti, ed. Gian Piero Brunetta, Giulio Einaudi editore, Torino, 2000, pp. 1397-1435</p>
      <p>“Introduction,” in Identifying Hollywood's Audiences: Cultural Identity and the Movies, British Film Institute, London, 1999, pp. 1-20</p>
      <p>“Sticks, Hicks and Flaps: Classical Hollywood’s Generic Conception of its Audience,” in Identifying Hollywood's Audiences: Cultural Identity and the Movies, British Film Institute, London, 1999, pp. 23-41</p>
      <p>With Andrew Higson, “‘Film Europe’ and ‘Film America’: An Introduction,” in “Film Europe” and “Film America”: Cinema, Commerce and Cultural Exchange, 1925-1939, University of Exeter Press, 1999, pp. 1-31</p>
      <p>With Ruth Vasey, “‘Temporary American Citizens’: Cultural Anxieties and Industrial Strategies in the Americanisation of European Cinema,” in “Film Europe” and “Film America”: Cinema, Commerce and Cultural Exchange, 1925-1939, University of Exeter Press, 1999, pp. 32-55. Reprinted in The European Cinema Reader, ed. Catherine Fowler, Routledge, London 2002, pp. 180-193.</p>
      <p>“The Cinema and the League of Nations,” in “Film Europe” and “Film America”: Cinema, Commerce and Cultural Exchange, 1925-1939, University of Exeter Press, 1999, pp. 82-116</p>
      <p>“Searching for Hidden Propaganda: Politics, Ideology and Consensus in Postwar Hollywood,” in Popular American Film, 1945-1995, eds Anthony Aldgate and James Chapman, Open University, 1998, 35-49</p>
      <p>“‘Nobody Knows Everything’: Post-Classical Historiographies and Consolidated Entertainment,” in Contemporary Hollywood Cinema, eds Steve Neale and Murray Smith, Routledge, London, 1998, 21-44</p>
      <p>“It Happened One Night: the Recreation of the Patriarch,” in Frank Capra and Columbia Pictures: Authorship and the Studio System, ed. Robert Sklar, Temple University Press, Philadelphia, 1998, 130-163</p>
      <p>“D for Disgusting: American Violence and English Criticism,” in Hollywood and Europe: Economics, Culture, National Identity, 1945-95, eds Geoffrey Nowell-Smith and Stephen Ricci, British Film Institute, London, 1998, 104-15</p>
      <p>“Casablanca,” in Oxford Guide to Film Studies, eds John Hill and Pamela Church Gibson. Oxford University Press, Oxford, 1998, 283-6.  Reprinted in Film Studies: American Cinema, eds John Hill and Pamela Church Gibson. Oxford University Press, Oxford, 2000</p>
      <p>Editor’s Introduction, The Beginnings of Cinema in England, Volume 5: 1900, by John Barnes. University of Exeter Press, 1997, xi- xxxii</p>
      <p>“John Ford and the Indians: ‘A Better Sense of History,’ in The Movie Book of the Western, eds Ian Cameron and Douglas Pye, Studio Vista, London, 1996, 34-49</p>
      <p>“‘A Brief Romantic Interlude’: Dick and Jane Go to Three-and-a-Half Seconds of the Classical Hollywood Cinema,” in Post-Theory: Reconstructing Film Studies, eds David Bordwell and Noel Carroll, University of Wisconsin Press, Madison, 1996, 434-459. Reprinted in Jacques Lacan: Critical Evaluations in Cultural Theory, Volume 4: Culture, ed. Slavoj Zizek, Routledge, 2002.</p>
      <p>“The Social Evil, The Moral Order, and the Melodramatic Imagination, 1890-1915,” in Melodrama: Stage, Picture, Screen, ed. Jim Cook, Jacky Bratton and Christine Gledhill, British Film Institute, London, 1994, 214-230</p>
      <p>With Ruth Vasey, “The International Language Problem: European Reactions to Hollywood’s Conversion to Sound,” in Hollywood in Europe: Experiences of a Cultural Hegemony, ed. David W. Ellwood and Rob Kroes, VU University Press, Amsterdam, 1994, 68-94</p>
      <p>With Kate Bowles, “Hollywood: The Economics of Utopia” in The United States in the Twentieth Century, Vol. 1: Culture, eds Jeremy Mitchell and Richard Maidment, Hodder and Stoughton in association with the Open University, London, 1994, 99-134.  Revised and expanded version published in The United States in the Twentieth Century, Vol. 1: Culture, Second Edition, eds Jeremy Mitchell and Richard Maidment, Hodder and Stoughton in association with the Open University, London, 1999, 99-138</p>
      <p>“The Production Code and the Hays Office,” in Grand Design: Hollywood as a Modern Business Enterprise, 1930-1939, ed. Tino Balio, Volume 5 of The History of the American Cinema, Charles Scribner’s Sons, 1993, 37-72</p>
      <p>“‘Grief in the Limelight’: Al Capone, Howard Hughes, the Hays Office and the Politics of the Unstable Text,” in Movies and Politics: The Dynamic Relationship, ed. James Combs, Garland Press, New York, 1993, 133-182</p>
      <p>“The Genesis of the Production Code,” “A Short and Dangerous Life: The Gangster Film, 1930 1932,” and editor, “Documents,” in Prima dei Codici 2. Alle Porte di Hays/Before the Codes 2. The Gateway to Hays, ed. Giuliana Muscio, Venice, Fabbri Editori, 1991, 39 80, 159 174, 357 411</p>
      <h3>Articles</h3>
      <p>“The Standard Exhibition Contract and the Unwritten History of the Classical Hollywood Cinema,” Film History 25:1-2,  (April 2013), 138-153</p>
      <p>“How Can Cinema History Matter More?” Screening the Past 22 (December 2007) <a href="http://www.latrobe.edu.au/screeningthepast">www.latrobe.edu.au/screeningthepast</a></p>
      <p>With Kate Bowles, Deb Verhoeven and Mike Walsh, “More than Ballyhoo?: The Importance of Understanding Film Consumption in Australia,” Metro No. 152 (April 2007), 96-101.</p>
      <p>“On the Prospect of Writing Cinema History from Below,” Tijdschrift voor Mediageschiedenis, 9,2 (December 2006), 74-96, reprinted in The History on Film Reader, ed. Marnie Hughes-Warrington, Routledge, London, 2009, pp. 287-307</p>
      <p>“‘More Sinned Against than Sinning’: The Fabrications of ‘Pre-Code Cinema,” Senses of Cinema 29 (Nov-Dec 2003), <a href="http://www.sensesofcinema.com.au">www.sensesofcinema.com.au</a></p>
      <p>“The problem of interpretation ...”: authorial and institutional intentions in and around Kiss me deadly,” Screening the Past 10 (June 2000) <a href="http://www.latrobe.edu.au/www/screeningthepast/firstrelease/fr0600/rmfr10e.htm">www.latrobe.edu.au/www/screeningthepast/firstrelease/fr0600/rmfr10e.htm</a></p>
      <p>With Lea Jacobs, “Rethinking the Production Code” Introduction to Quarterly Review of Film and Video, 15,4 (March 1995), 1-3</p>
      <p>"The Genesis of the Production Code,” Quarterly Review of Film and Video, 15,4 (March 1995), 5-32</p>
      <p>“Documents on the Genesis of the Production Code,” Quarterly Review of Film and Video, 15,4 (March 1995), 33-63</p>
      <p>“‘To Prevent the Prevalent Type of Book’: Censorship and Adaptation in Hollywood, 1924-1934,” American Quarterly, 44;4 (1992), special issue on Hollywood, Censorship and American Culture, 554-583; republished in Movie Censorship and American Culture, ed. Frank Couvares, Smithsonian Institution Press, 1996, 97-128; republished in Film Adaptation, ed. James Naremore, Rutgers University Press, 2000, 79-105</p>
      <p>“The King of Kings and the Czar of All the Rushes: The Propriety of the Christ Story,” Screen, 31:2 (Summer 1990), 188-213. Reprinted in Matthew Bernstein, ed., Controlling Hollywood: Censorship and Regulation in the Studio Era, Rutgers University Press, New Brunswick, NJ, 1999, pp. 60-86.</p>
      <p>“Baby Face, or How Joe Breen Made Barbara Stanwyck Atone for Causing the Wall St. Crash,” Screen, 27:2 (March-April 1986), 22-45.  Reprinted in Janet Staiger, ed., The Studio System, Rutgers University Press, 1995, 251-278. Reprinted in Screen Histories: A SCREEN Reader, eds Annette Kuhn and Jackie Stacey, Oxford University Press, 1998, pp. 164-83</p>
       
    </div>
  </article>


