---
title: "Roel Vande Winkel"
description: "Roel Vande Winkel is assistant professor of film & television studies at the University of Leuven" 
---

  <article class="researcher" role="article" itemscope itemtype="http://schema.org/Person">
    <nav class="breadcrumb" role="navigation">
      <a href="/people.html">People</a>
      <a href="javascript:void(0)">Roel Vande Winkel</a>
    </nav>
    <header>
      <h1 itemprop="name">Roel Vande Winkel</h1>
    </header>
    <aside>
    <img src="images/roel-vande-winkel.jpg" alt="roel vande winkel" itemprop="image" />
    </aside>
    <div class="content">
      <h2>Contact</h2>
      <p>
      <i class="fa fa-envelope left"></i><a href="mailto:roel.vandewinkel@kuleuven.be" itemprop="email">roel.vandewinkel@kuleuven.be</a>
      </p>
      <h2>Affiliation</h2>
      <p itemprop="affiliation"><a href="/institute-for-media-studies.html" rel="external">Institute For Media Studies</a><i class="fa fa-external-link right"></i></p>
      <h2>Biography</h2>
      <p>Roel Vande Winkel is assistant professor of film &amp; television studies at the University of Leuven. He teaches at the LUCA School of Arts and is associate editor of the "Historical Journal of Film, Radio and Television".</p>
      <p>His research is usually media-historical and focuses among other things on Belgian and European cinema (production, distribution, and exhibition), historical films and media propaganda during the interwar period and during World War II.</p>
      <p>He undertook extensive research in international archives on European cinema under the German occupation (including the importance of the Film Guild / Guild du Film in occupied Belgium), on which he is preparing several publications. He contributed articles to many international journals and published books such as “Cinema and the Swastika. The International Expansion of Third Reich Cinema” (with David Welch, 2011 revised) and “Silencing Cinema. Film Censorship around the World” (with Daniel Biltereyst, 2013).</p>
      <h2>Research</h2>
      <p>Film history, Belgian and European cinema, Documentaries and newsreels ,Propaganda films, World War II<p>
      <h2>Publications</h2>
      <p>A regularly updated list of publications can be found <a href="https://lirias.kuleuven.be/cv?u=U0073440" rel="external">here</a>.</p>
    </div>
  </article>


