---
title: "Sitemap"
description: "Couldn't find what your looking for, try our sitemap"
---
<article class="sitemap">
  <header>
    <h1>DICIS Sitemap</h1>
  </header>
  <ul class="sitemap">
    <li><a href="/">DICIS Homepage</a></li>
    <li><a href="/">Mission</a></li>
    <li><a href="/people.html">People</a>
      <ul>
        <li><a href="/daniel-biltereyst.html">Daniel Biltereyst</a></li>
        <li><a href="/lies-van-de-vijver.html">Lies Van de Vijver</a></li>
        <li><a href="#">Philippe Meers</a></li>
        <li><a href="/roel-vande-winkel.html">Roel Vande Winkel</a></li>
        <li><a href="/leen-engelen.html">Leen Engelen</a></li>
        <li><a href="#">Clara Pafort-Overduin</a></li>
        <li><a href="#">Robert C. Allen</a></li>
        <li><a href="/richard-maltby.html">Richard Maltby</a></li>
        <li><a href="/deb-verhoeven.html">Deb Verhoeven</a></li>
        <li><a href="daniela-treveri-gennari.html">Daniela Treveriu Gennari</a></li>
        <li><a href="pavel-skopal.html">Pavel Skopal</a></li>
        <li><a href="/mariagrazia-fanchi.html">Mariagrazia Fanchi</a></li>
        <li><a href="/virginia-luzon.html">Virginia Luzón</a></li>
      </ul> 
    </li>
    <li><a href="/activities.html">Activities</a>
      <ul>
        <p class="sub">Forthcoming activities</p>
        <li><a href="digital-humanities-in-flanders.html">‘Digital Humanities in Flanders’ Workshop</a></li>
        <li><a href="/digital-cinema-studies-workshop.html">‘Digital Cinema Studies’ Workshop</a></li>
        <li><a href="/digital-fandom-conference.html">‘Digital Fandom. Digitalization, Fan Magazines and Historical Audiences Studies’ Conference</a></li>
        <li><a href="/digital-fandom-conference.html">Digital Fandom Conference</a></li>
      </ul>
      <ul>
        <p class="sub">Past activities</p>
        <li><a href="/how-can-digital-history-cinema-matter-more-workshop.html">‘How can digital cinema history matter more?’ Workshop</a></li>
        <li><a href="/comparative-approaches-to-moviegoing-exhibition-and-reception-workshop.html">Comparative Approaches to moviegoing, Exhibition and Reception’ Workshop</a></li>
        <li><a href="launch-and-board-meeting-dicis.html">Launch &amp; Board meeting DICIS</a></li>
      </ul>
    </li>
    <li><a href="/research.html">Research</a>
      <ul>
        <p class="sub">Belgian Partners</p>
        <li><a href="/centre-for-cinema-and-media-studies.html">Centre for Cinema and Media Studies (CIMS)</a></li>
        <li><a href="/visual-and-digital-cultures-research-center.html">Visual and Digital Cultures Research Center (ViDi)</a></li>
        <li><a href="/institute-for-media-studies.html">Institute for Media Studies</a></li>
      </ul>
      <ul>
        <p class="sub">International Partners</p>
        <li><a href="/utrecht-media-history-group.html">Utrecht Media History Group</a></li>
        <li><a href="/digital-innovation-lab.html">Digital Innovation Lab</a></li>
        <li><a href="/cinema-and-audiences-in-australia-research-project-group.html">Cinema and Audiences in Australia Research Project (CAARP) Group</a></li>
        <li><a href="/kinomatics-the-industrial-geometry-of-motion-pictures.html">Kinomatics: the industrial geometry of motion pictures</a></li>
        <li><a href="/film-studies-research-unit.html">Film Studies Research Unit</a></li>
        <li><a href="/department-of-film-studies-and-audiovisual-culture.html">Department of Film Studies and Audiovisual Culture</a></li>
        <li><a href="/film-photography-television-and-audiovisual-studies.html">Film, Photography, Television and Audiovisual Studies</a></li>
        <li><a href="/spanish-film-analysis-group.html">Spanish Film Analysis Group</a></li>
      </ul>
    </li>
    <li><a href="/contact.html">Contact</a></li>
  </ul>
</article>
