---
title: "Spanish Film Analysis Group"
description: "focuses upon the social history of Spanish cinema, in particular the formation and appropriation of culture and national identity"
---
<article class="research-group" itemscope itemtype="http://schema.org/EducationalOrganization">
  <div class="breadcrumb">
    <a href="/research.html">Research</a>
    <a href="javascript:void(0)">Spanish Film Analysis Group</a>
  </div>
  <header>
    <h1 itemprop="name">Spanish Film Analysis Group</h1>
  </header>
  <aside>
    <img src="/images/logo-universitat-autonoma-barcelona-250.jpg" alt="logo universitat autonoma de barcelona" />
  </aside>
  <div class="practical">
    <p><i class="fa fa-map-marker left"></i>
    <strong>Universitat Autònoma de Barcelona</strong><br />
    <span itemprop="address">Edifici I, Campus Cerdanyola, Bellaterra, Barcelona<br />
      08931, Spain</span></p>
    <p>
    <i class="fa fa-phone left"></i><a href="tel:0034935811595"><span itemprop="telephone">+34 93 581 15 95</span></a><br />
    <i class="fa fa-phone left"></i><a href="tel:0034935811540"><span itemprop="telephone">+34 93 581 15 40</span></a>
    </p>
    <p>
    <i class="fa fa-user left"></i><span itemscope itemtype="http://schema.org/Person"><span itemprop="name">Virginia Luzón</span>		<span itemprop="jobTitle">Deputy Dean</span> Faculty of Communication Studies, associate professor</span><br />
    <i class="fa fa-user left"></i><span itemscope itemtype="http://schema.org/Person">Quim Puig</span>	(<span itemprop="jobTitle">associate professor</span>)<br />
    <i class="fa fa-user left"></i><span itemscope itemtype="http://schema.org/Person"><span itemprop="name">Iliana Ferrer</span> (<span itemprop="jobTitle">Departmental Lecturer</span>)</span></p>
  </div>
  <div class="content">
    <p itemprop="description">This research unit focuses upon the social history of Spanish cinema, more in particular the formation and appropriation of culture and national identity.</p>
    <p>One major research project consists of an NCH-inspired research of film culture and cinemagoing habits in Barcelona, more in particular framing the existence, transformation, rise and decline of cinema halls in this metropolitan area.</p>
    <p>This research includes the analysis of the supply and programming, as well as its relation to the experiences of consumption and reception by film viewers of different generations.</p>
  </div>
</article>
