<article class="research-group">
  <div class="breadcrumb">
    <a href="/research.html">Research</a>
    <a href="javascript:void(0)">Spanish Film Analysis Group</a>
  </div>
  <header>
    <h1>Spanish Film Analysis Group</h1>
  </header>
  <aside>
    <img src="/images/logo-universitat-autonoma-barcelona.jpg" alt="logo universitat autonoma de barcelona" />
  </aside>
  <div class="practical">
    <p><i class="fa fa-map-marker left"></i>
    <strong>Universitat Autònoma de Barcelona</strong><br />
    Edifici I, Campus Cerdanyola, Bellaterra, Barcelona<br />
    08931, Spain</p>
    </p>
    <p><i class="fa fa-phone left"></i><a href="tel:0034935811595">+34 93 581 15 95</a><br />
      <i class="fa fa-phone left"></i><a href="tel:0034 93 581 15 40">+34 93 581 15 40</a>
    </p>
    <ul>
      <li>Virginia Luzón		Deputy Dean Faculty of Communication Studies, associate professor</li>
      <li>Quim Puig	(associate professor)</li>
      <li>Iliana Ferrer (Departmental Lecturer)</li>
    </ul>
  </div>
  <div class="content">
    <p>This research unit focuses upon the social history of Spanish cinema, more in particular the formation and appropriation of culture and national identity.</p>
    <p>One major research project consists of an NCH-inspired research of film culture and cinemagoing habits in Barcelona, more in particular framing the existence, transformation, rise and decline of cinema halls in this metropolitan area.</p>
    <p>This research includes the analysis of the supply and programming, as well as its relation to the experiences of consumption and reception by film viewers of different generations.</p>
  </div>
</article>
