---
title: "Special issue of Memory Studies on cinema-going and memory (Januari 2017)."
description: ""
---

<article class="news-item">
  <div class="breadcrumb">
    <a href="/news.html">News</a>
    <a href="javascript:void(0)">Publications: Special issue of Memory Studies on cinema-going and memory (Januari 2017).</a>
  </div>
  <header>
    <h1>Publications: Special issue of Memory Studies on cinema-going and memory (Januari 2017).</h1>
  </header>
  <footer>
    <p>Posted on <time datetime="2014-10-01 15:52">5 September 2017</time></p>
  </footer>
  <div class="content">
    <p>Annette Kuhn, Daniel Biltereyst and Philippe Meers edited a special issue of Memory Studies on historical experiences of cinema-going, film experiences and reception.</p>
    <p><a href="http://journals.sagepub.com/doi/full/10.1177/1750698016670783">More information</a></p>
  </div>
  <aside>
    &nbsp;
  </aside>
</article>
