---
title: "Symposium: European Performing Arts Dataverse."
description: ""
---

<article class="news-item">
  <div class="breadcrumb">
    <a href="/news.html">News</a>
    <a href="javascript:void(0)">Symposium: European Performing Arts Dataverse.</a>
  </div>
  <header>
    <h1>Symposium: European Performing Arts Dataverse.</h1>
  </header>
  <footer>
    <p>Posted on <time datetime="2014-10-01 15:52">5 September 2017</time></p>
  </footer>
  <div class="content">
    <p>Information on the Symposium ‘European Performing Arts Dataverse’, organized by CREATE and Cultures of Spectacles, to be held on the 9th of November, 2018, Amsterdam.</p>
    <p><a href="http://www.create.humanities.uva.nl/events/epad-symposium/">More information</a></p>
  </div>
  <aside>
    &nbsp;
  </aside>
</article>
