---
title: "Conference Panel The digital turn in Belgian and Dutch film and cinema historiography "
description: "This DICIS panel session brings together recent, ongoing and future research projects in the field of digital film and cinema studies in Belgium and the Netherlands." 
---

<article>
  <div class="breadcrumb">
    <a href="/activities.html">Activities</a>
    <a href="javascript:void(0)">Conference Panel: The digital turn in Belgian and Dutch film and cinema historiography </a>
  </div>
  <header>
    <h1>Conference Panel The digital turn in Belgian and Dutch film and cinema historiography </h1>
  </header>
  <div class="practical">
    <p><i class="fa fa-calendar left"></i><time datetime="2018-05-25">25 May 2018</time><br />
    <i class="fa fa-map-marker left">Leuven, Belgium</i><br />
    </p>
  </div>
  <aside>
    &nbsp;
  </aside>
  <div class="content">
    <p>This DICIS panel session at the <a href="http://www.contemporanea.be/nl/content/dag-van-de-nieuwste-geschiedenis">Dag van de Geschiedenis (BVNG/ABHC)</a> brings together recent, ongoing and future research projects in the field of digital film and cinema studies in Belgium and the Netherlands. The panel will first give an overview of five research projects, followed by a discussion on the implications, opportunities and challenges of the digital turn in film and cinema research (cf. collaboration, international setting,…). A key question will be to what extent this kind of research projects will enable to facilitate, improve, challenge and change our understanding of film/cinema history, and of film/cinema's historical role the low countries and elsewhere. The session will be in Dutch.</p>
    <p>The following projects will be presented:</p>
    <ol>
      <li><strong>Daniel Biltereyst, Sally Chambers and Philippe Meers: Cinema Ecosystem <a href="https://www.ugent.be/ps/communicatiewetenschappen/cims/en/research/cinema-ecosystem.htm">(CINECOS)</a></strong>:<br>
      This Hercules project (2018-22) aims at developing an open access platform for sharing, enriching, analyzing and sustaining data on cinema history in Belgium from 1896 onwards. Integrating 14 existing longitudinal datasets from previous research projects in Flanders, CINECOS will cover key aspects of cinema history in Belgium such as film production, distribution, exhibition, programming, censorship and reception.</li>
      <li><strong>Lies Van de Vijver: European Cinema Audiences. Entangled Histories and Shared Memories</strong>:<br>
        <a href="https://europeancinemaaudiences.org/">European Cinema Audiences</a> (ECA) is a comparative cinema heritage project, funded by the UK Arts & Humanities Research Council (2018-21). ECA explores European film cultures in the 1950s, and it will re-evaluate the popular reception of film using an ethnographic audience study while reconstructing the film programming and exhibition structure in seven European cities (including Ghent). The project will make use of digital tools for data analysis, which will be available as a model to other researchers for comparative work. </li>
      <li><strong>Leen Engelen, Roel Vande Winkel and Thomas Crombez</strong>:<br>
        Cinema Zoologie: This project (funded by the Royal Zoological Society of Antwerp) concentrates on <a href="http://www.cinemazoologie.be/">Cinema Zoologie</a>, a movie theatre which operated in the Antwerp Zoo between 1915 and 1936. The project is based on the theatre's extensive archive that documents not only its organisational history but also its week by week film and music programs. The project will result into a book, and exhibition and an online platform that would open up the original archival documents for researchers from different fields (media history, graphic design, economic history…), as well as for the wider public.</li>
      <li><strong>Roel Vande Winkel (KULeuven/LUCA): Film in Occupied Belgium, 1940-1944</strong><br>
        This project (funded by the KU Leuven Humanities and Social Sciences Group) will valorise the data and the results of research on film in German- occupied Belgium (1940-1944). The project will result into a website on the exact location of cinema's, number of seats, and on which films they were playing. Visitors of the website can search for film titles, check where they were screened and how particular film titles travelled across the country. Background information on (the ownership) of cinemas and distribution firms and on the content of films will also be available. Short articles offer context information and help visitors find more detailed information (academic publications) on the subject. Visitors can add information that (after verification) will also be published online (crowdsourcing).</li>
      <li><strong>Julia Noordegraaf: <a href="http://www.cinemacitycultures.com/cinemaps-a-datadriven-investigation-of-cinema-markets.html">CINEMAPS</a>: Designing a geospatial, comparative analysis of cinema markets in The Netherlands and Flanders (1950-1975)</strong><br>
        This project describes the research design (theory, method, data, tools) needed for answering the core question of which factors explain the significant differences in size of the cinema market in The Netherlands (very small) and Flanders (relatively large) based on digital data and methods. Building upon recent comparative New Cinema History work and large datasets on the film market in Flanders and The Netherlands, we use this study as a case for outlining the requirements for doing comparative, transnational film historical research at scale.</li>
    </ol>
  </div>
</article>
