---
title: "Digital Fandom. Digitalization, Fan Magazines and Historical Audiences Studies’ Conference"
---

<article>
  <div class="breadcrumb">
    <a href="/activities.html">Activities</a>
    <a href="javascript:void(0)">‘Digital Fandom</a>
  </div>
  <header>
    <h1>Turning the Page. Digitalization, movie magazines and historical audience studies</h1>
  </header>
  <div class="practical">
    <p><i class="fa fa-calendar left"></i>2-13 November 2015<br />
    <i class="fa fa-map-marker left"></i>Ghent University, KASK Cinema<br />
    <i class="fa fa-download"></i> <a href="/documents/turning-the-page-flyer.pdf">Call for Papers</a><br />
    <i class="fa fa-link"></i> <a href="http://www.normmanetwork.com">www.normmanetwork.com</a></p>
  </div>
  <aside>
    <img src="/images/turning-the-page-conference-big.jpg" alt="digital fandom conference 2015" />
  </aside>
  <div class="content">
    <p>As part of an agreement between the Universities of Ghent and Kent, research relations have been concretized between the research network NoRMMA in Kent and the Centre for Cinema and Media Studies (CIMS) in Ghent into the collaborative organization of a conference on movie magazines and the influence of digitalization.</p>
    <p>The conference will be organized at Ghent University on the 12th and 13th of November 2015 and will not only invite contributions from film scholars, but widen the possible discussions and presentations towards digital humanities and periodicals studies.</p>
    <p>The key-note speakers are professor Film Studies Geneviève Sellier (University of Bordeaux) and co-founder of Media History Digital Library - Lantern, Eric Hoyt (University of Wisconsin-Madison).</p>

  </div>
</article>
