---
title: "Utrecht Media History Group"
description: "expertise in the construction of large databases concerning film distribution and exhibition and the analysis of large  datasets" 
---
<article class="research-group" itemscope itemtype="http://schema.org/EducationalOrganization">
  <div class="breadcrumb">
    <a href="/research.html">Research</a>
    <a href="javascript:void(0)">Utrecht Media History Group</a>
  </div>
  <header>
    <h1 itemprop="name">Utrecht Media History Group</h1>
  </header>
  <div class="practical">
    <p><i class="fa fa-map-marker left"></i>
    <strong>Universiteit Utrecht, Departement of Media and Culture</strong><br />
    <span itemprop="address">Muntstraat 2a, 3512 EV Utrecht, the Netherlands</span></p>
    <p><i class="fa fa-phone left"></i><a href="tel:31302536388"><span itemprop="telephone">+31302536388</span></a><br />
    <i class="fa fa-phone left"></i><a href="tel:31302539982"><span itemprop="telephone">+31302539982</span></a><br />
    <i class="fa fa-envelope left"></i><a href="mailto:f.e.kessler@uu.nl"><span itemprop="email">f.e.kessler@uu.nl</span></a>
    </p>
    <p>
    <i class="fa fa-user left"></i><span itemscope itemtype="http://schema.org/Person"><span itemprop="name">Frank Kessler</span>	(<span itemprop="jobTitle">professor</span>)</span><br />
    <i class="fa fa-user left"></i><span itemscope itemtype="http://schema.org/Person"><span itemprop="name">Judith Thissen</span> (<span itemprop="jobTitle">associate professor</span>)</span><br />
    <i class="fa fa-user left"></i><span itemscope itemtype="http://schema.org/Person"><span itemprop="name">Clara Pafort-Overduin</span> (<span itemprop="jobTitle">assistant professor</span>)</span><br />
    <i class="fa fa-user left"></i><span itemscope itemtype="http://schema.org/Person"><span itemprop="name">John Sedgwick</span> (<span itemprop="jobTitle">affiliated professor</span>)</span>
      </p>
  </div>
  <div class="content">
    <p itemprop="description">Our group will contribute its expertise in 1) the construction of large (online) databases concerning film distribution and exhibition and 2) the quantitative and qualitative analysis of large  datasets to uncover economic and cultural patterns in film distribution and exhibition.</p>
    <p>Insights gained from the NWO-funded Cinema Context Database project (www.cinemacontext.nl) are useful for future Digital Humanities projects both in terms of ICT expertise, project management and data analysis.</p>
    <p>In addition we can bring in expertise from the NWO-funded E-Humanity Approaches to Reference Cultures which uses the innovative DH methodology of multi-lingual text mining.</p>
  </div>
</article>
