<article class="research-group">
  <div class="breadcrumb">
    <a href="/research.html">Research</a>
    <a href="javascript:void(0)">Utrecht Media History Group</a>
  </div>
  <header>
    <h1>Utrecht Media History Group</h1>
  </header>
  <div class="practical">
    <p><i class="fa fa-map-marker left"></i>
    <strong>Universiteit Utrecht, Departement of Media and Culture</strong><br />
    Muntstraat 2a, 3512 EV Utrecht, the Netherlands</p>
    <p><i class="fa fa-phone left"></i><a href="tel:31302536388">+31302536388</a><br />
      <i class="fa fa-phone left"></i><a href="tel:31302539982">+31302539982</a><br />
      <i class="fa fa-envelope left"></i><a href="mailto:f.e.kessler@uu.nl">f.e.kessler@uu.nl</a>
    </p>
    <p>
    <i class="fa fa-user left"></i>Frank Kessler	(professor)<br />
    <i class="fa fa-user left"></i>Judith Thissen (associate professor)<br />
    <i class="fa fa-user left"></i>Clara Pafort-Overduin (assistant professor)<br />
    <i class="fa fa-user left"></i>John Sedgwick (affiliated professor)
      </p>
  </div>
  <div class="content">
    <p>Our group will contribute its expertise in 1) the construction of large (online) databases concerning film distribution and exhibition and 2) the quantitative and qualitative analysis of large  datasets to uncover economic and cultural patterns in film distribution and exhibition.</p>
    <p>Insights gained from the NWO-funded Cinema Context Database project (www.cinemacontext.nl) are useful for future Digital Humanities projects both in terms of ICT expertise, project management and data analysis.</p>
    <p>In addition we can bring in expertise from the NWO-funded E-Humanity Approaches to Reference Cultures which uses the innovative DH methodology of multi-lingual text mining.</p>
  </div>
</article>
