---
title: "Virginia Luzon"
description: "Doctor in Audiovisual Narrative, Magister in Audiovisual Journalism, Degree in Communication (Journalism)." 
---

  <article class="researcher" role="article" itemscope itemtype="http://schema.org/Person">
    <nav class="breadcrumb" role="navigation">
      <a href="/people.html">People</a>
      <a href="javascript:void(0)">Virginia Luzon</a>
    </nav>
    <header>
      <h1 itemprop="name">Virginia Luzon</h1>
    </header>
    <aside>
    <img src="images/virginia-luzon.jpg" alt="virginia luzon" itemprop="image" />
    </aside>
    <div class="content">
      <h2>Contact</h2>
      <p>
      <i class="fa fa-envelope left"></i> <a href="mailto:virginia.luzon@uab.cat" itemprop="email">virginia.luzon@uab.cat</a><br />
      <i class="fa fa-phone left"></i> <a href="tel:0034935811995" itemprop="telephone">+34 935811995</a><br />
      <i class="fa fa-home left"></i>
      <span itemprop="address">
      Universitat Autònoma de Barcelona<br />
      Carrer de la Vinya s/n<br />
      Edifici I, Facultat de Ciències de la Comunicació<br />
      Cerdanyola del Vallés 08931<br />
      Barcelona
    </span>
      </p>
      <h2>Affiliation</h2>
      <p itemprop="address"><a href="spanish-film-analysis-group.html">Spanish Film Analysis Group</a><i class="fa fa-external-link right"></i></p>
      <h2>Biography</h2>
      <p>Doctor in Audiovisual Narrative, Magister in Audiovisual Journalism, Degree in Communication (Journalism). She worked as a journalist in several Spanish media, including Televisión Española and TV3, Televisió de Catalunya. She is currently teaching at the University Autònoma of Barcelona. University Pompeu Fabra Visiting Fellow, (1997-1998) and University of Sevilla Visiting Fellow (1998). She has leaded several research groups on cinema, television, comic, youth and genre.</p>
      <p>Her work is mainly divided into two related areas: the history of the media and the political economy of the same. In the history of the media, seeks to relate the development of the media with broader changes in society especially about youth, while media policy has resorted to comparative research on the basis of quantitative and qualitative methods. She has developed several lines of research in television, film, comics, youth and gender from the perspective of discourse analysis, production routines, and the sociocultural role of the media.</p>
      <p>She is an evaluator in various scientific journals in the field of audiovisual communication, such Zer or Anàlisi, and also for the Global Media Journal. Since 2008 she is editor of the collection Comunica of Tirant lo Blanch editorial, and since 2014 deputy director of the Journal of Asociación Española de Investigadores en Comunicación, RAE-IC.</p>
      <h2>Publications</h2>
      <p>Luzón. V.; Meers, P.; Lozano, J.C; Biltereyst, D. (2014). La memoria histórica del cine en Barcelona: una mirada al pasado a través de la experiencia de consumo de los espectadores. En Sierra, J. &amp; Rodríguez, D. (Ed.) Miscelánea sobre el entorno audiovisual en 2014. Vol. 3. pp: 619-640. Editorial Fragua. Madrid (Spain).</p>
      <p>Llorens-Maluquer, C.; Luzón V.; Puertas, H. (2014). Mapping Digital Media and Journalism in Spain. Anàlisi. Vol: 49. pp: 43-64. Serveis de Publicacions de la UAB i Universitat Oberta de Catalunya. Bellaterra &amp; Barcelona (Spain).</p>
      </p>Luzón, V.; Puig, Q.; Rámirez, F. (2013). De la Viñeta a la Cámara. Tebeosfera. Vol: 10. pp: 1-25. Ed. Manuel Barrero. Sevilla. (Spain).</p>
      <p>Badet, M.; Luzón, V. (2013). La representación de la mujer en las periferias el cine brasileño. Informação &amp; Comunicação. Vol: 14. pp: 195-213. Universidade Federal de Goiás, Faculdade de Comunicação e Biblioteconomia. Goiás (Brasil).</p>
      <p>Luzón, Virginia. (2013) Aprender a emprender, el papel de la universidad. En Pérez-Quintanilla, M. (Ed.) TicLaude, el reto de emprender. Vol: 1. pp: 27-32. Servei de Publicacions de la Universitat Autònoma de Barcelona. Bellaterra (Spain).</p>
      <p>Ferrer, I.; Luzón, V.; Sinta, V. (2012). La percepción de la audiencia sobre las noticias espectáculo en las cadenas españolas. En: Bienvenido León (Coord.) La Televisión ante el desafío de Internet. Vol: 1. pp: 269-280. Comunicación Social, Ediciones y Publicaciones. Madrid. (Spain)</p>
      <p>Badet, M.; Luzón, V. (2012). La mujer brasileña y Brasil en los mass media de España: el papel de las noticias estándar en la apropiación de los contenidos. Líbero. Vol: 15. pp: 53-68. Faculdade de Comunicação Social Cásper Líbero. (Brasil).</p>
      <p>Luzón, V.; Ramajo, N.; Ferrer, I. (2011) Adolescencia y representación de género en el prime time televisivo español: ¿perpetuación de roles o cambio de valores?. En III Jornadas sobre Mujeres y Medios de Comunicación. Páginas: 129-142. Servicio Editorial de la Universidad del País Vasco. Leioa (Spain).</p>
      <p>Luzón, V.; Ferrer, I. (2008). Espectáculo informativo en noticias de sociedad: el caso de Madeleine McCann. Trípodos. Volumen: 22. Páginas: 137-148. Facultat de Ciències de la Comunicació Blanquerna. Barcelona (Spain).</p>
      <p>Franquet, R; Luzón, V.; Ramajo, N. (2007) La información en los principales medios de comunicación on-line: Estudiar la representación de género. Zer. Volumen: 12. Páginas: 267-282. Servicio Editorial de la Universidad del País Vasco. Leioa (Spain).</p>

    </div>
  </article>


