---
title: "Visual and Digital Cultures Research Center"
description: "Fundamental and applied research of culture and communication processes and issues, often with a visual dimension or pertaining aspects of visual media in many areas of society"
---
<article class="research-group">
  <div class="breadcrumb">
    <a href="/research.html">Research</a>
    <a href="javascript:void(0)">Visual and Digital Cultures Research Center</a>
  </div>
  <header>
    <h1>Visual and Digital Cultures Research Center (ViDi)</h1>
  </header>
  <div class="practical">
    <p><i class="fa fa-map-marker left"></i>University of Antwerp<br />
Sint-Jacobstraat 2, 2000 Antwerpen</p>
    <p><i class="fa fa-phone left"></i><a href="tel:3232655585">+3232655585</a><br />
    <i class="fa fa-phone left"></i><a href="tel:3232655787">+3232655787</a><br />
    </p>
    <p>
    <i class="fa fa-user left"></i>Paolo Favero (professor)<br />
    <i class="fa fa-user left"></i>Philippe Meers (professor)<br />
    <i class="fa fa-user left"></i>Luc Pauwels (professor)
    </p>
  </div>
  <div class="content">
    <p>The Visual and Digital Cultures Research Center (ViDi) focuses on fundamental and applied research of culture and communication processes and issues, often but not exclusively with a visual dimension or pertaining aspects of visual media in many areas of society(e.g. scientific data gathering and communication, entertainment, education and news reporting).</p>
    <p>A wide range of media (film, television, print, internet) and aspects (production processes, representational issues, contexts of use) are being studied using a variety of specialized methods (textual analysis, audience research, structural analysis, visual ethnography, visual data production).</p>
    <p>Both historical and contemporary aspects are being studied, often from a combined vantage point of looking at the ''production'' of media and images and its institutional, political and economic contexts, performing detailed analyses of the media and visual products themselves, and interrogating the users and the ways in which they construct meanings based on media and images.</p>
    <p>Our current research strands which we will continue to develop in the future are:</p>
    <ul>
      <li>Visual media as tools and data sources for social and cultural research (visual sociology, visual anthropology, visual studies, cultural geography).</li>
      <li>The study of the societal and scientific impact of new media technologies (internet, geo-media).</li>
      <li>Media analysis, media literacy and visual literacy, multimodal research.</li>
      <li>Analysis of non-fiction image cultures: from the private to the public sphere, from popular to scientific visualizations.</li>
      <li>Application of visual methods to several fields of social research (health care, urban planning, poverty research, multiculturalism, politics...).</li>
      <li>Historical research of cinema exhibition and film experience.</li>
      <li>Contemporary cinema cultures: local, national and international contexts, texts and audiences.</li>
    </ul> 
  </div>
</article>
