---
title: "Workshop Methods (9) Curating and Sharing the Data of Media History"
description: "Workshop by Prof. Jeff Klenotic (U of New Hampshire, USA) on
curating and sharing different data sets on media history, organized in the
context of the HoMER/NECS Conference, sponsored by DICIS."
---

<article>
  <div class="breadcrumb">
    <a href="/activities.html">Activities</a>
    <a href="javascript:void(0)">Workshop Methods (9) Curating and Sharing the Data of Media History</a>
  </div>
  <header>
    <h1>Workshop Methods (9) Curating and Sharing the Data of Media History</h1>
  </header>
  <div class="practical">
    <p><i class="fa fa-calendar left"></i><time datetime="2018-06-29">29 June 2018</time><br />
    <i class="fa fa-map-marker left">Amsterdam, the Netherlands</i><br />
    </p>
  </div>
  <aside>
    &nbsp;
  </aside>
  <div class="content">
    <p>Workshop by Prof. Jeff Klenotic (U of New Hampshire, USA) on curating and
    sharing different data sets on media history, organized in the context of
    the HoMER/NECS Conference, sponsored by DICIS.</p>
  </div>
</article>
