---
title: "Workshop Methods (9) Curating and Sharing the Data of Media History"
description: "Workshop by Prof. Jeff Klenotic (U of New Hampshire, USA) on
curating and sharing different data sets on media history, organized in the
context of the HoMER/NECS Conference, sponsored by DICIS."
---

<article>
  <div class="breadcrumb">
    <a href="/activities.html">Activities</a>
    <a href="javascript:void(0)">Workshop Methods (9) Curating and Sharing the Data of Media History</a>
  </div>
  <header>
    <h1>Workshop Methods (9) Curating and Sharing the Data of Media History</h1>
  </header>
  <div class="practical">
    <p><i class="fa fa-calendar left"></i><time datetime="2018-06-29">29 June 2018</time><br />
    <i class="fa fa-map-marker left">Amsterdam, the Netherlands</i><br />
    </p>
  </div>
  <aside>
    &nbsp;
  </aside>
  <div class="content">
    <p>In the course of our research, members of HoMER have amassed collections (quite large, in some cases) of documents, images, publications, and other sources that chronicle the global histories of moviegoing. How can we use digital technology to leverage these sources—many of which never even become footnotes—so that they are meaningful, useful, and revealing to a wider community? And what are the considerations of law, ethics, labor, technical expertise, and historiography that we must attend to in the process? This workshop will take up these questions through a blend of presentations, discussions, and hands-on exercises. One common thread will be the multiple meanings of “curation”—ranging from the decisions of inclusion and exclusion, to the computational structuring of data, to the methods for contextualizing objects that users encounter online.</p>
    <p>The workshop will be facilitated by Eric Hoyt, who is an associate professor of Communication Arts at the University of Wisconsin-Madison and the Director of the Media History Digital Library (<a href="http://mediahistoryproject.org">http://mediahistoryproject.org</a>). Hoyt will discuss some of the forms of curation that he and his collaborators have employed in digitizing magazines for the Media History Digital Library and, most recently, in reuniting a paper and audio collection for the “Unlocking the Airwaves” digital humanities project. But the workshop’s focus will be on the interests, research, and questions of HoMER members. Please bring at least one primary source that you would be interested in somehow sharing or curating online.</p>
  </div>
</article>
