---
title: "Workshop Methods (9): Cinema-going in the Arab World"
description: A two-days workshop on film exhibition, distribution, and cinema-going audiences in the Arab world
---

<article>
  <div class="breadcrumb">
    <a href="/activities.html">Activities</a>
    <a href="javascript:void(0)">WORKSHOP METHODS (9): Cinema-going in the Arab World</a>
  </div>
  <header>
    <h1>WORKSHOP METHODS (9): Cinema-going in the Arab World</h1>
  </header>
  <div class="practical">
    <p><i class="fa fa-calendar left"></i><time datetime="2015-09-14">14-15 September 2018</time><br />
    <i class="fa fa-map-marker left">Netherlands-Flemish Institute, Cairo, Egypt</i><br />
    </p>
  </div>
  <aside>
    <%= image_tag "ramses-theatre.jpg" %>
  </aside>
  <div class="content">
    <p>A two-days workshop on film exhibition, distribution, and cinema-going audiences in the Arab world</p>
    <p>The cinema in the Arab world has been the subject of varied and rigorous study. Most of these studies, however, have focused on films as text, providing in-depth analyses of plot, style, ideologies, or examination of the biographies of prominent directors or actors. Whilst invaluable in shedding light on the rich cinematic traditions of Arab cinema, the analytical gaze has often then been locked on the screen. With notable exceptions, cinema audiences and the economic, social, and political material conditions within which films were produced, distributed, and consumed have been largely neglected.</p>
    <p>In this workshop, held in Cairo, Egypt, we propose to shift the focus off-screen to examine the history, politics, and conditions of distribution, exhibition, and cinema-going. Through broadening our frame of study beyond the screen, we can develop a more grounded understanding of the cinema as a site of cultural and political contestation in the Arab world, including diaspora communities globally.</p>
    <p>Through this workshop we propose to look at the historical and contemporary experience of movie-going, and examine the networks of distribution and exhibition, as well as the contested and multiple meanings that the cinema embodied. How did audiences, from different backgrounds, genders, and ethnicities view or remember the cinema? How did cinema-going differ across the Arab world? How did the cinema structure memories of youthfulness, romance, politics, and protest? How does the cinema relate to the city, town or village? Can we map out distribution networks throughout the region and their links to commerce, capital and the rise of a global cinema industry? We also propose to examine how cinematic memory and artifacts are preserved, archived, and how new histories are formed around them. Tracking changes and continuities over time, with a focus on specificity, will also be an important theme of discussion.</p>
    <p>The workshop builds on the works, written mostly in Arabic, French and to a lesser extent English, of historians such as Farida Marie, Ahmad al-Hadari, and Samir Farid, who in the 1980s and 1990s constructed new histories of cinema in Egypt and offered new approaches to its study. The workshop is also influenced by the insights of what Richard Maltby, Daniel Biltereyst and Philippe Meers have recently dubbed "new cinema history" which uses multidisciplinary and multi-methodological approaches, and recently deployed digital humanities tools to give us a textured and detailed picture of historical cinema cultures and what it was like to go to the movies in the past.</p>
    <p>The workshop will act as a meeting to bring together researchers interested in audiences, exhibition and distribution practices in the Arab world, with a possibility of creating a network for dialogue and exchange.</p>
    <p>During the workshop participants will have the opportunity to engage in theoretical and methodological discussions with special guests cinema historians Daniel Biltereyst and Philippe Meers.</p>
    <p>Proposals for papers and/or hands-on presentations are now invited. Please send abstracts of 300-500 words and a short biography to arabcinemaworkshop@gmail.com by April 30, 2018 and address any queries to the same email.</p>
    <p>Digital Cinema Studies will provide financial assistance to two scholars from underrepresented or ‘Global South’ countries to help cover workshop attendance expenses. To apply for financial assistance please attach a letter (500 words maximum) demonstrating how financial assistance can help you attend the workshop.</p>
    <p>In order to attract papers from Arabic- and French-speaking scholars, the workshop will provide translation facilities.</p>
    <h3>Topics might include but are not limited to:</h3>
    <ul>
      <li>Cinema memories</li>
      <li>Film audiences and spectatorship</li>
      <li>Audience responses to film and technological changes</li>
      <li>Cinema archives</li>
      <li>Film and taste cultures</li>
      <li>Film distribution networks</li>
      <li>Changing architecture of cinemas</li>
      <li>Legal aspects of screenings</li>
      <li>Film censorship practices</li>
      <li>Cinema economiesExhibition practices including film programming and strategiesSensorial histories of the cinemaUrban life and cinema</li>
      <li>Cinematic experiences of diaspora communities in America, Australia, Europe, Africa, etc.</li>
    </ul>
    <h2>Abstracts due</h2>
    <p>30 April 2018. Accepted participants will be notified at the end of May.</p>




  </div>
</article>
