---
title: "Digital Cinema Studies Workshop"
description: "in June 2015 the HoMER Network organizes its fifth conference 'What is Cinema History?'"
---

<article>
  <div class="breadcrumb">
    <a href="/activities.html">Activities</a>
    <a href="javascript:void(0)">Workshop Data Linkage &amp; Sharing</a>
  </div>
  <header>
    <h1>WORKSHOP METHODS (2): Data Linkage &amp; Sharing</h1>
  </header>
  <div class="practical">
    <p><i class="fa fa-calendar left"></i><time datetime="2015-06-22">22 June 2015</time><br />
    <i class="fa fa-map-marker left"></i>University of Glasgow<br />
    <a href="http://homernetwork.org/call-for-papers-what-is-cinema-history/" rel="external">Call for Papers: What is Cinema History?</a><i class="fa fa-external-link right"></i></p>
  </div>
  <aside>
    <img src="/images/homer-conference-glasgow-2015.jpg" />
  </aside>
  <div class="content">
    <p>DICIS is organizing a workshop at the Fifth HoMER Conference.</p>
    <p>Since 2004 the HoMER Network has functioned as an international forum for researchers working in area of the history of exhibition, distribution and reception emphasizing cinema’s imbrication in the fabric of social experience, championing relational and contextual approaches. The HoMER Network supports a series of events and publications, and in June 2015 the HoMER Network organizes its fifth conference “What is Cinema History?”.</p>
    <p>Dr Sharon Howard, from the University of Sheffield, will be leading a practical workshop on data linkage and data sharing, based on her extensive experience as project manager for some of the UK’s most successful digital history projects. The workshop will take place in the afternoon of June 22nd, before the opening plenary, and is free to attend, although places are limited since it will take place in a computer lab.</p>
    <h2>Registration</h2>
    <p>Please <a href="https://eventbrite.co.uk/event/16802598023">sign up</a> if you would like to attend the workshop</p>
  </div>
</article>
