---
title: "Workshop Historical Network Research"
description: "This workshop is a two-days closed DICIS event concerning Historical Network Research"
---

<article>
  <div class="breadcrumb">
    <a href="/activities.html">Activities</a>
    <a href="javascript:void(0)">Workshop Historical Network Research</a>
  </div>
  <header>
    <h1>Workshop Historical Network Research</h1>
  </header>
  <div class="practical">
    <p><i class="fa fa-calendar left"></i><time datetime="2016-03-16">16-17 March 2016</time><br />
    <i class="fa fa-map-marker left"></i>Ghent University<br />
    <i class="fa fa-link left"></i><a href="http://historicalnetworkresearch.org">Historical Network Research</a><br>
    </p>
  </div>
  <aside>
    <%= image_tag "historical-network-research.jpg" %>
  </aside>
  <div class="content">
    <p>This workshop is a two-days closed DICIS event concerning Historical Network Research. On the first day, the workshop focused on a general introduction to historical network research, category building and using Palladio. A second day focused on visualization and an introduction to computation with Gephi. The workshop is organized by Martin Stark and Marten Düring from Historical Network Research (<a href="http://historicalnetworkresearch.org">http://historicalnetworkresearch.org</a>)</p>
  </div>
</article>
