---
title: WORKSHOP METHODS (5) Cinemetrics
description: This workshop is a one-day DICIS event on statistical film style analysis
---

<article>
  <div class="breadcrumb">
    <a href="/activities.html">Activities</a>
    <a href="javascript:void(0)">WORKSHOP METHODS (5): Cinemetrics</a>
  </div>
  <header>
    <h1>WORKSHOP METHODS (5): Cinemetrics</h1>
  </header>
  <div class="practical">
    <p><i class="fa fa-calendar left"></i><time datetime="2015-10-11">11 October 2016, 9.30 a.m. – 1 p.m.</time><br />
    <i class="fa fa-map-marker left"></i>Ghent University (in collaboration with ViDi) <br />
    <a href="http://www.cinemetrics.lv">http://www.cinemetrics.lv</a><i class="fa fa-external-link right"></i><br>
    <a href="http://cms.uchicago.edu/faculty/tsivian">http://cms.uchicago.edu/faculty/tsivian</a><i class="fa fa-external-link right"></i>
    </p>
  </div>
  <aside>
    <%= image_tag "cinemetrics-2.jpg" %>
  </aside>
  <div class="content">
    <p>This workshop is a one-day closed DICIS event on statistical film style analysis. This workshop by Prof. Yuri Tsivian (University of Chicago) and Daria Khitrova (Harvard University) will be focused on statistical film style analysis and on cinemetrics as a research tool and as a mode of analyzing film style. The workshop is preceded by a public lecture by Prof. Tsivian on 10 October 2016 on Cinemetrics.</p>
  </div>
</article>
