---
title: "Workshop Methods (8): Film Distribution, Exhibition and Consumption in the Second World War"
description: "A Workshop on Data Collection and Analysis, Computational Methods and the Opportunities for Comparative Research"
---

<article>
  <div class="breadcrumb">
    <a href="/activities.html">Activities</a>
    <a href="javascript:void(0)">Workshop Methods (8): Film Distribution, Exhibition and Consumption in the Second World War</a>
  </div>
  <header>
    <h1>Workshop Methods (8): Film Distribution, Exhibition and Consumption in the Second World War: A Workshop on Data Collection and Analysis, Computational Methods and the Opportunities for Comparative Research </h1>
  </header>
  <div class="practical">
    <p> Organized by DICIS and IMS</p>
    <p><i class="fa fa-calendar left"></i><time datetime="2016-03-17">15-16 May 2018</time><br />
    <i class="fa fa-map-marker left"></i>KU Leuven, Belgium</p>
  </div>
  <aside>
    <%= image_tag "1942_wien_film.jpg" %><br><br>
    <%= image_tag "1941_ufa_version.jpg" %>
  </aside>
  <div class="content">
    <h2>Organisers:</h2>
    <ul>
      <li><a href="/">DICIS A Scientific Research Network on Digital Cinema Studies</a></li>
      <li><a href="https://soc.kuleuven.be/ims">Institute for Media Studies, KU Leuven</a></li>
    </ul>
    <h2>Purpose:</h2>
    <p>Within the specific time frame of the Second World War, this workshop brings together researchers who study the distribution, exhibition and consumption of cinema in belligerent and neutral countries. Following in the footsteps of ‘Cinema and the Swastika: The International Expansion of Third Reich Cinema’ (Vande Winkel & Welch, 2007, 2011 revised) and  drawing on the field of ‘New Cinema History’ (Maltby, Biltereyst & Meers, 2011), this workshop brings together researchers who are compiling and analysing empirical data about wartime film distribution, exhibition, reception in or across specific cinemas, cities, regions or countries. The workshop, organised by the Institute for Media Studies (IMS) and the Scientific Research Network on Digital Cinema Studies (DICIS), strives to stimulate collaboration among scholars and to explore new methodologies and new types of interdisciplinary investigation, taking full advantage of the impact of digitalization on historical research (digital humanities).</p>
    <h2>DAY 1: May 15</h2>
    <p>Benjamin G. MARTIN (Uppsala University, Sweden) “‘Wartime Geopolitics at the Movies: The 'European Cinema' of the Nazi New Order in Global Perspective”</p>
    <p>Thunnis VAN OORT (University of Amsterdam, the Netherlands) and Roel VANDE WINKEL (KU Leuven, Belgium and LUCA School of Arts, Belgium): “Comparative Potential. The Cinema Context Data Model and World War II: A Comparative Case Study into Film Exhibition in German-occupied Amsterdam (Netherlands) and Antwerp (Belgium)”</p>
    <p>Pavel SKOPAL (Masaryk University, Czech Republic) and Terézia PORUBCANSKA (University of Antwerp, Belgium and Masaryk University, Czech Republic): “The Address: Ufa-Central, Adolf Hitler Platz, Brno, Protectorate of Bohemia and Moravia. War time cinemagoing in a nationally divided city”</p>
    <p>Joseph GARNCARZ (Universität zu Köln, Germany): “New insights into the cinema of the occupiers. National film success rankings as tools for exploring the film preferences of German cinema viewers”</p>
    <p>Anthony RESCIGNO (Université de Lorraine, France): “Cinema in annexed Moselle: somewhere between pleasure and cultural hegemony”</p>
    <p>Brett BOWLES (Indiana University Bloominton, USA): “Gallica as a Tool for Mapping Film Distribution and Reception in Wartime France”</p>
    <p>Francesco BONO (University of Perugia, Italy): “Mapping unknown territories. Film exhibition, consumption and reception in Italy during WWII”</p>
    <p>Thomas V. HAGEN (Arkivet – Center for Peace and Human Rights, Norway): “The Pursuit of Cinema Cultures in the Second World War: Methodological Implications of the Norwegian Case (1940–45)”</p>
    <h2>DAY 2: May 16</h2>
    <p>Artur PETZ (University of Łódź, Poland): “Researching cinemas and moviegoing in German-occupied Łódź”</p>
    <p>Marta GARCIA CABRERA (University of Las Palmas de Gran Canaria, Spain): “Supply and exhibition of British films to Spain during the Second World War: documentary, feature films and newsreels”.</p>
    <p>Emil STJERNHOLM (Lund University, Sweden): “The Newsreel War in Sweden: The Case of ‘Biograf Spegeln’ in Stockholm”</p>
    <p>Oksana MAISTAT (Humboldt Universität Berlin, Germany) and Kristina TANIS (European University, St-Petersburg, Russia): “Secret Tibet in the USSR after World War II: between Nazi and Soviet Propagandas”</p>
    <p>Imme KLAGES (Johannes-Gutenberg-University of Mainz, Germany) and Alexandra SCHNEIDER (Johannes-Gutenberg-University of Mainz, Germany): ”Mapping German Film Exile: A DH-Project in Progress”</p>
    <p>Hands-on workshop to share individual experiences about the use of digital tools and sources; to compare and interrogate specific research questions and methodologies; to discuss the pros and cons of existing databases and methods to analyse; to think about ways to make computational databases 'talk to each other' (through data modelling and harmonization), allowing direct comparative research; to discuss the sustainability of such initiatives.</p>
    <p>The meeting will be concluded by an exchange of ideas about the possibility of producing an edited volume or a journal (theme issue) based on the papers presented at this workshop.</p>
    <h2>Location:</h2>
    <p>KU Leuven Faculty Club<br>
    Groot Begijnhof 14<br>
    3000 Leuven<br>
    Belgium</p>
    <p>This is located at the Groot Begijnhof (Grand Beguinage), which has been recognised as UNESCO World Heritage. <a href="https://goo.gl/maps/vnSJZDEscvE2">https://goo.gl/maps/vnSJZDEscvE2</a></p>
    <h2>Attendance:</h2>
    <p>The total number of participants is limited. Scholars who are not presenting their research, but would like to participate as observers, are invited to contact Prof. Roel Vande Winkel (<a href="mailto:roel.vandewinkel@kuleuven.be">roel.vandewinkel@kuleuven.be</a>) no later than Tuesday May 8. Participants cover their own travel and lodging costs.</p>
  </div>
</article>
