---
title: "From Text Interpretation to Data to Networks: A Two Part Workshop on Data Extraction and Visualization of Historical Sources"
description: "A Two Part Workshop on Data Extraction and Visualization of Historical Sources"
---

<article>
  <div class="breadcrumb">
    <a href="/activities.html">Activities</a>
    <a href="javascript:void(0)">Workshop on Data Extraction and visualization of historical sources</a>
  </div>
  <header>
    <h1>Workshop: From Text Interpretation to Data to Networks: a Two Part Workshop on Data Extraction and Visualization of Historical Sources.</h1>
  </header>
  <div class="practical">
    <p><i class="fa fa-calendar left"></i><time datetime="2016-03-17">17-18 March 2016</time><br />
    <i class="fa fa-map-marker left"></i>Oxford Brookes University<br />
    free entrance – registration required
  </div>
  <aside>
    <%= image_tag "workshop-data-extraction-large.png" %>
  </aside>
  <div class="content">
    <p>This workshop is a closed DICIS event and will give DICIS members the chance to work with their own datasets (on historical sources, data, …) with the digital tools provided, explained and applied.</p>
    <h2>About the workshop</h2>
    <h3>Part 1: From text interpretation to data</h3>
    <p>Many network analysis projects rely on somewhat ready-made sources for data; for example, email logs, questionnaires, church registers, letter exchanges and trade relations make it relatively easy to identify who is connected to whom and how. It is, however, considerably more difficult to extract quantifiable data from text. Some issues to consider here are: how can we bridge the gap between the depth of hermeneutics and data analysis? How can we systematize text interpretation?</p>
    <p>This first workshop will address the above question and provide hands-on experience with the extraction of network data from a narrative through the use of methods developed in qualitative data analysis.</p>
    <h3>Part 2: Visualizing Networks</h3>
    <p>This second workshop will build on the data extracted during the first workshop and will provide participants with the technical skills to use entry-level software tools to visualize and explore social networks. Here are some of the questions that we will consider:</p>
    <ul>
      <li>how do visualizations change our perception of coded data?</li>
      <li>how can we translate hypotheses into data visualizations and which new questions can network visualizations raise?</li>
    </ul>
    <p>We will also critically assess the added value of network visualizations, the underlying principles behind visualization layouts as well as network computations, and finally, their potential to mislead uncritical audiences.</p>
    <h2>Prerequisites</h2>
    <p>None! These workshops are conceptualized as a gentle introduction to the topic and are meant for humanists with an interest in social network analysis. No technical skills in network visualization or software are expected or required.</p>
    <p>The workshop will be preceded by a interactive FAQ platform to prepare and facilitate the workshop.</p>
    <h2>Contact</h2>
    <p>Please contact Lies Van de Vijver (<a href="mailto:liesbeth.vandevijver@ugent.be">liesbeth.vandevijver@ugent.be</a>) or Daniela Treveri Gennari (<a href="mailto:dtreveri-gennari@brookes.ac.uk">dtreveri-gennari@brookes.ac.uk</a>) for more information.</p>
  </div>
</article>
