---
title: "Workshop Cinema Context"
description: "This workshop is a two-days closed DICIS event around the Dutch “Cinema Context” project"
---

<article>
  <div class="breadcrumb">
    <a href="/activities.html">Activities</a>
    <a href="javascript:void(0)">Workshop Cinema Context</a>
  </div>
  <header>
    <h1>WORKSHOP METHODS (3): Cinema Context</h1>
  </header>
  <div class="practical">
    <p><i class="fa fa-calendar left"></i><time datetime="2015-06-22">25-26 February 2016</time><br />
    <i class="fa fa-map-marker left"></i>Catholic University of Leuven<br />
    Cinema Context: <a href="http://www.cinemacontext.nl">http://www.cinemacontext.nl</a><br>
    Institute for Media Studies: <a href="http://soc.kuleuven.be/web/home/4/8/eng">http://soc.kuleuven.be/web/home/4/8/eng</a>
    </p>
  </div>
  <aside>
    <%= image_tag "cinemacontext.jpg" %>
  </aside>
  <div class="content">
    <p>This workshop is a two-days closed DICIS event around the Dutch “Cinema Context” project with Karel Dibbets, Iason Jongepier, Kathleen Lotze, Julia Noordegraaf and Thunnis Van Oort. The workshop is organized by the DICIS partner <%= link_to "Institute for Media Studies", "institute-for-media-studies.html" %>.</p>
  </div>
</article>
