---
title: "Workshop Methods (8): Film Distribution, Exhibition and Consumption in the Second World War"
description: "A Workshop on Data Collection and Analysis, Computational Methods and the Opportunities for Comparative Research"
---

<article>
  <div class="breadcrumb">
    <a href="/activities.html">Activities</a>
    <a href="javascript:void(0)">Workshop Methods (8): Film Distribution, Exhibition and Consumption in the Second World War</a>
  </div>
  <header>
    <h1>Workshop Methods (8): Film Distribution, Exhibition and Consumption in the Second World War: A Workshop on Data Collection and Analysis, Computational Methods and the Opportunities for Comparative Research </h1>
  </header>
  <div class="practical">
    <p> Organized by DICIS and IMS</p>
    <p><i class="fa fa-calendar left"></i><time datetime="2016-03-17">15-16 May 2018</time><br />
    <i class="fa fa-map-marker left"></i>KU Leuven, Belgium</p>
  </div>
  <aside>
    &nbsp;
  </aside>
  <div class="content">
    <p>Within the specific time frame of the Second World War, this workshop invites researchers who examine the operations of distribution, exhibition and consumption of cinema in belligerent and neutral countries. Following in the footsteps of ‘Cinema and the Swastika: The International Expansion of Third Reich Cinema’ (Vande Winkel & Welch, 2007, 2011 revised) and inscribing itself into the field of ‘New Cinema History’ (Maltby, Biltereyst & Meers, 2011), this workshop brings together researchers who are compiling and analysing empirical data about wartime film distribution, exhibition, reception in or across specific cinemas, cities, regions or countries. The workshop, organised by the Institute for Media Studies (IMS) and the Scientific Research Network on Digital Cinema Studies (DICIS), strives to stimulate collaboration among scholars and to explore new methodologies and new types of interdisciplinary investigation, taking full advantage of the impact of digitalization on historical research (digital humanities).</p>
    <h2>The aim of this workshop is:</h2>
    <ul>
      <li>To compare ongoing or recently completed research on film distribution, exhibition and consumption/reception during World War II.</li>
      <li>To share individual experiences about the use of digital tools and sources such as digitized newspapers and journals; online databases related to film such as IMDB or Filmportal.de; tools such as Nvivo for analysing transcribed oral history interviews; geographic information software such as GIS, or specifically designed databases, as well as traditional analogue source materials (newspaper archives, film posters, wartime documents, diaries, reference works) to retrieve empirical data, identify the films mentioned in historical sources and reconstruct the circulation of those films.</li>
      <li>To compare and interrogate specific research questions and methodologies</li>
      <li>To present and discuss the pros and cons of existing databases and methods to analyse.</li>
      <li>To think about ways to make computational databases 'talk to each other' (through data modelling and harmonization), allowing direct comparative research.</li>
      <li>To stimulate collaboration among scholars within, as well as outside the discipline of film studies, and to explore new methodologies and new types of collaborative investigation, taking full advantage of the impact of digitalization on historical research</li>
    </ul>
    <h2>Papers may discuss topics such as:</h2>
    <ul>
      <li>Film distribution networks or practices (local, national, international)</li>
      <li>Film exhibition (local, national, international)</li>
      <li>Film censorship (local, national, international)</li>
      <li>Film consumption/reception (local, national, international)</li>
      <li>The ways in which the ideological visions of the wartime belligerents translated into different approaches to film policy</li>
      <li>The practical implementation of wartime film policies</li>
      <li>The ways in which new research on distribution, exhibition and reception can help us learn how audiences reacted to wartime films</li>
      <li>The challenges of gathering and validating the quantitative information needed to analyse such topics </li>
      <li>Formulating hypotheses about the circulation of films in societies dominated by economic constraints and political coercion (censorship, restricted access to the international film market and/or bans on films from particular countries).</li>
      <li>Digital and analogue tools and sources used for that purpose.</li>
      <li>The consideration of best practice in formulating research questions and employing comparative tools and methodologies from an international/comparative perspective</li>
    </ul>
    <p><strong>Confirmed Keynote: ‘Wartime Geopolitics at the Movies: The 'European Cinema' of the Nazi New Order in Global Perspective</strong>' by Benjamin Martin (Department of History of Science and Ideas, Uppsala University),  author of ‘The Nazi-Fascist New Order for European Culture’ (Harvard University Press, 2016).
    <p>Thunnis van Oort (CREATE, University of Amsterdam) and Roel Vande Winkel (KU Leuven) will present the results of their recently conducted joint research in the introductory paper 'Comparative Potential. The Cinema Context Data Model and World War II: A Comparative Case Study into Film Exhibition in German-occupied Amsterdam (Netherlands) and Antwerp (Belgium)'.</p>
    <p><strong>The workshop welcomes participants</strong> working on countries in the Axis sphere of influence (Germany, Italy, Japan and the countries they occupied or befriended) as well as contributions on the Allies (USA, UK, USSR) and their sphere of influence. Research on film distribution, exhibition and consumption in neutral countries (where films from both spheres of influence met and competed) is particularly welcomed.
    <h2>Papers?</h2>
    <ul>
      <li>Proposals for papers and/or hands-on presentations are now invited. Every paper/presentation should offer a reflection on the sources and methodologies employed. Please send abstracts of 300-500 words and a short biography to roel.vandewinkel@kuleuven.be by December 18 and address any queries to the same email.</li>
      <li>After the workshop, you may be invited to submit a revised version of your paper for consideration in a special issue or edited volume to be organized by members of the committee.</li>
    </ul>
    <h2>Scientific committee:</h2>
    <p>Roel Vande Winkel (DICIS - KU Leuven), Pavel Skopal (DICIS - Masarykova univerzita) and Thunnis van Oort (University of Amsterdam, Create)</p>
  </div>
</article>
