---
title: Yuri Tsivian on statistical film style analysis
description: Prof. Yuri Tsivian (University of Chicago) gives a public lecture on statistical film style analysis
---

<article>
  <div class="breadcrumb">
    <a href="/activities.html">Activities</a>
    <a href="javascript:void(0)">PUBLIC LECTURE (1): Yuri Tsivian on statistical film style analysis</a>
  </div>
  <header>
    <h1>PUBLIC LECTURE (1): Yuri Tsivian on statistical film style analysis</h1>
  </header>
  <div class="practical">
    <p><i class="fa fa-calendar left"></i><time datetime="2016-10-10">10 October 2016</time><br />
    <i class="fa fa-map-marker left"></i>Ghent University<br />
    <i class="fa fa-link left"></i><a href="http://www.cinemetrics.lv">http://www.cinemetrics.lv</a><br>
    </p>
  </div>
  <aside>
    <%= image_tag "cinemetrics.jpg" %>
  </aside>
  <div class="content">
    <p><a href="http://cms.uchicago.edu/faculty/tsivian">Prof. Yuri Tsivian</a> (University of Chicago) gives a public lecture on statistical film style analysis and on  cinemetrics as a research tool and as a mode of analyzing film style.
    </p>
  </div>
</article>
